html body {
    color: #000000;
    font-family: Helvetica, Verdana, sans-serif, Arial, Geneva, serif;
    font-size: 14px; 
    margin: 0px;
    padding: 0px;
    background-color: #dddd00;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
}

#header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    height: 26px;
    padding-top: 3px;
    padding-left: 3px;
}

a:link, a:visited, a:hover, a:active {
    color: #0000ff;
    text-decoration: none;
}

p {
    color: #000000;
    background-color: #edf3ff;
    border: solid 2px #000000;
    padding: 3px;
    margin: 0;
}

ol, ul {
    color: #000000;
    background-color: #edf3ff;
    border: solid 2px #000000;
    padding: 3px 0;
}

p a, ol a, ul a {
    color: #0000ff;
    background-color: transparent;
    font-weight: bold;
}

p:first-letter {
    font-size: 16px; 
    font-weight: bold;
}

h2 {
    background-color: #7f7f7f;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid 2px #000000;
}

h3 {
    color: #7f7f7f;
    background-color: #cccccc;
    margin: 0;
    padding: 3px 0 0 3px;
    height: 20px;
}


h3 a {
    color: #0000ff;
    background-color: transparent;
}

.seealso span {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 3px;
}

.seealso table tr th {
    background-color: #333333;
    color: #eeeeee;
    font-size: 16px; 
    font-weight: bold;
    border-bottom: solid 2px #ffffff;
}

.seealso table tr td {
    padding-top: 0;
}

.seealso a {
    background-color: #cccccc;
    font-weight: bold;
    font-size: 14px;
}

table {
    color: #ffffff;
    background-color: #cccccc;
    border: solid 1px #000000;
    margin: 3px;
    width: 100%
}

table tr td {
    font-size: 14px; 
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

table tr td a {
    background-color: transparent;
    font-size: 14px; 
    font-weight: bold;
}

tr.oddrow {
    background-color: #edf3ff;
}

td.oddrow a {
    background-color: #edf3ff;
}
