<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string></string>
	<key>abundanceCrust</key>
	<string></string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>209,9871</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>85</integer>
	<key>atomicRadius</key>
	<string>1.43</string>
	<key>atomicVolume</key>
	<string></string>
	<key>boilingPoint</key>
	<string>337</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-68-8</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.017</string>
	<key>covalentRadius</key>
	<string>1.45</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string></string>
	<key>descr</key>
	<string>Radioactive member of the halogen group.</string>
	<key>discoverer</key>
	<string>D.R.Corson, K.R.MacKenzie, E.Segré</string>
	<key>discoveryLocation</key>
	<string>United States, University of California</string>
	<key>discoveryYear</key>
	<string>1940</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>7.8346</string>
	<key>electroNegativity</key>
	<string>2.2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6p</key>
		<string>5</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>92</string>
	<key>enthalpyOfFusion</key>
	<string></string>
	<key>enthalpyOfVaporization</key>
	<string></string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>6p</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>17</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>114</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string>9.65</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>302</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string></string>
	<key>name</key>
	<string>Astatine</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>85</string>
	<key>numberOfNeutrons</key>
	<string>125</string>
	<key>numberOfProtons</key>
	<string>85</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>±1, 3, 5, 7</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in HNO₃, organic solvents</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Halogen</string>
	<key>specificHeat</key>
	<string></string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>At</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>6p</key>
			<string>5</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>88</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>119</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>156</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>202</string>
		<key>pa1kFootnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>258</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>334</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
