<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-28</string>
	<key>abundanceCrust</key>
	<string>4x10⁻³</string>
	<key>abundanceSea</key>
	<string>4x10⁻⁶</string>
	<key>atomicMass</key>
	<string>196.96655</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>79</integer>
	<key>atomicRadius</key>
	<string>1.79</string>
	<key>atomicVolume</key>
	<string>10.2</string>
	<key>boilingPoint</key>
	<string>2856</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-57-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000142</string>
	<key>conductivityElectrical</key>
	<string>0.452</string>
	<key>conductivityThermal</key>
	<string>3.17</string>
	<key>covalentRadius</key>
	<string>1.34</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>98.8</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>19.3</string>
	<key>descr</key>
	<string>Soft bright yellow transition metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>220</string>
	<key>elasticModulusRigidity</key>
	<string>27</string>
	<key>elasticModulusYoungs</key>
	<string>78</string>
	<key>electroChemicalEquivalent</key>
	<string>2.4496</string>
	<key>electroNegativity</key>
	<string>2.54</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5.1</string>
	<key>enthalpyOfAtomization</key>
	<string>364</string>
	<key>enthalpyOfFusion</key>
	<string>12.55</string>
	<key>enthalpyOfVaporization</key>
	<string>324.4</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>11</string>
	<key>hardnessScaleBrinell</key>
	<string>2450</string>
	<key>hardnessScaleMohs</key>
	<string>2.5</string>
	<key>hardnessScaleVickers</key>
	<string>216</string>
	<key>heatOfFusion</key>
	<string>12.55</string>
	<key>heatOfVaporization</key>
	<string>334.4</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.85</string>
	<key>ionizationPotentialFirst</key>
	<string>9.225</string>
	<key>ionizationPotentialSecond</key>
	<string>20.521</string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>1064.18</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.418</string>
	<key>molarVolume</key>
	<string>10.2</string>
	<key>name</key>
	<string>Gold</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>79</string>
	<key>numberOfNeutrons</key>
	<string>118</string>
	<key>numberOfProtons</key>
	<string>79</string>
	<key>opticalReflectivity</key>
	<string>95</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3, 1</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in aqua regia</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.129</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Au</string>
	<key>valenceElectronPotential</key>
	<string>51</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5d</key>
			<string>10</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1373</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>1541</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1748</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2008</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2347</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2805</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
