<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-280.1</string>
	<key>abundanceCrust</key>
	<string>8.5x10⁻³</string>
	<key>abundanceSea</key>
	<string>2x10⁻⁵</string>
	<key>atomicMass</key>
	<string>208.98038</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>83</integer>
	<key>atomicRadius</key>
	<string>1.63</string>
	<key>atomicVolume</key>
	<string>21.3</string>
	<key>boilingPoint</key>
	<string>1564</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-69-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000133</string>
	<key>conductivityElectrical</key>
	<string>0.00867</string>
	<key>conductivityThermal</key>
	<string>0.0787</string>
	<key>covalentRadius</key>
	<string>1.46</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>19</string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string>9.79</string>
	<key>descr</key>
	<string>Brittle white metal with a pink tint.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>31</string>
	<key>elasticModulusRigidity</key>
	<string>12</string>
	<key>elasticModulusYoungs</key>
	<string>32</string>
	<key>electroChemicalEquivalent</key>
	<string>2.599</string>
	<key>electroNegativity</key>
	<string>2.02</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6p</key>
		<string>3</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.22</string>
	<key>enthalpyOfAtomization</key>
	<string>207.1</string>
	<key>enthalpyOfFusion</key>
	<string>10.9</string>
	<key>enthalpyOfVaporization</key>
	<string>151</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>6p</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>15</string>
	<key>hardnessScaleBrinell</key>
	<string>94.2</string>
	<key>hardnessScaleMohs</key>
	<string>2.225</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>11.3</string>
	<key>heatOfVaporization</key>
	<string>104.8</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>1.03</string>
	<key>ionizationPotentialFirst</key>
	<string>7.289</string>
	<key>ionizationPotentialSecond</key>
	<string>16.687</string>
	<key>ionizationPotentialThird</key>
	<string>25.559</string>
	<key>meltingPoint</key>
	<string>271.40</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.52</string>
	<key>molarVolume</key>
	<string>21.37</string>
	<key>name</key>
	<string>Bismuth</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>83</string>
	<key>numberOfNeutrons</key>
	<string>126</string>
	<key>numberOfProtons</key>
	<string>83</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3, 5</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.122</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Bi</string>
	<key>valenceElectronPotential</key>
	<string>41.9</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>6p</key>
			<string>3</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>668</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>768</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>892</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>1052</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1265</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>1562</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
