<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.4</string>
	<key>abundanceSea</key>
	<string>6.73x10¹</string>
	<key>atomicMass</key>
	<string>79.904</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>35</integer>
	<key>atomicRadius</key>
	<string>1.12</string>
	<key>atomicVolume</key>
	<string>23.5</string>
	<key>boilingPoint</key>
	<string>58.8</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-95-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.00122</string>
	<key>covalentRadius</key>
	<string>1.14</string>
	<key>criticalTemperature</key>
	<string>315</string>
	<key>crossSection</key>
	<string>6.8</string>
	<key>crystalStructure</key>
	<string>Cubic</string>
	<key>density</key>
	<string>3.1028</string>
	<key>descr</key>
	<string>Heavy red-brown, fuming liquid with a choking, irritating odor; causes tears</string>
	<key>discoverer</key>
	<string>Antoine J. Balard</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1826</string>
	<key>elasticModulusBulk</key>
	<string>1.9</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusTYoung</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>2.9812</string>
	<key>electroNegativity</key>
	<string>2.96</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>5</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>111.7</string>
	<key>enthalpyOfFusion</key>
	<string>5.29</string>
	<key>enthalpyOfVaporization</key>
	<string>15.46</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Noncombustable Liquid</string>
	<key>group</key>
	<string>17</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>5.286</string>
	<key>heatOfVaporization</key>
	<string>15.438</string>
	<key>incompatibilities</key>
	<string>combustible organics (sawdust, wood, cotton, straw, etc.), oxidizable material, aqueous ammonia, hydrogen, acetylene, phosphorus, aluminum, titanium, mercury, potassium, other metals.</string>
	<key>ionicRadius</key>
	<string>1.96</string>
	<key>ionizationPotentialFirst</key>
	<string>11.814</string>
	<key>ionizationPotentialSecond</key>
	<string>21.8</string>
	<key>ionizationPotentialThird</key>
	<string>36</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4223.8900</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4365.6300</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4441.7400</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4472.6100</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4477.7200</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4525.5900</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4542.8900</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4678.7000</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4704.9200</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4785.4800</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4816.6800</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4930.6200</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5182.3600</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5238.2600</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5332.0700</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5506.7200</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6148.6000</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6350.7300</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6544.5700</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6559.8000</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6582.1700</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6631.6200</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6682.2800</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6692.1300</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Br I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-56.4</string>
	<key>meltingPoint</key>
	<string>-7.2</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>36.057</string>
	<key>molarVolume</key>
	<string>25.62</string>
	<key>name</key>
	<string>Bromine</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.965</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Br67</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.958</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&lt;1.5us</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Br68</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>P</string>
			<key>daughterIsotopes</key>
			<string>Se68</string>
			<key>halfLife</key>
			<string>&lt;100ns</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Br69</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.945</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.400</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se70</string>
			<key>halfLife</key>
			<string>79.1ms</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Br70</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.939</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.500</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se71</string>
			<key>halfLife</key>
			<string>21.4s</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Br71</string>
			<key>nuclearSpin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.936</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.700</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se72</string>
			<key>halfLife</key>
			<string>78.6s</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Br72</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.101MeV</string>
			<key>zp</key>
			<string>~100</string>
			<key>decayEnergy</key>
			<string>0.101</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Br72</string>
			<key>halfLife</key>
			<string>10.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.801</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se72</string>
			<key>halfLife</key>
			<string>10.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.932</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.660</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se73</string>
			<key>halfLife</key>
			<string>3.4m</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Br73</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.9299</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.907</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se74</string>
			<key>halfLife</key>
			<string>25.4m</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Br74</string>
			<key>nuclearSpin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.014MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.921</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se74</string>
			<key>halfLife</key>
			<string>46m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9258</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.030</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se75</string>
			<key>halfLife</key>
			<string>96.7m</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Br75</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9245</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.963</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se76</string>
			<key>halfLife</key>
			<string>16.2h</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Br76</string>
			<key>nuclearSpin</key>
			<string>1-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.103MeV</string>
			<key>zp</key>
			<string>&gt;99.4</string>
			<key>decayEnergy</key>
			<string>0.103</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>1.31s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;0.65</string>
			<key>decayEnergy</key>
			<string>5.066</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se76</string>
			<key>halfLife</key>
			<string>1.31s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9214</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.365</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se77</string>
			<key>halfLife</key>
			<string>57.036h</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Br77</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.105MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.106</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>4.28m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.9212</string>
			<key>zp</key>
			<string>&gt;=99.99</string>
			<key>decayEnergy</key>
			<string>3.574</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se78</string>
			<key>halfLife</key>
			<string>6.46m</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Br78</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;=0.01</string>
			<key>decayEnergy</key>
			<string>0.706</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr78</string>
			<key>halfLife</key>
			<string>6.46m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>50.69</string>
			<key>atomicMass</key>
			<string>78.9183</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Br79</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.208MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.208</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>4.86s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.9185</string>
			<key>zp</key>
			<string>91.7</string>
			<key>decayEnergy</key>
			<string>2.004</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr80</string>
			<key>halfLife</key>
			<string>17.68m</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Br80</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>8.3</string>
			<key>decayEnergy</key>
			<string>1.871</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Se80</string>
			<key>halfLife</key>
			<string>17.68m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.086MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.086</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>4.4205MeV</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>49.31</string>
			<key>atomicMass</key>
			<string>80.9163</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Br81</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.9168</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.093</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr82</string>
			<key>halfLife</key>
			<string>35.3h</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclideSymbol</key>
			<string>Br82</string>
			<key>nuclearSpin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.045MeV</string>
			<key>zp</key>
			<string>97.6</string>
			<key>decayEnergy</key>
			<string>0.046</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>6.13m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>2.4</string>
			<key>decayEnergy</key>
			<string>3.139</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr82</string>
			<key>halfLife</key>
			<string>6.13m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.9152</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.972</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr83</string>
			<key>halfLife</key>
			<string>2.4h</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclideSymbol</key>
			<string>Br83</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.9165</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.650</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr84</string>
			<key>halfLife</key>
			<string>31.8m</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclideSymbol</key>
			<string>Br84</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.320MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.970</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr84</string>
			<key>halfLife</key>
			<string>6m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>6-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.9156</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.870</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr85</string>
			<key>halfLife</key>
			<string>2.9m</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclideSymbol</key>
			<string>Br85</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.9188</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.626</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr86</string>
			<key>halfLife</key>
			<string>55.1s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclideSymbol</key>
			<string>Br86</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9207</string>
			<key>zp</key>
			<string>2.52</string>
			<key>decayEnergy</key>
			<string>1.337</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr86</string>
			<key>halfLife</key>
			<string>55.6s</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclideSymbol</key>
			<string>Br87</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.853</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr87</string>
			<key>halfLife</key>
			<string>55.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9241</string>
			<key>zp</key>
			<string>6.58</string>
			<key>decayEnergy</key>
			<string>1.910</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr87</string>
			<key>halfLife</key>
			<string>16.34s</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclideSymbol</key>
			<string>Br88</string>
			<key>nuclearSpin</key>
			<string>1, 2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.960</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr88</string>
			<key>halfLife</key>
			<string>16.34s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9264</string>
			<key>zp</key>
			<string>13.8</string>
			<key>decayEnergy</key>
			<string>3.050</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr88</string>
			<key>halfLife</key>
			<string>4.348s</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclideSymbol</key>
			<string>Br89</string>
			<key>nuclearSpin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.160</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr89</string>
			<key>halfLife</key>
			<string>4.348s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9306</string>
			<key>zp</key>
			<string>25.2</string>
			<key>decayEnergy</key>
			<string>4.040</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr89</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>55</string>
			<key>nuclideSymbol</key>
			<string>Br90</string>
			<key>nuclearSpin</key>
			<string>1.91s</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.350</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr90</string>
			<key>halfLife</key>
			<string>1.91s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.934</string>
			<key>zp</key>
			<string>20</string>
			<key>decayEnergy</key>
			<string>5.340</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr90</string>
			<key>halfLife</key>
			<string>0.541s</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclideSymbol</key>
			<string>Br91</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.800</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr91</string>
			<key>halfLife</key>
			<string>0.541s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9393</string>
			<key>zp</key>
			<string>33.1</string>
			<key>decayEnergy</key>
			<string>6.660</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr91</string>
			<key>halfLife</key>
			<string>0.343s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclideSymbol</key>
			<string>Br92</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.200</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr92</string>
			<key>halfLife</key>
			<string>0.343s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.943</string>
			<key>zp</key>
			<string>10</string>
			<key>decayEnergy</key>
			<string>7.700</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr92</string>
			<key>halfLife</key>
			<string>102ms</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclideSymbol</key>
			<string>Br93</string>
			<key>nuclearSpin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.000</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr93</string>
			<key>halfLife</key>
			<string>102ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.949</string>
			<key>zp</key>
			<string>30</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Kr93</string>
			<key>halfLife</key>
			<string>70ms</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclideSymbol</key>
			<string>Br94</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr94</string>
			<key>halfLife</key>
			<string>70ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>60</string>
			<key>nuclideSymbol</key>
			<string>Br95</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>35</string>
	<key>numberOfNeutrons</key>
	<string>45</string>
	<key>numberOfProtons</key>
	<string>35</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.001132</string>
	<key>oxidationStates</key>
	<string>±1, 5</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string>5.51</string>
	<key>series</key>
	<string>Halogen</string>
	<key>specificHeat</key>
	<string>0.226</string>
	<key>standardCondition</key>
	<string>Liquid</string>
	<key>symbol</key>
	<string>Br</string>
	<key>valenceElectronPotential</key>
	<string>-7.35</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>5</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-87.7</string>
		<key>pa10</key>
		<string>-71.8</string>
		<key>pa100</key>
		<string>-52.7</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>58.4</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>2.5</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-29.3</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
