<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string></string>
	<key>abundanceCrust</key>
	<string></string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>272.1535</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>112</integer>
	<key>atomicRadius</key>
	<string></string>
	<key>atomicVolume</key>
	<string></string>
	<key>boilingPoint</key>
	<string></string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>54084-26-3</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string></string>
	<key>covalentRadius</key>
	<string></string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Unknown</string>
	<key>density</key>
	<string></string>
	<key>descr</key>
	<string>Man made element of which only a few atoms have ever been created.</string>
	<key>discoverer</key>
	<string> Gesellschaft für Schwerionenforschung (GSI)</string>
	<key>discoveryLocation</key>
	<string>Darmstadt, Germany</string>
	<key>discoveryYear</key>
	<string>1996</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5f</key>
		<string>14</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6d</key>
		<string>10</string>
		<key>6p</key>
		<string>6</string>
		<key>6s</key>
		<string>2</string>
		<key>7s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string></string>
	<key>enthalpyOfVaporization</key>
	<string></string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>7s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>12</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string></string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string></string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string></string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string></string>
	<key>name</key>
	<string>Copernicum</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>112</string>
	<key>numberOfNeutrons</key>
	<string>173</string>
	<key>numberOfProtons</key>
	<string>112</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string></string>
	<key>period</key>
	<string>7</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string></string>
	<key>standardCondition</key>
	<string>Synthetic</string>
	<key>symbol</key>
	<string>Cn</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>7s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string></string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string></string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string></string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
