<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.5x10¹</string>
	<key>abundanceSea</key>
	<string>2x10⁻⁵</string>
	<key>atomicMass</key>
	<string>58.933200</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>9</integer>
	<key>atomicNumber</key>
	<integer>27</integer>
	<key>atomicRadius</key>
	<string>1.67</string>
	<key>atomicVolume</key>
	<string>6.7</string>
	<key>boilingPoint</key>
	<string>2927</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-48-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000138</string>
	<key>conductivityElectrical</key>
	<string>0.172</string>
	<key>conductivityThermal</key>
	<string>1</string>
	<key>covalentRadius</key>
	<string>1.16</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>37.5</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>8.86</string>
	<key>descr</key>
	<string>Tough silver-white transition metal.</string>
	<key>discoverer</key>
	<string>George Brandt</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1737</string>
	<key>elasticModulusBulk</key>
	<string>180</string>
	<key>elasticModulusRigidity</key>
	<string>75</string>
	<key>elasticModulusYoungs</key>
	<string>209</string>
	<key>electroChemicalEquivalent</key>
	<string>1.0994</string>
	<key>electroNegativity</key>
	<string>1.88</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>7</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5</string>
	<key>enthalpyOfAtomization</key>
	<string>26.8</string>
	<key>enthalpyOfFusion</key>
	<string>15.23</string>
	<key>enthalpyOfVaporization</key>
	<string>382.4</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>7</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustable solid (except as dust)</string>
	<key>group</key>
	<string>9</string>
	<key>hardnessScaleBrinell</key>
	<string>700</string>
	<key>hardnessScaleMohs</key>
	<string>5</string>
	<key>hardnessScaleVickers</key>
	<string>1043</string>
	<key>heatOfFusion</key>
	<string>16.19</string>
	<key>heatOfVaporization</key>
	<string>376.5</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers, ammonium nitrate</string>
	<key>ionicRadius</key>
	<string>0.745</string>
	<key>ionizationPotentialFirst</key>
	<string>7.86</string>
	<key>ionizationPotentialSecond</key>
	<string>17.06</string>
	<key>ionizationPotentialThird</key>
	<string>33.5</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4118.7740</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Co I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4121.3180</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Co I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>Ferromagnetic</string>
	<key>meltingPoint</key>
	<string>1495</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.81</string>
	<key>molarVolume</key>
	<string>6.61</string>
	<key>name</key>
	<string>Cobalt</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.002</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>Co48</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.99</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>
</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>Co49</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.982</string>
			<key>zp</key>
			<string>&gt;42</string>
			<key>decayEnergy</key>
			<string>13.130</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Mn49</string>
			<key>halfLife</key>
			<string>44ms</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>Co50</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>17.280</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe50</string>
			<key>halfLife</key>
			<string>44ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.971</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>Co51</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9636</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.410</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe52</string>
			<key>halfLife</key>
			<string>18ms</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>Co52</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.630</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Mn51</string>
			<key>halfLife</key>
			<string>18ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.9542</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.302</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe53</string>
			<key>halfLife</key>
			<string>240ms</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>Co53</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>3.190MeV</string>
			<key>zp</key>
			<string>~98.5</string>
			<key>decayEnergy</key>
			<string>11.492</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe53</string>
			<key>halfLife</key>
			<string>247ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>19/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>~1.5</string>
			<key>decayEnergy</key>
			<string>1.591</string>
			<key>decayModes</key>
			<string>P</string>
			<key>daughterIsotopes</key>
			<string>Fe52</string>
			<key>halfLife</key>
			<string>247ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.9485</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.243</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe54</string>
			<key>halfLife</key>
			<string>193.23ms</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>Co54</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.199MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.442</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe54</string>
			<key>halfLife</key>
			<string>1.48m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>7+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.942</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.451</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe55</string>
			<key>halfLife</key>
			<string>17.53h</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>Co55</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.9398</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.566</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe56</string>
			<key>halfLife</key>
			<string>77.27d</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>Co56</string>
			<key>nuclearSpin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.9363</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.836</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe57</string>
			<key>halfLife</key>
			<string>271.79d</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>Co57</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.9358</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.307</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Fe58</string>
			<key>halfLife</key>
			<string>70.86d</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>Co58</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.024MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.025</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>9.04h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>58.9332</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Co59</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.9338</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.824</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni60</string>
			<key>halfLife</key>
			<string>5.2714y</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Co60</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.059MeV</string>
			<key>zp</key>
			<string>99.76</string>
			<key>decayEnergy</key>
			<string>0.059</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>10.467m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.24</string>
			<key>decayEnergy</key>
			<string>2.883</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni60</string>
			<key>halfLife</key>
			<string>10.467m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.9325</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.322</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni61</string>
			<key>halfLife</key>
			<string>1.650h</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Co61</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.9341</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.315</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni62</string>
			<key>halfLife</key>
			<string>1.5m</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Co62</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.022MeV</string>
			<key>zp</key>
			<string>&gt;99</string>
			<key>decayEnergy</key>
			<string>5.337</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni62</string>
			<key>halfLife</key>
			<string>13.91m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;1</string>
			<key>decayEnergy</key>
			<string>0.022</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>13.91m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.9336</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.672</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni63</string>
			<key>halfLife</key>
			<string>27.4s</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Co63</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.9358</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.307</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni64</string>
			<key>halfLife</key>
			<string>0.3s</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Co64</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.9365</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.958</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni65</string>
			<key>halfLife</key>
			<string>1.2s</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Co65</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.94</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.000</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni66</string>
			<key>halfLife</key>
			<string>0.233s</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Co66</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.941</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.400</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni67</string>
			<key>halfLife</key>
			<string>0.42s</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Co67</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.944</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.700</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni68</string>
			<key>halfLife</key>
			<string>0.18s</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Co68</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.945</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.300</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni69</string>
			<key>halfLife</key>
			<string>0.27s</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Co69</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.700</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni70</string>
			<key>halfLife</key>
			<string>150ms</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Co70</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.952</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.900</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ni71</string>
			<key>halfLife</key>
			<string>210ms</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Co71</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.956</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Co72</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Co73</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>27</string>
	<key>numberOfNeutrons</key>
	<string>32</string>
	<key>numberOfProtons</key>
	<string>27</string>
	<key>opticalReflectivity</key>
	<string>67</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.421</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Co</string>
	<key>valenceElectronPotential</key>
	<string>38.7</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>7</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1517</string>
		<key>pa10</key>
		<string>1687</string>
		<key>pa100</key>
		<string>1892</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2925</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2482</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2150</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
