<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.0x10¹</string>
	<key>abundanceSea</key>
	<string>1x10⁻⁵</string>
	<key>atomicMass</key>
	<string>92.90638</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>41</integer>
	<key>atomicRadius</key>
	<string>2.08</string>
	<key>atomicVolume</key>
	<string>10.87</string>
	<key>boilingPoint</key>
	<string>4744</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-03-1</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000073</string>
	<key>conductivityElectrical</key>
	<string>0.0693</string>
	<key>conductivityThermal</key>
	<string>0.537</string>
	<key>covalentRadius</key>
	<string>1.34</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>1.15</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>8.57</string>
	<key>descr</key>
	<string>Shiny white soft transition metal.</string>
	<key>discoverer</key>
	<string>Charles Hatchet</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1801</string>
	<key>elasticModulusBulk</key>
	<string>170</string>
	<key>elasticModulusRigidity</key>
	<string>38</string>
	<key>elasticModulusYoungs</key>
	<string>105</string>
	<key>electroChemicalEquivalent</key>
	<string>0.69327</string>
	<key>electroNegativity</key>
	<string>1.6</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>4</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.3</string>
	<key>enthalpyOfAtomization</key>
	<string>745</string>
	<key>enthalpyOfFusion</key>
	<string>27.2</string>
	<key>enthalpyOfVaporization</key>
	<string>696.6</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>5</string>
	<key>hardnessScaleBrinell</key>
	<string>736</string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string>1320</string>
	<key>heatOfFusion</key>
	<string>26.4</string>
	<key>heatOfVaporization</key>
	<string>682</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.69</string>
	<key>ionizationPotentialFirst</key>
	<string>6.88</string>
	<key>ionizationPotentialSecond</key>
	<string>14.32</string>
	<key>ionizationPotentialThird</key>
	<string>25.04</string>
	<key>magneticSusceptibility</key>
	<string>+208</string>
	<key>meltingPoint</key>
	<string>2477</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.60</string>
	<key>molarVolume</key>
	<string>10.84</string>
	<key>name</key>
	<string>Niobium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.949</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Nb81</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.943</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Nb82</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.937</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.500</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr83</string>
			<key>halfLife</key>
			<string>4.1s</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Nb83</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.934</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.600</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr84</string>
			<key>halfLife</key>
			<string>12s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Nb84</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.200</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Y83</string>
			<key>halfLife</key>
			<string>12s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.928</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.000</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr85</string>
			<key>halfLife</key>
			<string>20.9s</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Nb85</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.925</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.980</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr86</string>
			<key>halfLife</key>
			<string>88s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Nb86</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.980</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr86</string>
			<key>halfLife</key>
			<string>56s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9204</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.170</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr87</string>
			<key>halfLife</key>
			<string>2.6m</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Nb87</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.170</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr87</string>
			<key>halfLife</key>
			<string>3.7m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.918</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.200</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr88</string>
			<key>halfLife</key>
			<string>14.5m</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclideSymbol</key>
			<string>Nb88</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.200</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr88</string>
			<key>halfLife</key>
			<string>7.8m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9135</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.290</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr89</string>
			<key>halfLife</key>
			<string>1.9h</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclideSymbol</key>
			<string>Nb89</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.290</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr89</string>
			<key>halfLife</key>
			<string>1.18h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9113</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.111</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr90</string>
			<key>halfLife</key>
			<string>14.6h</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclideSymbol</key>
			<string>Nb90</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.125MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.125</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Nb90</string>
			<key>halfLife</key>
			<string>18.81s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.907</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.253</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr91</string>
			<key>halfLife</key>
			<string>680y</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclideSymbol</key>
			<string>Nb91</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.104MeV</string>
			<key>zp</key>
			<string>93</string>
			<key>decayEnergy</key>
			<string>0.104</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>60.86d</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>7</string>
			<key>decayEnergy</key>
			<string>1.357</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr91</string>
			<key>halfLife</key>
			<string>60.86d</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9072</string>
			<key>zp</key>
			<string>&lt;0.05</string>
			<key>decayEnergy</key>
			<string>0.356</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo92</string>
			<key>halfLife</key>
			<string>3.47E⁷y</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclideSymbol</key>
			<string>Nb92</string>
			<key>nuclearSpin</key>
			<string>7+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.006</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr92</string>
			<key>halfLife</key>
			<string>3.47E⁷y</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.135MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.141</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Zr92</string>
			<key>halfLife</key>
			<string>10.15d</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>92.9064</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclideSymbol</key>
			<string>Nb93</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.030MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.031</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>16.13y</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9073</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.045</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo94</string>
			<key>halfLife</key>
			<string>20300y</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclideSymbol</key>
			<string>Nb94</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.041MeV</string>
			<key>zp</key>
			<string>99.5</string>
			<key>decayEnergy</key>
			<string>0.041</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>6.263m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.5</string>
			<key>decayEnergy</key>
			<string>2.086</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo94</string>
			<key>halfLife</key>
			<string>6.263m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9068</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.926</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo95</string>
			<key>halfLife</key>
			<string>34.975d</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclideSymbol</key>
			<string>Nb95</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.235MeV</string>
			<key>zp</key>
			<string>94.4</string>
			<key>decayEnergy</key>
			<string>0.236</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>86.6h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>5.6</string>
			<key>decayEnergy</key>
			<string>1.162</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo95</string>
			<key>halfLife</key>
			<string>86.6h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.9081</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.187</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo96</string>
			<key>halfLife</key>
			<string>23.35h</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclideSymbol</key>
			<string>Nb96</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9081</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.934</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo97</string>
			<key>halfLife</key>
			<string>72.1m</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclideSymbol</key>
			<string>Nb97</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.743MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.743</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>52.7s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9103</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.586</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo98</string>
			<key>halfLife</key>
			<string>2.86s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclideSymbol</key>
			<string>Nb98</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.084MeV</string>
			<key>zp</key>
			<string>99.9</string>
			<key>decayEnergy</key>
			<string>4.670</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo98</string>
			<key>halfLife</key>
			<string>51.3m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;0.2</string>
			<key>decayEnergy</key>
			<string>0.084</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Nb98</string>
			<key>halfLife</key>
			<string>51.3m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.9116</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.639</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo99</string>
			<key>halfLife</key>
			<string>15s</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclideSymbol</key>
			<string>Nb99</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.365MeV</string>
			<key>zp</key>
			<string>&gt;96.2</string>
			<key>decayEnergy</key>
			<string>4.004</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo99</string>
			<key>halfLife</key>
			<string>2.6m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;3.8</string>
			<key>decayEnergy</key>
			<string>0.365</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>2.6m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.9142</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.250</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo100</string>
			<key>halfLife</key>
			<string>1.5s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclideSymbol</key>
			<string>Nb100</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.500MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.750</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo100</string>
			<key>halfLife</key>
			<string>2.99s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4+, 5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.9153</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.569</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo101</string>
			<key>halfLife</key>
			<string>7.1s</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclideSymbol</key>
			<string>Nb101</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.918</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.210</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo102</string>
			<key>halfLife</key>
			<string>1.3s</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclideSymbol</key>
			<string>Nb102</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.210</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo102</string>
			<key>halfLife</key>
			<string>4.3s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.9191</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.530</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo103</string>
			<key>halfLife</key>
			<string>1.5s</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclideSymbol</key>
			<string>Nb103</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.922</string>
			<key>zp</key>
			<string>0.71</string>
			<key>decayEnergy</key>
			<string>0.550</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Mo103</string>
			<key>halfLife</key>
			<string>4.8s</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclideSymbol</key>
			<string>Nb104</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.110</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo104</string>
			<key>halfLife</key>
			<string>4.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.215MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.325</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo104</string>
			<key>halfLife</key>
			<string>0.92s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.924</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.490</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo105</string>
			<key>halfLife</key>
			<string>2.95s</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclideSymbol</key>
			<string>Nb105</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.928</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.300</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo106</string>
			<key>halfLife</key>
			<string>1.02s</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclideSymbol</key>
			<string>Nb106</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>106.93</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.900</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo107</string>
			<key>halfLife</key>
			<string>330ms</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclideSymbol</key>
			<string>Nb107</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>107.935</string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>0.193s</string>
			<key>nn</key>
			<string>67</string>
			<key>nuclideSymbol</key>
			<string>Nb108</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>108.938</string>
			<key>zp</key>
			<string>31</string>
			<key>decayEnergy</key>
			<string>5.000</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Mo108</string>
			<key>halfLife</key>
			<string>0.19s</string>
			<key>nn</key>
			<string>68</string>
			<key>nuclideSymbol</key>
			<string>Nb109</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.100</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo109</string>
			<key>halfLife</key>
			<string>0.19s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>109.943</string>
			<key>zp</key>
			<string>40</string>
			<key>decayEnergy</key>
			<string>5.800</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Mo109</string>
			<key>halfLife</key>
			<string>0.17s</string>
			<key>nn</key>
			<string>69</string>
			<key>nuclideSymbol</key>
			<string>Nb110</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.100</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Mo110</string>
			<key>halfLife</key>
			<string>0.17s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>41</string>
	<key>numberOfNeutrons</key>
	<string>52</string>
	<key>numberOfProtons</key>
	<string>41</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>5, 3</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.265</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Nb</string>
	<key>valenceElectronPotential</key>
	<string>104</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>4</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2669</string>
		<key>pa10</key>
		<string>2934</string>
		<key>pa100</key>
		<string>3251</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4740</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>4120</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>3637</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
