<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>3.7x10²</string>
	<key>abundanceSea</key>
	<string>7.9</string>
	<key>atomicMass</key>
	<string>87.62</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>38</integer>
	<key>atomicRadius</key>
	<string>2.45</string>
	<key>atomicVolume</key>
	<string>33.7</string>
	<key>boilingPoint</key>
	<string>1382</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-26-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000021</string>
	<key>conductivityElectrical</key>
	<string>0.0762</string>
	<key>conductivityThermal</key>
	<string>0.353</string>
	<key>covalentRadius</key>
	<string>1.91</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>1.21</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>2.64</string>
	<key>descr</key>
	<string>Soft silvery yellow metal.</string>
	<key>discoverer</key>
	<string>A. Crawford</string>
	<key>discoveryLocation</key>
	<string>Scotland</string>
	<key>discoveryYear</key>
	<string>1790</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string>6.1</string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>1.635</string>
	<key>electroNegativity</key>
	<string>0.95</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>2.59</string>
	<key>enthalpyOfAtomization</key>
	<string>163.2</string>
	<key>enthalpyOfFusion</key>
	<string>9.16</string>
	<key>enthalpyOfVaporization</key>
	<string>150</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>2</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string>1.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>8.3</string>
	<key>heatOfVaporization</key>
	<string>144</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>1.12</string>
	<key>ionizationPotentialFirst</key>
	<string>5.695</string>
	<key>ionizationPotentialSecond</key>
	<string>11.03</string>
	<key>ionizationPotentialThird</key>
	<string>43.06</string>
	<key>magneticSusceptibility</key>
	<string>+92</string>
	<key>meltingPoint</key>
	<string>777</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.4</string>
	<key>molarVolume</key>
	<string>33.7</string>
	<key>name</key>
	<string>Strontium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.966</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Sr73</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.956</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Sr74</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.95</string>
			<key>zp</key>
			<string>6.5</string>
			<key>decayEnergy</key>
			<string>8.200</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Kr74</string>
			<key>halfLife</key>
			<string>71ms</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Sr75</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.600</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb75</string>
			<key>halfLife</key>
			<string>71ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.942</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.100</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb76</string>
			<key>halfLife</key>
			<string>8.9s</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Sr76</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.938</string>
			<key>zp</key>
			<string>&lt;0.25</string>
			<key>decayEnergy</key>
			<string>3.710</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Kr76</string>
			<key>halfLife</key>
			<string>9s</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Sr77</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.850</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb77</string>
			<key>halfLife</key>
			<string>9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.9322</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.762</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb78</string>
			<key>halfLife</key>
			<string>2.5m</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Sr78</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.9297</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.318</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb79</string>
			<key>halfLife</key>
			<string>2.25m</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Sr79</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.9245</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.868</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb80</string>
			<key>halfLife</key>
			<string>106.3m</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Sr80</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.9232</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.930</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb81</string>
			<key>halfLife</key>
			<string>22.3m</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Sr81</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.9184</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.180</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb82</string>
			<key>halfLife</key>
			<string>25.55d</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Sr82</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.9176</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.276</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb83</string>
			<key>halfLife</key>
			<string>32.41h</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Sr83</string>
			<key>nuclearSpin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.259MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.259</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>4.95s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.56</string>
			<key>atomicMass</key>
			<string>83.9134</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Sr84</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.9129</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.065</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb85</string>
			<key>halfLife</key>
			<string>64.84d</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclideSymbol</key>
			<string>Sr85</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.239MeV</string>
			<key>zp</key>
			<string>86.6</string>
			<key>decayEnergy</key>
			<string>0.239</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>67.63m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>13.4</string>
			<key>decayEnergy</key>
			<string>1.304</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb85</string>
			<key>halfLife</key>
			<string>67.63m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>9.86</string>
			<key>atomicMass</key>
			<string>85.9093</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclideSymbol</key>
			<string>Sr86</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>2.955MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.956</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>0.45us</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>7</string>
			<key>atomicMass</key>
			<string>86.9089</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclideSymbol</key>
			<string>Sr87</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.388MeV</string>
			<key>zp</key>
			<string>99.7</string>
			<key>decayEnergy</key>
			<string>0.389</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>2.803h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.3</string>
			<key>decayEnergy</key>
			<string>0.106</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Rb87</string>
			<key>halfLife</key>
			<string>2.803h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>82.58</string>
			<key>atomicMass</key>
			<string>87.9056</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclideSymbol</key>
			<string>Sr88</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9075</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.495</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y89</string>
			<key>halfLife</key>
			<string>50.53d</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclideSymbol</key>
			<string>Sr89</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9077</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.546</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y90</string>
			<key>halfLife</key>
			<string>28.78y</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclideSymbol</key>
			<string>Sr90</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.9102</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.699</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y91</string>
			<key>halfLife</key>
			<string>9.63h</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclideSymbol</key>
			<string>Sr91</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.911</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.911</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y92</string>
			<key>halfLife</key>
			<string>2.71h</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclideSymbol</key>
			<string>Sr92</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.914</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.137</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y93</string>
			<key>halfLife</key>
			<string>7.423m</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclideSymbol</key>
			<string>Sr93</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9154</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.511</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y94</string>
			<key>halfLife</key>
			<string>75.3s</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclideSymbol</key>
			<string>Sr94</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9194</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.080</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y95</string>
			<key>halfLife</key>
			<string>23.9s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclideSymbol</key>
			<string>Sr95</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.9217</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.371</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y96</string>
			<key>halfLife</key>
			<string>1.07s</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclideSymbol</key>
			<string>Sr96</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9261</string>
			<key>zp</key>
			<string>&lt;=0.05</string>
			<key>decayEnergy</key>
			<string>1.488</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y96</string>
			<key>halfLife</key>
			<string>429ms</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclideSymbol</key>
			<string>Sr97</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.467</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y97</string>
			<key>halfLife</key>
			<string>429ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9285</string>
			<key>zp</key>
			<string>0.25</string>
			<key>decayEnergy</key>
			<string>1.580</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y97</string>
			<key>halfLife</key>
			<string>0.653s</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclideSymbol</key>
			<string>Sr98</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.826</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y98</string>
			<key>halfLife</key>
			<string>0.653s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.933</string>
			<key>zp</key>
			<string>0.1</string>
			<key>decayEnergy</key>
			<string>2.190</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y98</string>
			<key>halfLife</key>
			<string>0.269s</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclideSymbol</key>
			<string>Sr99</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.030</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y99</string>
			<key>halfLife</key>
			<string>0.269s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.935</string>
			<key>zp</key>
			<string>0.78</string>
			<key>decayEnergy</key>
			<string>1.910</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y99</string>
			<key>halfLife</key>
			<string>202ms</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclideSymbol</key>
			<string>Sr100</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.080</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y100</string>
			<key>halfLife</key>
			<string>202ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.941</string>
			<key>zp</key>
			<string>2.52</string>
			<key>decayEnergy</key>
			<string>3.820</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y100</string>
			<key>halfLife</key>
			<string>118ms</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclideSymbol</key>
			<string>Sr101</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.510</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y101</string>
			<key>halfLife</key>
			<string>118ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.943</string>
			<key>zp</key>
			<string>5.5</string>
			<key>decayEnergy</key>
			<string>3.760</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Y101</string>
			<key>halfLife</key>
			<string>69ms</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclideSymbol</key>
			<string>Sr102</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.820</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Y102</string>
			<key>halfLife</key>
			<string>69ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.949</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>65</string>
			<key>nuclideSymbol</key>
			<string>Sr103</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.952</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>66</string>
			<key>nuclideSymbol</key>
			<string>Sr104</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>38</string>
	<key>numberOfNeutrons</key>
	<string>50</string>
	<key>numberOfProtons</key>
	<string>38</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0; soluble in ethanol</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Earth Metal</string>
	<key>specificHeat</key>
	<string>0.301</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Sr</string>
	<key>valenceElectronPotential</key>
	<string>25.7</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>523</string>
		<key>pa10</key>
		<string>609</string>
		<key>pa100</key>
		<string>717</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>1373</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>1072</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>866</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
