<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-50</string>
	<key>abundanceCrust</key>
	<string>8.5x10⁻¹</string>
	<key>abundanceSea</key>
	<string>1.9x10⁻⁵</string>
	<key>atomicMass</key>
	<string>204.3833</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>81</integer>
	<key>atomicRadius</key>
	<string>2.08</string>
	<key>atomicVolume</key>
	<string>17.2</string>
	<key>boilingPoint</key>
	<string>1473</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-28-0</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000028</string>
	<key>conductivityElectrical</key>
	<string>0.0617</string>
	<key>conductivityThermal</key>
	<string>0.461</string>
	<key>covalentRadius</key>
	<string>1.48</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>3.4</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>11.8</string>
	<key>descr</key>
	<string>Soft bluish-gray or silvery white transition metal that looks like lead.</string>
	<key>discoverer</key>
	<string>Sir William Crookes</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1861</string>
	<key>elasticModulusBulk</key>
	<string>43</string>
	<key>elasticModulusRigidity</key>
	<string>2.8</string>
	<key>elasticModulusYoungs</key>
	<string>8</string>
	<key>electroChemicalEquivalent</key>
	<string>7.625</string>
	<key>electroNegativity</key>
	<string>2.04</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6p</key>
		<string>1</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.84</string>
	<key>enthalpyOfAtomization</key>
	<string>179.9</string>
	<key>enthalpyOfFusion</key>
	<string>4.27</string>
	<key>enthalpyOfVaporization</key>
	<string>162.1</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>6p</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>13</string>
	<key>hardnessScaleBrinell</key>
	<string>26.4</string>
	<key>hardnessScaleMohs</key>
	<string>1.2</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>4.142</string>
	<key>heatOfVaporization</key>
	<string>164.1</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>1.5</string>
	<key>ionizationPotentialFirst</key>
	<string>6.108</string>
	<key>ionizationPotentialSecond</key>
	<string>20.428</string>
	<key>ionizationPotentialThird</key>
	<string>29.829</string>
	<key>meltingPoint</key>
	<string>304</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.32</string>
	<key>molarVolume</key>
	<string>17.25</string>
	<key>name</key>
	<string>Thallium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>81</string>
	<key>numberOfNeutrons</key>
	<string>123</string>
	<key>numberOfProtons</key>
	<string>81</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3, 1</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0; reacts with acids</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.129</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Tl</string>
	<key>valenceElectronPotential</key>
	<string>9.6</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>6p</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>609</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>704</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>824</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>979</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1188</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>1485</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
