<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.20x10²</string>
	<key>abundanceSea</key>
	<string>2.5x10⁻³</string>
	<key>atomicMass</key>
	<string>50.9415</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>23</integer>
	<key>atomicRadius</key>
	<string>1.92</string>
	<key>atomicVolume</key>
	<string>8.78</string>
	<key>boilingPoint</key>
	<string>3407</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-62-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000615</string>
	<key>conductivityElectrical</key>
	<string>0.0489</string>
	<key>conductivityThermal</key>
	<string>0.307</string>
	<key>covalentRadius</key>
	<string>1.22</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>5.06</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>6.0</string>
	<key>descr</key>
	<string>Silvery-white metal.</string>
	<key>discoverer</key>
	<string>Nils Sefstrom</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1830</string>
	<key>elasticModulusBulk</key>
	<string>160</string>
	<key>elasticModulusRigidity</key>
	<string>47</string>
	<key>elasticModulusYoungs</key>
	<string>128</string>
	<key>electroChemicalEquivalent</key>
	<string>0.38013</string>
	<key>electroNegativity</key>
	<string>1.63</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>3</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.3</string>
	<key>enthalpyOfAtomization</key>
	<string>514.6</string>
	<key>enthalpyOfFusion</key>
	<string>17.57</string>
	<key>enthalpyOfVaporization</key>
	<string>458.6</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>5</string>
	<key>hardnessScaleBrinell</key>
	<string>628</string>
	<key>hardnessScaleMohs</key>
	<string>7</string>
	<key>hardnessScaleVickers</key>
	<string>628</string>
	<key>heatOfFusion</key>
	<string></string>
	<key>heatOfVaporization</key>
	<string>0.452</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers, ammonium nitrate</string>
	<key>ionicRadius</key>
	<string>0.59</string>
	<key>ionizationPotentialFirst</key>
	<string>6.74</string>
	<key>ionizationPotentialSecond</key>
	<string>14.65</string>
	<key>ionizationPotentialThird</key>
	<string>29.31</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4050.9550</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4051.3470</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4057.0640</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4063.9280</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4071.5360</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4090.5710</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4092.6840</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4095.4770</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4099.7840</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4102.1510</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4104.3820</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4104.7670</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4105.1550</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4109.7780</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4111.7800</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4113.5060</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4115.1800</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4116.4730</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4119.4460</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4123.5030</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4128.0640</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4131.9890</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4134.4850</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4179.4080</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4200.3200</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V V</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4209.8530</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4232.4580</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4268.6380</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4271.5500</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4276.9530</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4284.0470</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4291.8200</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4330.0260</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4332.8250</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4341.0080</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4352.8710</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4379.2300</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4384.7100</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4389.9800</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4395.2230</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4400.5720</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4406.6380</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4407.6330</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4408.1950</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4408.5010</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4416.4690</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4421.5660</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4426.0020</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4428.5170</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4429.8000</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4436.1330</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4437.8300</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4441.6800</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4444.1920</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4452.0060</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4457.4700</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4459.7520</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4460.3310</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4462.3600</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4469.7050</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4488.8890</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4545.3950</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4560.7160</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4577.1780</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4580.4030</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4586.3700</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4594.1190</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4619.7770</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4851.4890</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4864.7330</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4875.4860</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4881.5550</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5627.6310</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5670.8470</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5698.5290</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5703.5860</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5706.9970</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5727.0460</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5731.2480</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5737.0650</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6039.7280</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6081.4400</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6090.2080</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6111.6500</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6119.5280</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6135.3630</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6199.1910</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6216.3700</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6230.8030</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6243.1100</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6251.8230</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>V I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+285</string>
	<key>meltingPoint</key>
	<string>1910</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.89</string>
	<key>molarVolume</key>
	<string>8.55</string>
	<key>name</key>
	<string>Vanadium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.011</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>17</string>
			<key>nuclideSymbol</key>
			<string>V40</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.999</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>18</string>
			<key>nuclideSymbol</key>
			<string>V41</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.991</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&lt;55ns</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclideSymbol</key>
			<string>V42</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.981</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.300</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti43</string>
			<key>halfLife</key>
			<string>&gt;800ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclideSymbol</key>
			<string>V43</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.9744</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.700</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti44</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>V44</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.580</string>
			<key>decayModes</key>
			<string>ξ + α</string>
			<key>daughterIsotopes</key>
			<string>Ca40</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.700</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti44</string>
			<key>halfLife</key>
			<string>~150ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.9658</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.133</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti45</string>
			<key>halfLife</key>
			<string>547ms</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>V45</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.9602</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.051</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti46</string>
			<key>halfLife</key>
			<string>422.37ms</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>V46</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.9549</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.928</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti47</string>
			<key>halfLife</key>
			<string>32.6m</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>V47</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.9523</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.012</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti48</string>
			<key>halfLife</key>
			<string>15.9735d</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>V48</string>
			<key>nuclearSpin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.9485</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.602</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti49</string>
			<key>halfLife</key>
			<string>330d</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>V49</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.25</string>
			<key>atomicMass</key>
			<string>49.9472</string>
			<key>zp</key>
			<string>83</string>
			<key>decayEnergy</key>
			<string>2.208</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ti50</string>
			<key>halfLife</key>
			<string>1.4E¹⁷y</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>V50</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>17</string>
			<key>decayEnergy</key>
			<string>1.037</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr50</string>
			<key>halfLife</key>
			<string>1.4E¹⁷y</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>99.75</string>
			<key>atomicMass</key>
			<string>50.944</string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>V51</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9448</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.976</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr52</string>
			<key>halfLife</key>
			<string>3.743m</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>V52</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.9443</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.436</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr53</string>
			<key>halfLife</key>
			<string>1.61m</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>V53</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.9464</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.042</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr54</string>
			<key>halfLife</key>
			<string>49.8s</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>V54</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.947</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.960</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr55</string>
			<key>halfLife</key>
			<string>6.54s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>V55</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>230ms</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>V56</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.952</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>320ms</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>V57</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.957</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.600</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr58</string>
			<key>halfLife</key>
			<string>200ms</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>V58</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.959</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.900</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cr59</string>
			<key>halfLife</key>
			<string>130ms</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>V59</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.965</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>200ms</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>V60</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.967</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>V61</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.973</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>V62</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.977</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>V63</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>23</string>
	<key>numberOfNeutrons</key>
	<string>28</string>
	<key>numberOfProtons</key>
	<string>23</string>
	<key>opticalReflectivity</key>
	<string>61</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string></string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0; soluble in acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.489</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>V</string>
	<key>valenceElectronPotential</key>
	<string>120</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>3</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2366</string>
		<key>pa10</key>
		<string>2618</string>
		<key>pa100</key>
		<string>2924</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4405</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3780</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>3302</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
