html body {
    color: #000000;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 3px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    background-color: #eeeeee;
    border: solid 2px #000000;
    padding: 3px;
    margin: 0;
}

ol, ul {
    color: #000000;
    background-color: #eeeeee;
    border: solid 2px #000000;
}

p:first-letter {
    font-size: 14px; 
    font-weight: bold;
}

h2 {
    background-color: #7f7f7f;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid 2px #000000;
}

table {
    color: #ffffff;
    background-color: #cccccc;
    border: solid 1px #000000;
}

td, th {
    border: solid 1px #000000;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

td.oddrow a {
    background-color: #eeeeee;
}

td.oddrow {
    background-color: #cccccc;
}

#header {
    background-color: #eeeeee;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

#menu {
    background-color: #eeeeee;
    border-bottom: solid 2px #000000;
}

.menuItem {
    border: solid 2px #000000;
    background-color: #cccccc;
    font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    background-color: #ffffff;
}

.contentslink {
    font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    border: solid 2px #000000;
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 8px;
}

.toc {
    padding: 0;
    margin: 0;
}

.toc ul {
    padding: 0;
    margin: 0;
}

.toc li {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}