<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-19.5</string>
	<key>abundanceCrust</key>
	<string>7.5x10⁻²</string>
	<key>abundanceSea</key>
	<string>4x10⁻⁵</string>
	<key>atomicMass</key>
	<string>107.8682</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>47</integer>
	<key>atomicRadius</key>
	<string>1.75</string>
	<key>atomicVolume</key>
	<string>10.3</string>
	<key>boilingPoint</key>
	<string>2162</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-22-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00001862</string>
	<key>conductivityElectrical</key>
	<string>0.63</string>
	<key>conductivityThermal</key>
	<string>4.29</string>
	<key>covalentRadius</key>
	<string>1.34</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>63.8</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>10.5</string>
	<key>descr</key>
	<string>Very soft and malleable metal. Apperance and odor vary depending upon specific compond.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>24.5</string>
	<key>elasticModulusRigidity</key>
	<string>2.5</string>
	<key>elasticModulusYoungs</key>
	<string>251</string>
	<key>electroChemicalEquivalent</key>
	<string>4.0246</string>
	<key>electroNegativity</key>
	<string>1.93</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.26</string>
	<key>enthalpyOfAtomization</key>
	<string>284.5</string>
	<key>enthalpyOfFusion</key>
	<string>11.3</string>
	<key>enthalpyOfVaporization</key>
	<string>255.1</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>11</string>
	<key>hardnessScaleBrinell</key>
	<string>24.5</string>
	<key>hardnessScaleMohs</key>
	<string>2.5</string>
	<key>hardnessScaleVickers</key>
	<string>251</string>
	<key>heatOfFusion</key>
	<string>11.3</string>
	<key>heatOfVaporization</key>
	<string>250.58</string>
	<key>incompatibilities</key>
	<string>10.27</string>
	<key>ionicRadius</key>
	<string>1.26</string>
	<key>ionizationPotentialFirst</key>
	<string>7.576</string>
	<key>ionizationPotentialSecond</key>
	<string>21.49</string>
	<key>ionizationPotentialThird</key>
	<string>34.83</string>
	<key>meltingPoint</key>
	<string>961.78</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.350</string>
	<key>molarVolume</key>
	<string></string>
	<key>name</key>
	<string>Silver</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>47</string>
	<key>numberOfNeutrons</key>
	<string>61</string>
	<key>numberOfProtons</key>
	<string>47</string>
	<key>opticalReflectivity</key>
	<string>97</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>1</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.235</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ag</string>
	<key>valenceElectronPotential</key>
	<string>11.4</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>10</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1010</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>1140</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1302</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>1509</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1782</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2106</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
