<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>3.5</string>
	<key>abundanceSea</key>
	<string>4.5x10⁻¹</string>
	<key>atomicMass</key>
	<string>39.948</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>18</integer>
	<key>atomicRadius</key>
	<string>0.88</string>
	<key>atomicVolume</key>
	<string>28.5</string>
	<key>boilingPoint</key>
	<string>-185.85</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-37-1</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.0001772</string>
	<key>covalentRadius</key>
	<string>0.98</string>
	<key>criticalTemperature</key>
	<string>-122.28</string>
	<key>crossSection</key>
	<string>0.66</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>1.633</string>
	<key>descr</key>
	<string>Colorless, odorless, tasteless noble gas.</string>
	<key>discoverer</key>
	<string>Sir William Ramsey, Baron Rayleigh</string>
	<key>discoveryLocation</key>
	<string>Scotland</string>
	<key>discoveryYear</key>
	<string>1894</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string>1.18</string>
	<key>enthalpyOfVaporization</key>
	<string>6.43</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3p</key>
			<string>6</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>18</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>1.188</string>
	<key>heatOfVaporization</key>
	<string>6.447</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string>15.759</string>
	<key>ionizationPotentialSecond</key>
	<string>27.629</string>
	<key>ionizationPotentialThird</key>
	<string>40.74</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4013.8570</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4023.6000</string>
			<key>intensity</key>
			<string>6</string>
			<key>spectrum</key>
			<string>Ar III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4033.8090</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4035.4600</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4042.8940</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4044.4180</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4052.9210</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4072.0050</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4072.3850</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4076.6280</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4079.5740</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4082.3870</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4103.9120</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4131.7240</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4146.7000</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Ar III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4156.0860</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4158.5900</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4164.1800</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4179.2970</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4181.8840</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4190.7130</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4191.0290</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4198.3170</string>
			<key>intensity</key>
			<string>6</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4200.6740</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4218.6650</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4222.6370</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4226.9880</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4228.1580</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4237.2200</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4251.1850</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4259.3620</string>
			<key>intensity</key>
			<string>6</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4266.2860</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4266.5270</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4272.1690</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4277.5280</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4282.8980</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4300.1010</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4300.6500</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4309.2390</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4331.2000</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4332.0300</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4333.5610</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4335.3380</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4345.1680</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4348.0640</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4352.2050</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4362.0660</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4367.8320</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4370.7530</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4371.3290</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4375.9540</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4379.6670</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4385.0570</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4400.0970</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4400.9860</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4426.0010</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4430.1890</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4430.9960</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4433.8380</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4439.4610</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4448.8790</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4474.7590</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4481.8110</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4510.7330</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4522.3230</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4530.5520</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4545.0520</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4564.4050</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4579.3500</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4589.8980</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4609.5670</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4637.2330</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4657.9010</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4721.5910</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4726.8680</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4732.0530</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4735.9060</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4764.8650</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4806.0200</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4847.8100</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4865.9100</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4879.8640</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4889.0420</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4904.7520</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4933.2090</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4965.0800</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5009.3340</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5017.1630</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5062.0370</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5090.4950</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5141.7830</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5145.3080</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5165.7730</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5187.7460</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5216.8140</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5495.8740</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5558.7020</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5606.7330</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5650.7040</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5888.5840</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5912.0850</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6032.1270</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6043.2230</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6059.3720</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6114.9230</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6172.2780</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6243.1200</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6384.7170</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6416.3070</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6483.0820</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6638.2210</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6639.7400</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6643.6980</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6666.3590</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6677.2820</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6684.2930</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6752.8340</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6861.2690</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ar II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6871.2890</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6937.6640</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6965.4310</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ar I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-19.32</string>
	<key>meltingPoint</key>
	<string>-189.35</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>20.786</string>
	<key>molarVolume</key>
	<string>24.2</string>
	<key>name</key>
	<string>Argon</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.022</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&lt;20ns</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>Ar30</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.012</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>15.1ms</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>Ar31</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.9977</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.150</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cl32</string>
			<key>halfLife</key>
			<string>98ms</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>Ar32</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.580</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>S31</string>
			<key>halfLife</key>
			<string>98ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>32.9899</string>
			<key>br</key>
			<string>38.7</string>
			<key>decayEnergy</key>
			<string>9.350</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>S32</string>
			<key>halfLife</key>
			<string>173ms</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>Ar33</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.620</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cl33</string>
			<key>halfLife</key>
			<string>173ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>33.9803</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.061</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cl34</string>
			<key>halfLife</key>
			<string>844.5ms</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>Ar34</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>34.9753</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.965</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cl35</string>
			<key>halfLife</key>
			<string>1.775s</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>Ar35</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.337</string>
			<key>atomicMass</key>
			<string>35.9675</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>Ar36</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>36.9668</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.813</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cl37</string>
			<key>halfLife</key>
			<string>35.04d</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Ar37</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.063</string>
			<key>atomicMass</key>
			<string>37.9627</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Ar38</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.9643</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.565</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K39</string>
			<key>halfLife</key>
			<string>269y</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Ar39</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>99.6</string>
			<key>atomicMass</key>
			<string>39.9624</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Ar40</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.9645</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.492</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K41</string>
			<key>halfLife</key>
			<string>109.34m</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Ar41</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.963</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K42</string>
			<key>halfLife</key>
			<string>32.9y</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Ar42</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.9657</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.620</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K43</string>
			<key>halfLife</key>
			<string>5.37m</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Ar43</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.9654</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.550</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K44</string>
			<key>halfLife</key>
			<string>11.87m</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Ar44</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.9681</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.890</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K45</string>
			<key>halfLife</key>
			<string>21.48s</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Ar45</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.9681</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K46</string>
			<key>halfLife</key>
			<string>8.4s</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Ar46</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.972</string>
			<key>br</key>
			<string>&lt;1</string>
			<key>decayEnergy</key>
			<string>1.440</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>K46</string>
			<key>halfLife</key>
			<string>~700ms</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Ar47</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.790</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>K47</string>
			<key>halfLife</key>
			<string>~700ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.975</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Ar48</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.982</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>=&gt;170ns</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Ar49</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.986</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>=&gt;170ns</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Ar50</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.993</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Ar51</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.998</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Ar52</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>18</string>
	<key>numberOfNeutrons</key>
	<string>22</string>
	<key>numberOfProtons</key>
	<string>18</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000281</string>
	<key>oxidationStates</key>
	<string>0</string>
	<key>period</key>
	<string>3</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Noble Gas</string>
	<key>specificHeat</key>
	<string>0.520</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>Ar</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>3p</key>
			<string>6</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa10</key>
		<string>-226.4</string>
		<key>pa100</key>
		<string>-220.3</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-186.0</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-201.7</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>-212.4</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
