<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.8</string>
	<key>abundanceSea</key>
	<string>3.7x10⁻³</string>
	<key>atomicMass</key>
	<string>74.92160</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>33</integer>
	<key>atomicRadius</key>
	<string>1.33</string>
	<key>atomicVolume</key>
	<string>13.1</string>
	<key>boilingPoint</key>
	<string>603</string>
	<key>boilingPointFootnote</key>
	<string>sublimation point (gray)</string>
	<key>casRegistryNumber</key>
	<string>7440-38-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000602</string>
	<key>conductivityElectrical</key>
	<string>0.0345</string>
	<key>conductivityThermal</key>
	<string>0.502</string>
	<key>covalentRadius</key>
	<string>1.2</string>
	<key>criticalTemperature</key>
	<string>1400</string>
	<key>crossSection</key>
	<string>4.3</string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string>5.72</string>
	<key>descr</key>
	<string>Gray brittle non-metal flakes</string>
	<key>discoverer</key>
	<string>Alberts Magna</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1250</string>
	<key>elasticModulusBulk</key>
	<string>22</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string>8</string>
	<key>electroChemicalEquivalent</key>
	<string>0.93177</string>
	<key>electroNegativity</key>
	<string>2.18</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>3</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.75</string>
	<key>enthalpyOfAtomization</key>
	<string>301.3</string>
	<key>enthalpyOfFusion</key>
	<string>24.44</string>
	<key>enthalpyOfVaporization</key>
	<string>34.76</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>15</string>
	<key>hardnessScaleBrinell</key>
	<string>1440</string>
	<key>hardnessScaleMohs</key>
	<string>3.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>27.7</string>
	<key>heatOfVaporization</key>
	<string>34.76</string>
	<key>incompatibilities</key>
	<string>halogenated compounds, rhubidium, carbide</string>
	<key>ionicRadius</key>
	<string>0.58</string>
	<key>ionizationPotentialFirst</key>
	<string>9.81</string>
	<key>ionizationPotentialSecond</key>
	<string>18.633</string>
	<key>ionizationPotentialThird</key>
	<string>28.351</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4190.0820</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4458.4690</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4466.3480</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4494.2300</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4507.6590</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4543.4830</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6170.2700</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>As II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-5.6</string>
	<key>meltingPoint</key>
	<string>817</string>
	<key>meltingPointFootnote</key>
	<string>triple point @ 3.70 MPa (gray)</string>
	<key>molarHeatCapacity</key>
	<string>24.64</string>
	<key>molarVolume</key>
	<string>13.08</string>
	<key>name</key>
	<string>Arsenic</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.993</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>As60</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.981</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>As61</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.973</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>As62</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.964</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>As63</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.958</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>As64</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.400</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge65</string>
			<key>halfLife</key>
			<string>0.19s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>As65</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.944</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.800</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge66</string>
			<key>halfLife</key>
			<string>95.77ms</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>As66</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.939</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.010</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge67</string>
			<key>halfLife</key>
			<string>42.5s</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>As67</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge68</string>
			<key>halfLife</key>
			<string>151.6s</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>As68</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.9323</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.010</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge69</string>
			<key>halfLife</key>
			<string>15.2m</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>As69</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.9309</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.220</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge70</string>
			<key>halfLife</key>
			<string>52.6m</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>As70</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.9271</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.013</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge71</string>
			<key>halfLife</key>
			<string>65.28h</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>As71</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.9268</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.356</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge72</string>
			<key>halfLife</key>
			<string>26h</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>As72</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.9238</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.341</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge73</string>
			<key>halfLife</key>
			<string>80.3d</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>As73</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.9239</string>
			<key>br</key>
			<string>66</string>
			<key>decayEnergy</key>
			<string>2.562</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ge74</string>
			<key>halfLife</key>
			<string>17.77d</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>As74</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>34</string>
			<key>decayEnergy</key>
			<string>1.353</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se74</string>
			<key>halfLife</key>
			<string>17.77d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>74.9216</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>As75</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.303MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>16.79ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9224</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.962</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se76</string>
			<key>halfLife</key>
			<string>1.0778d</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>As76</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9207</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.683</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se77</string>
			<key>halfLife</key>
			<string>38.83h</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>As77</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.475MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.475</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>As77</string>
			<key>halfLife</key>
			<string>114us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.9218</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.210</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se78</string>
			<key>halfLife</key>
			<string>90.7m</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>As78</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.921</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.281</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se79</string>
			<key>halfLife</key>
			<string>9.01m</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>As79</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.9226</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.641</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se80</string>
			<key>halfLife</key>
			<string>15.2s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>As80</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.9221</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.856</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se81</string>
			<key>halfLife</key>
			<string>33.3s</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>As81</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.925</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.270</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se82</string>
			<key>halfLife</key>
			<string>19.1s</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>As82</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.270</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se82</string>
			<key>halfLife</key>
			<string>13.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.925</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.460</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se83</string>
			<key>halfLife</key>
			<string>13.4s</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>As83</string>
			<key>spin</key>
			<string>2-, 3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.929</string>
			<key>br</key>
			<string>0.28</string>
			<key>decayEnergy</key>
			<string>1.200</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Se83</string>
			<key>halfLife</key>
			<string>4.5s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>As84</string>
			<key>spin</key>
			<string>3-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se84</string>
			<key>halfLife</key>
			<string>4.5s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.932</string>
			<key>br</key>
			<string>59.4</string>
			<key>decayEnergy</key>
			<string>4.400</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Se84</string>
			<key>halfLife</key>
			<string>2.021s</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>As85</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se85</string>
			<key>halfLife</key>
			<string>2.021s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.936</string>
			<key>br</key>
			<string>33</string>
			<key>decayEnergy</key>
			<string>5.000</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Se85</string>
			<key>halfLife</key>
			<string>0.945s</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>As86</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se86</string>
			<key>halfLife</key>
			<string>0.945s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.94</string>
			<key>br</key>
			<string>15.4</string>
			<key>decayEnergy</key>
			<string>6.200</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Se86</string>
			<key>halfLife</key>
			<string>0.48s</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>As87</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.300</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Se87</string>
			<key>halfLife</key>
			<string>0.48s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.945</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>As88</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>As89</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>33</string>
	<key>numberOfNeutrons</key>
	<string>42</string>
	<key>numberOfProtons</key>
	<string>33</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.001552</string>
	<key>oxidationStates</key>
	<string>±3, 5</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>0.329</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>As</string>
	<key>valenceElectronPotential</key>
	<string>74</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>3</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>280</string>
		<key>pa10</key>
		<string>323</string>
		<key>pa100</key>
		<string>373</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>601</string>
		<key>pa100kFootnote</key>
		<string>s</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>508</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>433</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
