<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.8</string>
	<key>abundanceSea</key>
	<string>5.6x10⁻⁶</string>
	<key>atomicMass</key>
	<string>9.012182</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>4</integer>
	<key>atomicRadius</key>
	<string>1.4</string>
	<key>atomicVolume</key>
	<string>5</string>
	<key>boilingPoint</key>
	<string>2471</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-41-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000116</string>
	<key>conductivityElectrical</key>
	<string>0.313 10-e6</string>
	<key>conductivityThermal</key>
	<string>2.01</string>
	<key>covalentRadius</key>
	<string>0.9</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>9.2</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>1.848</string>
	<key>descr</key>
	<string>Strong, hard, gray-white metal. Lightest rigid metal. Formerly called glucinium (Gl).</string>
	<key>discoverer</key>
	<string>Vauquelin</string>
	<key>discoveryLocation</key>
	<string>Germany/France</string>
	<key>discoveryYear</key>
	<string>1798</string>
	<key>elasticModulusBulk</key>
	<string>130</string>
	<key>elasticModulusRigidity</key>
	<string>132</string>
	<key>elasticModulusYoungs</key>
	<string>287</string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string>1.57</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.98</string>
	<key>enthalpyOfAtomization</key>
	<string>326.4</string>
	<key>enthalpyOfFusion</key>
	<string>11.72</string>
	<key>enthalpyOfVaporization</key>
	<string>294.7</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>2s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>2</string>
	<key>hardnessScaleBrinell</key>
	<string>600</string>
	<key>hardnessScaleMohs</key>
	<string>5.5</string>
	<key>hardnessScaleVickers</key>
	<string>1670</string>
	<key>heatOfFusion</key>
	<string>12.2</string>
	<key>heatOfVaporization</key>
	<string>292.4</string>
	<key>incompatibilities</key>
	<string>acids and strong bases, carbon tetrachloride, phos- phorous 3-chlorolithium, caustics, chlorinated hydrocarbons, oxidizers, molten lithium.</string>
	<key>ionicRadius</key>
	<string>0.35</string>
	<key>ionizationPotentialFirst</key>
	<string>9.322</string>
	<key>ionizationPotentialSecond</key>
	<string>18.211</string>
	<key>ionizationPotentialThird</key>
	<string>153.893</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4249.1400</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4360.6630</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4360.9880</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4485.5200</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4487.3000</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4495.0900</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4497.8000</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4572.6640</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Be I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4673.3290</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4673.4230</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4828.1590</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5270.2800</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5270.8100</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6142.0100</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Be III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6547.8900</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6558.3600</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Be II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6982.7490</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Be I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-9.0</string>
	<key>meltingPoint</key>
	<string>1287</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>16.443</string>
	<key>molarVolume</key>
	<string>4.85</string>
	<key>name</key>
	<string>Beryllium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>5.04</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>1</string>
			<key>nuclide</key>
			<string>Be5</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>6.097</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.372</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>He4</string>
			<key>halfLife</key>
			<string>92keV</string>
			<key>nn</key>
			<string>2</string>
			<key>nuclide</key>
			<string>Be6</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>7.0169</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.862</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Li7</string>
			<key>halfLife</key>
			<string>53.12d</string>
			<key>nn</key>
			<string>3</string>
			<key>nuclide</key>
			<string>Be7</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>8.0053</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>6.8ev</string>
			<key>nn</key>
			<string>4</string>
			<key>nuclide</key>
			<string>Be8</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>9.0122</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>5</string>
			<key>nuclide</key>
			<string>Be9</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>10.0135</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.556</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>B10</string>
			<key>halfLife</key>
			<string>1.51E⁶y</string>
			<key>nn</key>
			<string>6</string>
			<key>nuclide</key>
			<string>Be10</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>11.0217</string>
			<key>br</key>
			<string>3.1</string>
			<key>decayEnergy</key>
			<string>2.841</string>
			<key>dm</key>
			<string>β- + α</string>
			<key>dt</key>
			<string>Li7</string>
			<key>halfLife</key>
			<string>13.81s</string>
			<key>nn</key>
			<string>7</string>
			<key>nuclide</key>
			<string>Be11</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.506</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>B11</string>
			<key>halfLife</key>
			<string>13.81s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>12.0269</string>
			<key>br</key>
			<string>&lt;1</string>
			<key>decayEnergy</key>
			<string>8.337</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>B11</string>
			<key>halfLife</key>
			<string>23.6ms</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>Be12</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.708</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>B12</string>
			<key>halfLife</key>
			<string>23.6ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>13.036</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.0110</string>
			<key>dm</key>
			<string>N</string>
			<key>dt</key>
			<string>Be12</string>
			<key>halfLife</key>
			<string>0.9MeV</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>Be13</string>
			<key>spin</key>
			<string>5/2+, 1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>14.043</string>
			<key>br</key>
			<string>81</string>
			<key>decayEnergy</key>
			<string>15.250</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>B13</string>
			<key>halfLife</key>
			<string>4.35ms</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>Be14</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>16.220</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>B14</string>
			<key>halfLife</key>
			<string>4.35ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>4</string>
	<key>numberOfNeutrons</key>
	<string>5</string>
	<key>numberOfProtons</key>
	<string>4</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>2</string>
	<key>qualitativeSolubility</key>
	<string>soluble in acid, alkaline solutions</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Earth Metal</string>
	<key>specificHeat</key>
	<string>1.825</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Be</string>
	<key>valenceElectronPotential</key>
	<string>82</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>2s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1189</string>
		<key>pa10</key>
		<string>1335</string>
		<key>pa100</key>
		<string>1518</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2469</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2054</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>1750</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
