<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>54.15x10⁴</string>
	<key>abundanceSea</key>
	<string>4.12x10²</string>
	<key>atomicMass</key>
	<string>40.078</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>4</integer>
	<key>atomicNumber</key>
	<integer>20</integer>
	<key>atomicRadius</key>
	<string>2.23</string>
	<key>atomicVolume</key>
	<string>29.9</string>
	<key>boilingPoint</key>
	<string>1484</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-70-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000223</string>
	<key>conductivityElectrical</key>
	<string>0.298</string>
	<key>conductivityThermal</key>
	<string>2.01</string>
	<key>covalentRadius</key>
	<string>1.74</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>0.44</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>1.54</string>
	<key>descr</key>
	<string>Silvery, soft metal, tarnishes to grayish white after exposure to air.</string>
	<key>discoverer</key>
	<string>Sir Humphrey Davy</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1808</string>
	<key>elasticModulusBulk</key>
	<string>17</string>
	<key>elasticModulusRigidity</key>
	<string>7.4</string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>Youngs: 20/GPa</string>
	<key>electroNegativity</key>
	<string>1</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>2.87</string>
	<key>enthalpyOfAtomization</key>
	<string>194</string>
	<key>enthalpyOfFusion</key>
	<string>8.54</string>
	<key>enthalpyOfVaporization</key>
	<string>150</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Flammable solid</string>
	<key>group</key>
	<string>2</string>
	<key>hardnessScaleBrinell</key>
	<string>167</string>
	<key>hardnessScaleMohs</key>
	<string>1.75</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>8.54</string>
	<key>heatOfVaporization</key>
	<string>153.6</string>
	<key>incompatibilities</key>
	<string>Water, oxidizers, acids, air, chlorine, chlorine tri-fluoride, fluorine, oxygen, silicon, sulfer.</string>
	<key>ionicRadius</key>
	<string>0.99</string>
	<key>ionizationPotentialFirst</key>
	<string>6.113</string>
	<key>ionizationPotentialSecond</key>
	<string>11.871</string>
	<key>ionizationPotentialThird</key>
	<string>50.908</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4226.7270</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4302.5270</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4302.8100</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Ca III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4307.7410</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4399.5900</string>
			<key>intensity</key>
			<string>19</string>
			<key>spectrum</key>
			<string>Ca III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4425.4410</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4434.9600</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4435.6880</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4454.7810</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4455.8870</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4456.6050</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4499.8800</string>
			<key>intensity</key>
			<string>19</string>
			<key>spectrum</key>
			<string>Ca III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4878.1320</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5019.9710</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ca II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5188.8480</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5265.5570</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5270.2700</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5349.4720</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5581.9710</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5588.7570</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5590.1200</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5594.4680</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5598.4870</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5857.4520</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6102.7220</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6122.2190</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6162.1720</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6169.0550</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6169.5590</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6439.0730</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6449.8100</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6456.8740</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ca II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6462.5660</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6471.6600</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6493.7800</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6499.6490</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6572.7770</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6717.6850</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ca I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+40</string>
	<key>meltingPoint</key>
	<string>842</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.929</string>
	<key>molarVolume</key>
	<string>26.02</string>
	<key>name</key>
	<string>Calcium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>34.014</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>Ca34</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>35.0048</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>15.610</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K35</string>
			<key>halfLife</key>
			<string>50ms</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>Ca35</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.860</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cl33</string>
			<key>halfLife</key>
			<string>50ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>35.9931</string>
			<key>br</key>
			<string>57</string>
			<key>decayEnergy</key>
			<string>9.320</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ar35</string>
			<key>halfLife</key>
			<string>102ms</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>Ca36</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.990</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K36</string>
			<key>halfLife</key>
			<string>102ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>36.9859</string>
			<key>br</key>
			<string>76</string>
			<key>decayEnergy</key>
			<string>9.781</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ar36</string>
			<key>halfLife</key>
			<string>181.1ms</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>Ca37</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.639</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K37</string>
			<key>halfLife</key>
			<string>181.1ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.9763</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.743</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K38</string>
			<key>halfLife</key>
			<string>440ms</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>Ca38</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.9707</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.531</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K39</string>
			<key>halfLife</key>
			<string>859.6ms</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Ca39</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>96.941</string>
			<key>atomicMass</key>
			<string>39.9626</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Ca40</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.9623</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.421</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>K41</string>
			<key>halfLife</key>
			<string>103000y</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Ca41</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.647</string>
			<key>atomicMass</key>
			<string>41.9586</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Ca42</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.135</string>
			<key>atomicMass</key>
			<string>42.9588</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Ca43</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>2.086</string>
			<key>atomicMass</key>
			<string>43.9555</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Ca44</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.9562</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.257</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc45</string>
			<key>halfLife</key>
			<string>162.61d</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Ca45</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.004</string>
			<key>atomicMass</key>
			<string>45.9537</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Ca46</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.9546</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.992</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc47</string>
			<key>halfLife</key>
			<string>4.536d</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Ca47</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.187</string>
			<key>atomicMass</key>
			<string>47.9525</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.272</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ti48</string>
			<key>halfLife</key>
			<string>&gt;6E¹⁸y</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Ca48</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.9557</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.262</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc49</string>
			<key>halfLife</key>
			<string>8.718m</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Ca49</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.9575</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.966</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc50</string>
			<key>halfLife</key>
			<string>13.9s</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Ca50</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.9615</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.330</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc51</string>
			<key>halfLife</key>
			<string>10s</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Ca51</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.580</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sc50</string>
			<key>halfLife</key>
			<string>10s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.965</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc52</string>
			<key>halfLife</key>
			<string>4.6s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Ca52</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.97</string>
			<key>br</key>
			<string>&gt;30</string>
			<key>decayEnergy</key>
			<string>4.500</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sc52</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Ca53</string>
			<key>spin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc53</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.975</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sc54</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Ca54</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.981</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Ca55</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.986</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Ca56</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.99</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Ca57</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>20</string>
	<key>numberOfNeutrons</key>
	<string>20</string>
	<key>numberOfProtons</key>
	<string>20</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0; insoluble in benzene</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Earth Metal</string>
	<key>specificHeat</key>
	<string>0.647</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ca</string>
	<key>valenceElectronPotential</key>
	<string>29</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>591</string>
		<key>pa10</key>
		<string>683</string>
		<key>pa100</key>
		<string>798</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>1482</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>1170</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>954</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
