<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-19.7</string>
	<key>abundanceCrust</key>
	<string>1.5x10⁻¹</string>
	<key>abundanceSea</key>
	<string>1.1x10⁻⁴</string>
	<key>atomicMass</key>
	<string>112.411</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>8</integer>
	<key>atomicNumber</key>
	<integer>48</integer>
	<key>atomicRadius</key>
	<string>1.71</string>
	<key>atomicVolume</key>
	<string>13.1</string>
	<key>boilingPoint</key>
	<string>767</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-43-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000298</string>
	<key>conductivityElectrical</key>
	<string>0.138</string>
	<key>conductivityThermal</key>
	<string>0.968</string>
	<key>covalentRadius</key>
	<string>1.48</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>245</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>8.69</string>
	<key>descr</key>
	<string>Silvery white transition metal.</string>
	<key>discoverer</key>
	<string>Fredrich Stromeyer</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1817</string>
	<key>elasticModulusBulk</key>
	<string>42</string>
	<key>elasticModulusRigidity</key>
	<string>19</string>
	<key>elasticModulusYoungs</key>
	<string>50</string>
	<key>electroChemicalEquivalent</key>
	<string>2.097</string>
	<key>electroNegativity</key>
	<string>1.69</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.22</string>
	<key>enthalpyOfAtomization</key>
	<string>113</string>
	<key>enthalpyOfFusion</key>
	<string>619</string>
	<key>enthalpyOfVaporization</key>
	<string>100</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>12</string>
	<key>hardnessScaleBrinell</key>
	<string>203</string>
	<key>hardnessScaleMohs</key>
	<string>2</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>6.192</string>
	<key>heatOfVaporization</key>
	<string>99.57</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers, ammonium nitrate, hydrazoic acid, tellurium, zinc, elemental sulpher, selenium</string>
	<key>ionicRadius</key>
	<string>0.97</string>
	<key>ionizationPotentialFirst</key>
	<string>8.993</string>
	<key>ionizationPotentialSecond</key>
	<string>16.908</string>
	<key>ionizationPotentialThird</key>
	<string>37.48</string>
	<key>meltingPoint</key>
	<string>321.07</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.020</string>
	<key>molarVolume</key>
	<string>13.01</string>
	<key>name</key>
	<string>Cadmium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>48</string>
	<key>numberOfNeutrons</key>
	<string>64</string>
	<key>numberOfProtons</key>
	<string>48</string>
	<key>opticalReflectivity</key>
	<string>67</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0; reacts with acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.232</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Cd</string>
	<key>valenceElectronPotential</key>
	<string>30</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>257</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>310</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>381</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>472</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>594</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>767</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
