<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.45x10²</string>
	<key>abundanceSea</key>
	<string>1.94x10⁴</string>
	<key>atomicMass</key>
	<string>35.453</string>
	<key>atomicMassFootnote</key>
	<string>g m r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>17</integer>
	<key>atomicRadius</key>
	<string>0.97</string>
	<key>atomicVolume</key>
	<string>22.7</string>
	<key>boilingPoint</key>
	<string>-34.04</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7782-50-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.000089</string>
	<key>covalentRadius</key>
	<string>0.99</string>
	<key>criticalTemperature</key>
	<string>143.8</string>
	<key>crossSection</key>
	<string>33</string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string>2.898</string>
	<key>descr</key>
	<string>Yellow-green halogen gas.</string>
	<key>discoverer</key>
	<string>Carl Wilhelm Scheele</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1774</string>
	<key>elasticModulusBulk</key>
	<string>1.1</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>1.3228</string>
	<key>electroNegativity</key>
	<string>3.16</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3p</key>
		<string>5</string>
		<key>3s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>121.8</string>
	<key>enthalpyOfFusion</key>
	<string>3.38</string>
	<key>enthalpyOfVaporization</key>
	<string>10.21</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3p</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-flammable gas (strong oxidizer)</string>
	<key>group</key>
	<string>17</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>3.203</string>
	<key>heatOfVaporization</key>
	<string>10.2</string>
	<key>incompatibilities</key>
	<string>Reacts explosively or forms explosive componds with many common substances such as acetyle, ether, turpentine, ammonia, fuel gas, hydrogen and finely divided metals.</string>
	<key>ionicRadius</key>
	<string>1.8</string>
	<key>ionizationPotentialFirst</key>
	<string>12.967</string>
	<key>ionizationPotentialSecond</key>
	<string>23.81</string>
	<key>ionizationPotentialThird</key>
	<string>39.611</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4018.5000</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Cl III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4059.0700</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Cl III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4104.2300</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Cl III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4106.8300</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Cl III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4132.4980</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4372.9300</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4608.2100</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Cl III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4768.6490</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4781.3180</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4794.5500</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4810.0600</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4819.4710</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4896.7700</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4904.7760</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4917.7310</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4995.4770</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5078.2640</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5217.9400</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5221.3550</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5392.1190</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5423.2300</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5423.5070</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5443.3700</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5444.2050</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5457.0220</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Cl II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-40.4</string>
	<key>meltingPoint</key>
	<string>-101.5</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>33.949</string>
	<key>molarVolume</key>
	<string>18.7</string>
	<key>name</key>
	<string>Chlorine</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.029</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>11</string>
			<key>nuclideSymbol</key>
			<string>Cl28</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.014</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>12</string>
			<key>nuclideSymbol</key>
			<string>Cl29</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.005</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>13</string>
			<key>nuclideSymbol</key>
			<string>Cl30</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.9924</string>
			<key>zp</key>
			<string>0.44</string>
			<key>decayEnergy</key>
			<string>5.850</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>P30</string>
			<key>halfLife</key>
			<string>150ms</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclideSymbol</key>
			<string>Cl31</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.980</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S31</string>
			<key>halfLife</key>
			<string>150ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.9857</string>
			<key>zp</key>
			<string>0.01</string>
			<key>decayEnergy</key>
			<string>5.737</string>
			<key>decayModes</key>
			<string>ξ + α</string>
			<key>daughterIsotopes</key>
			<string>Si28</string>
			<key>halfLife</key>
			<string>298ms</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclideSymbol</key>
			<string>Cl32</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.007</string>
			<key>decayEnergy</key>
			<string>3.821</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>P31</string>
			<key>halfLife</key>
			<string>298ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.685</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S32</string>
			<key>halfLife</key>
			<string>298ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>32.9775</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.583</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S33</string>
			<key>halfLife</key>
			<string>2.511s</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclideSymbol</key>
			<string>Cl33</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>33.9738</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.492</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S34</string>
			<key>halfLife</key>
			<string>1.5264s</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclideSymbol</key>
			<string>Cl34</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.146MeV</string>
			<key>zp</key>
			<string>55.4</string>
			<key>decayEnergy</key>
			<string>5.638</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S34</string>
			<key>halfLife</key>
			<string>32m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>44.6</string>
			<key>decayEnergy</key>
			<string>0.146</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>32m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>75.77</string>
			<key>atomicMass</key>
			<string>34.9689</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclideSymbol</key>
			<string>Cl35</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>35.9683</string>
			<key>zp</key>
			<string>98.1</string>
			<key>decayEnergy</key>
			<string>0.709</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar36</string>
			<key>halfLife</key>
			<string>301000y</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclideSymbol</key>
			<string>Cl36</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>1.9</string>
			<key>decayEnergy</key>
			<string>1.142</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>S36</string>
			<key>halfLife</key>
			<string>301000y</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>24.23</string>
			<key>atomicMass</key>
			<string>36.9659</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclideSymbol</key>
			<string>Cl37</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.968</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.917</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar38</string>
			<key>halfLife</key>
			<string>37.24m</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>Cl38</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.671MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.671</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>715ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.968</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.442</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar39</string>
			<key>halfLife</key>
			<string>55.6m</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>Cl39</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>39.9704</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.480</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar40</string>
			<key>halfLife</key>
			<string>1.35m</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>Cl40</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.9707</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.730</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar41</string>
			<key>halfLife</key>
			<string>38.4s</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>Cl41</string>
			<key>nuclearSpin</key>
			<string>3/2+, 1/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.973</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.430</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar42</string>
			<key>halfLife</key>
			<string>6.8s</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>Cl42</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.974</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.950</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar43</string>
			<key>halfLife</key>
			<string>3.3s</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>Cl43</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.979</string>
			<key>zp</key>
			<string>&lt;8</string>
			<key>decayEnergy</key>
			<string>3.920</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Ar43</string>
			<key>halfLife</key>
			<string>434ms</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>Cl44</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.270</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar44</string>
			<key>halfLife</key>
			<string>434ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.98</string>
			<key>zp</key>
			<string>24</string>
			<key>decayEnergy</key>
			<string>5.300</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Ar44</string>
			<key>halfLife</key>
			<string>400ms</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>Cl45</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.800</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar45</string>
			<key>halfLife</key>
			<string>400ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.984</string>
			<key>zp</key>
			<string>24</string>
			<key>decayEnergy</key>
			<string>6.900</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Ar45</string>
			<key>halfLife</key>
			<string>223ms</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>Cl46</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.900</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar46</string>
			<key>halfLife</key>
			<string>223ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.988</string>
			<key>zp</key>
			<string>&lt;=3</string>
			<key>decayEnergy</key>
			<string>10.400</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Ar46</string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>Cl47</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.700</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ar47</string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.995</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>Cl48</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.999</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>=&gt;170ns</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Cl49</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.008</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Cl50</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.01</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Cl51</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>17</string>
	<key>numberOfNeutrons</key>
	<string>18</string>
	<key>numberOfProtons</key>
	<string>17</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000773</string>
	<key>oxidationStates</key>
	<string>±1, 3, 5, 7</string>
	<key>period</key>
	<string>3</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Halogen</string>
	<key>specificHeat</key>
	<string>0.479</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>Cl</string>
	<key>valenceElectronPotential</key>
	<string>-7.96</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>3p</key>
			<string>5</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-145</string>
		<key>pa10</key>
		<string>-133.7</string>
		<key>pa100</key>
		<string>-120.2</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-34.2</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-76.1</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-103.6</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
