<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string></string>
	<key>abundanceCrust</key>
	<string></string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>247.0704</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>96</integer>
	<key>atomicRadius</key>
	<string></string>
	<key>atomicVolume</key>
	<string>18.28</string>
	<key>boilingPoint</key>
	<string>3100</string>
	<key>boilingPointFootnote</key>
	<string>approximate</string>
	<key>casRegistryNumber</key>
	<string>7440-51-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.1</string>
	<key>covalentRadius</key>
	<string>1.8</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>13.51</string>
	<key>descr</key>
	<string>Man made radioactive metal.</string>
	<key>discoverer</key>
	<string>G.T.Seaborg, R.A.James, A.Ghiorso</string>
	<key>discoveryLocation</key>
	<string>United States</string>
	<key>discoveryYear</key>
	<string>1944</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>3.0727</string>
	<key>electroNegativity</key>
	<string>1.3</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5f</key>
		<string>7</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6d</key>
		<string>1</string>
		<key>6p</key>
		<string>6</string>
		<key>6s</key>
		<string>2</string>
		<key>7s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string>15</string>
	<key>enthalpyOfVaporization</key>
	<string></string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5f</key>
			<string>7</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string></string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.97</string>
	<key>ionizationPotentialFirst</key>
	<string>6.02</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>1345</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string>18.29</string>
	<key>name</key>
	<string>Curium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>96</string>
	<key>numberOfNeutrons</key>
	<string>151</string>
	<key>numberOfProtons</key>
	<string>96</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>7</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Actinide</string>
	<key>specificHeat</key>
	<string></string>
	<key>standardCondition</key>
	<string>Synthetic</string>
	<key>symbol</key>
	<string>Cm</string>
	<key>valenceElectronPotential</key>
	<string>44.5</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5f</key>
			<string>7</string>
		</dict>
		<dict>
			<key>6d</key>
			<string>1</string>
		</dict>
		<dict>
			<key>7s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string></string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string></string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string></string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
