<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+98000</string>
	<key>abundanceCrust</key>
	<string>5.2</string>
	<key>abundanceSea</key>
	<string>9.1x10⁻⁷</string>
	<key>atomicMass</key>
	<string>162.500</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>66</integer>
	<key>atomicRadius</key>
	<string>2.49</string>
	<key>atomicVolume</key>
	<string>19</string>
	<key>boilingPoint</key>
	<string>2567</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7429-91-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000086</string>
	<key>conductivityElectrical</key>
	<string>0.0108</string>
	<key>conductivityThermal</key>
	<string>0.107</string>
	<key>covalentRadius</key>
	<string>1.59</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>930</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>8.55</string>
	<key>descr</key>
	<string>Rare earth metal.</string>
	<key>discoverer</key>
	<string>Paul émile Lecoq de Boisbaudran</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1886</string>
	<key>elasticModulusBulk</key>
	<string>41</string>
	<key>elasticModulusRigidity</key>
	<string>25</string>
	<key>elasticModulusYoungs</key>
	<string>61</string>
	<key>electroChemicalEquivalent</key>
	<string>2.021</string>
	<key>electroNegativity</key>
	<string>1.22</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>301</string>
	<key>enthalpyOfFusion</key>
	<string>11.05</string>
	<key>enthalpyOfVaporization</key>
	<string>230</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4f</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>500</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string>540</string>
	<key>heatOfFusion</key>
	<string>11.06</string>
	<key>heatOfVaporization</key>
	<string>230</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.912</string>
	<key>ionizationPotentialFirst</key>
	<string>5.94</string>
	<key>ionizationPotentialSecond</key>
	<string>11.67</string>
	<key>ionizationPotentialThird</key>
	<string>22.802</string>
	<key>meltingPoint</key>
	<string>1412</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>27.7</string>
	<key>molarVolume</key>
	<string>19</string>
	<key>name</key>
	<string>Dysprosium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>66</string>
	<key>numberOfNeutrons</key>
	<string>96</string>
	<key>numberOfProtons</key>
	<string>66</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Lanthanide</string>
	<key>specificHeat</key>
	<string>0.170</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Dy</string>
	<key>valenceElectronPotential</key>
	<string>47.4</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4f</key>
			<string>10</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1105</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>1250</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>1431</string>
		<key>pa100Footnote</key>
		<string>i</string>
		<key>pa1k</key>
		<string>1681</string>
		<key>pa1kFootnote</key>
		<string>i</string>
		<key>pa10k</key>
		<string>2031</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>2558</string>
		<key>pa100kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
