<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>H</string>
	<string>He</string>
	<string>Li</string>
	<string>Be</string>
	<string>B</string>
	<string>C</string>
	<string>N</string>
	<string>O</string>
	<string>F</string>
	<string>Ne</string>
	<string>Na</string>
	<string>Mg</string>
	<string>Al</string>
	<string>Si</string>
	<string>P</string>
	<string>S</string>
	<string>Cl</string>
	<string>Ar</string>
	<string>K</string>
	<string>Ca</string>
	<string>Sc</string>
	<string>Ti</string>
	<string>V</string>
	<string>Cr</string>
	<string>Mn</string>
	<string>Fe</string>
	<string>Co</string>
	<string>Ni</string>
	<string>Cu</string>
	<string>Zn</string>
	<string>Ga</string>
	<string>Ge</string>
	<string>As</string>
	<string>Se</string>
	<string>Br</string>
	<string>Kr</string>
	<string>Rb</string>
	<string>Sr</string>
	<string>Y</string>
	<string>Zr</string>
	<string>Nb</string>
	<string>Mo</string>
	<string>Tc</string>
	<string>Ru</string>
	<string>Rh</string>
	<string>Pd</string>
	<string>Ag</string>
	<string>Cd</string>
	<string>In</string>
	<string>Sn</string>
	<string>Sb</string>
	<string>Te</string>
	<string>I</string>
	<string>Xe</string>
	<string>Cs</string>
	<string>Ba</string>
	<string>La</string>
	<string>Ce</string>
	<string>Pr</string>
	<string>Nd</string>
	<string>Pm</string>
	<string>Sm</string>
	<string>Eu</string>
	<string>Gd</string>
	<string>Tb</string>
	<string>Dy</string>
	<string>Ho</string>
	<string>Er</string>
	<string>Tm</string>
	<string>Yb</string>
	<string>Lu</string>
	<string>Hf</string>
	<string>Ta</string>
	<string>W</string>
	<string>Re</string>
	<string>Os</string>
	<string>Ir</string>
	<string>Pt</string>
	<string>Au</string>
	<string>Hg</string>
	<string>Tl</string>
	<string>Pb</string>
	<string>Bi</string>
	<string>Po</string>
	<string>At</string>
	<string>Rn</string>
	<string>Fr</string>
	<string>Ra</string>
	<string>Ac</string>
	<string>Th</string>
	<string>Pa</string>
	<string>U</string>
	<string>Np</string>
	<string>Pu</string>
	<string>Am</string>
	<string>Cm</string>
	<string>Bk</string>
	<string>Cf</string>
	<string>Es</string>
	<string>Fm</string>
	<string>Md</string>
	<string>No</string>
	<string>Lr</string>
	<string>Rf</string>
	<string>Db</string>
	<string>Sg</string>
	<string>Bh</string>
	<string>Hs</string>
	<string>Mt</string>
	<string>Ds</string>
	<string>Rg</string>
	<string>Cn</string>
	<string>Uut</string>
	<string>Uuq</string>
	<string>Uup</string>
	<string>Uuh</string>
	<string>Uus</string>
	<string>Uuo</string>
</array>
</plist>
