<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>5.85x10²</string>
	<key>abundanceSea</key>
	<string>1.3</string>
	<key>atomicMass</key>
	<string>18.9984032</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>5</integer>
	<key>atomicNumber</key>
	<integer>9</integer>
	<key>atomicRadius</key>
	<string>0.57</string>
	<key>atomicVolume</key>
	<string>17.1</string>
	<key>boilingPoint</key>
	<string>-188.12</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7782-41-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.000279</string>
	<key>covalentRadius</key>
	<string>0.72</string>
	<key>criticalTemperature</key>
	<string>-129.02</string>
	<key>crossSection</key>
	<string>9.8</string>
	<key>crystalStructure</key>
	<string>Cubic</string>
	<key>density</key>
	<string>1.553</string>
	<key>descr</key>
	<string>Greenish-yellow gas of the Halogen family.</string>
	<key>discoverer</key>
	<string>Henri Moissan</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1886</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.70883</string>
	<key>electroNegativity</key>
	<string>3.98</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>5</string>
		<key>2s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>79.08</string>
	<key>enthalpyOfFusion</key>
	<string>0.26</string>
	<key>enthalpyOfVaporization</key>
	<string>3.31</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>2p</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-flammable gas (extreme oxidizer)</string>
	<key>group</key>
	<string>17</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>0.2552</string>
	<key>heatOfVaporization</key>
	<string>3.2698</string>
	<key>incompatibilities</key>
	<string>Water, nitric acid, oxidizers, organic compounds</string>
	<key>ionicRadius</key>
	<string>1.33</string>
	<key>ionizationPotentialFirst</key>
	<string>17.422</string>
	<key>ionizationPotentialSecond</key>
	<string>34.97</string>
	<key>ionizationPotentialThird</key>
	<string>62.707</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4024.7260</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4025.0100</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4103.0740</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4103.5080</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4103.8700</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4246.3850</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4246.7740</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4299.1700</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4420.3000</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4427.3500</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4432.3200</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4446.5270</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4446.7220</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4447.1880</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>F II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4479.9900</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5012.5400</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5110.99</string>
			<key>intensity</key>
			<string>160</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5753.1700</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5761.2000</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6091.8200</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6125.5000</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6233.5700</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6239.6510</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6348.5080</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6363.0500</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>F III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6413.6510</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6690.4810</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6773.9840</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6834.2640</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6856.0300</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6870.2150</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6902.4750</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6909.8160</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6966.3490</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>F I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-9.63</string>
	<key>meltingPoint</key>
	<string>-219.67</string>
	<key>meltingPointFootnote</key>
	<string>triple point</string>
	<key>molarHeatCapacity</key>
	<string>31.304</string>
	<key>molarVolume</key>
	<string>17.1</string>
	<key>name</key>
	<string>Florine</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>14.036</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.200</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>O13</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>5</string>
			<key>nuclide</key>
			<string>F14</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>15.018</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.480</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>O14</string>
			<key>halfLife</key>
			<string>1MeV</string>
			<key>nn</key>
			<string>6</string>
			<key>nuclide</key>
			<string>F15</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>16.0115</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.536</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>O15</string>
			<key>halfLife</key>
			<string>40keV</string>
			<key>nn</key>
			<string>7</string>
			<key>nuclide</key>
			<string>F16</string>
			<key>spin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>17.0021</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.761</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>O17</string>
			<key>halfLife</key>
			<string>64.49s</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>F17</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>18.0009</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.656</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>O18</string>
			<key>halfLife</key>
			<string>109.77m</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>F18</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>18.9984</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>F19</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>20.0</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.025</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne20</string>
			<key>halfLife</key>
			<string>11s</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclide</key>
			<string>F20</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>21.0</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.684</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne21</string>
			<key>halfLife</key>
			<string>4.158s</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>F21</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>22.0030</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.818</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne22</string>
			<key>halfLife</key>
			<string>4.23s</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>F22</string>
			<key>spin</key>
			<string>3+, 4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>23.0036</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.480</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne23</string>
			<key>halfLife</key>
			<string>2.23s</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>F23</string>
			<key>spin</key>
			<string>5/2+, 3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>24.0081</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.490</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne24</string>
			<key>halfLife</key>
			<string>0.34s</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>F24</string>
			<key>spin</key>
			<string>1+, 2+, 3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>25.0121</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ne25</string>
			<key>halfLife</key>
			<string>59ms</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>F25</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ne24</string>
			<key>halfLife</key>
			<string>59ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>26.02</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>F26</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>27.027</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>200ns</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>F27</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.036</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>F28</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.043</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>F29</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>9</string>
	<key>numberOfNeutrons</key>
	<string>10</string>
	<key>numberOfProtons</key>
	<string>9</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000195</string>
	<key>oxidationStates</key>
	<string>-1</string>
	<key>period</key>
	<string>2</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Halogen</string>
	<key>specificHeat</key>
	<string>0.824</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>F</string>
	<key>valenceElectronPotential</key>
	<string>-10.1</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>2p</key>
			<string>5</string>
			<key>2s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-235</string>
		<key>pa10</key>
		<string>-229.5</string>
		<key>pa100</key>
		<string>-222.9</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-188.3</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-204.3</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-214.8</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
