<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>5.63x10⁴</string>
	<key>abundanceSea</key>
	<string>2x10⁻²</string>
	<key>atomicMass</key>
	<string>55.845</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>26</integer>
	<key>atomicRadius</key>
	<string>1.72</string>
	<key>atomicVolume</key>
	<string>7.1</string>
	<key>boilingPoint</key>
	<string>2861</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-89-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00001176</string>
	<key>conductivityElectrical</key>
	<string>0.0993</string>
	<key>conductivityThermal</key>
	<string>0.802</string>
	<key>covalentRadius</key>
	<string>1.17</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>2.56</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>7.87</string>
	<key>descr</key>
	<string>Silvery-white transition metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>170</string>
	<key>elasticModulusRigidity</key>
	<string>82</string>
	<key>elasticModulusYoungs</key>
	<string>211</string>
	<key>electroChemicalEquivalent</key>
	<string>0.69455</string>
	<key>electroNegativity</key>
	<string>1.83</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>6</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.7</string>
	<key>enthalpyOfAtomization</key>
	<string>414.2</string>
	<key>enthalpyOfFusion</key>
	<string>14.9</string>
	<key>enthalpyOfVaporization</key>
	<string>351</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>6</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>8</string>
	<key>hardnessScaleBrinell</key>
	<string>490</string>
	<key>hardnessScaleMohs</key>
	<string>4</string>
	<key>hardnessScaleVickers</key>
	<string>608</string>
	<key>heatOfFusion</key>
	<string>13.8</string>
	<key>heatOfVaporization</key>
	<string>349.6</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.645</string>
	<key>ionizationPotentialFirst</key>
	<string>7.87</string>
	<key>ionizationPotentialSecond</key>
	<string>16.18</string>
	<key>ionizationPotentialThird</key>
	<string>30.651</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4005.2419</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4045.8125</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4063.5942</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4071.7380</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4132.0581</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4143.8682</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4202.0293</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4216.1836</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4250.7871</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4260.4746</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4271.7607</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4282.4028</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4307.9023</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4325.7622</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4375.9302</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4383.5449</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4404.7505</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4415.1226</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4427.2979</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4461.6528</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4920.5029</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4957.5967</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5167.4883</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5171.5962</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5227.1509</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5269.5376</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5270.3564</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5328.0386</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5328.5317</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5341.0239</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5371.4897</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5397.1279</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Fe I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6247.5600</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Fe II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6456.3800</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Fe II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>Ferromagnetic</string>
	<key>meltingPoint</key>
	<string>1538</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.10</string>
	<key>molarVolume</key>
	<string>7.11</string>
	<key>name</key>
	<string>Iron</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.015</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Fe45</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.001</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn46</string>
			<key>halfLife</key>
			<string>20ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Fe46</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.900</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cr45</string>
			<key>halfLife</key>
			<string>20ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.993</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>15.600</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn47</string>
			<key>halfLife</key>
			<string>27ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Fe47</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>15.600</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cr46</string>
			<key>halfLife</key>
			<string>27ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.981</string>
			<key>br</key>
			<string>&gt;3.6</string>
			<key>decayEnergy</key>
			<string>9.160</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cr47</string>
			<key>halfLife</key>
			<string>44ms</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Fe48</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.890</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn48</string>
			<key>halfLife</key>
			<string>44ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.974</string>
			<key>br</key>
			<string>&gt;=62</string>
			<key>decayEnergy</key>
			<string>10.940</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cr48</string>
			<key>halfLife</key>
			<string>70ms</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Fe49</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.030</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn49</string>
			<key>halfLife</key>
			<string>70ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.963</string>
			<key>br</key>
			<string>~0</string>
			<key>decayEnergy</key>
			<string>3.560</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Cr49</string>
			<key>halfLife</key>
			<string>150ms</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Fe50</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.150</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn50</string>
			<key>halfLife</key>
			<string>150ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.9568</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.020</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn51</string>
			<key>halfLife</key>
			<string>305ms</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Fe51</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9481</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.372</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn52</string>
			<key>halfLife</key>
			<string>8.275h</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Fe52</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>6.820MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.192</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn52</string>
			<key>halfLife</key>
			<string>45.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>12+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.9453</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.743</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn53</string>
			<key>halfLife</key>
			<string>8.51m</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Fe53</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>3.040MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.040</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>2.58m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>19/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>5.8</string>
			<key>atomicMass</key>
			<string>53.9396</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Fe54</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.9383</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.231</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mn55</string>
			<key>halfLife</key>
			<string>2.73y</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Fe55</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>91.72</string>
			<key>atomicMass</key>
			<string>55.9349</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Fe56</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>2.2</string>
			<key>atomicMass</key>
			<string>56.9354</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Fe57</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.28</string>
			<key>atomicMass</key>
			<string>57.9333</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Fe58</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.9349</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.565</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co59</string>
			<key>halfLife</key>
			<string>44.503d</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Fe59</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.9341</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.237</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co60</string>
			<key>halfLife</key>
			<string>1500000y</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Fe60</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.9367</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.978</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co61</string>
			<key>halfLife</key>
			<string>5.98m</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Fe61</string>
			<key>spin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.9368</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.530</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co62</string>
			<key>halfLife</key>
			<string>68s</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Fe62</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.94</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.320</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co63</string>
			<key>halfLife</key>
			<string>6.1s</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Fe63</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.941</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co64</string>
			<key>halfLife</key>
			<string>2s</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Fe64</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.945</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co65</string>
			<key>halfLife</key>
			<string>0.4s</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Fe65</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.946</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>440ms</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Fe66</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.95</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co67</string>
			<key>halfLife</key>
			<string>470ms</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Fe67</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.953</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Co68</string>
			<key>halfLife</key>
			<string>0.1s</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Fe68</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.958</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>170ms</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Fe69</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Fe70</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Fe71</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Fe72</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>26</string>
	<key>numberOfNeutrons</key>
	<string>30</string>
	<key>numberOfProtons</key>
	<string>26</string>
	<key>opticalReflectivity</key>
	<string>65</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.449</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Fe</string>
	<key>valenceElectronPotential</key>
	<string>67</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>6</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1455</string>
		<key>pa10</key>
		<string>1617</string>
		<key>pa100</key>
		<string>1818</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2859</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2406</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2073</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
