<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.9x10¹</string>
	<key>abundanceSea</key>
	<string>3x10⁻⁵</string>
	<key>atomicMass</key>
	<string>69.723</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>31</integer>
	<key>atomicRadius</key>
	<string>1.81</string>
	<key>atomicVolume</key>
	<string>11.8</string>
	<key>boilingPoint</key>
	<string>2404</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-53-3</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000181</string>
	<key>conductivityElectrical</key>
	<string>0.0678</string>
	<key>conductivityThermal</key>
	<string>0.406</string>
	<key>covalentRadius</key>
	<string>1.26</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>3.1</string>
	<key>crystalStructure</key>
	<string>Cubic</string>
	<key>density</key>
	<string>5.91</string>
	<key>descr</key>
	<string>Soft silver-white metal. Properties similar to aluminum.</string>
	<key>discoverer</key>
	<string>Paul émile Lecoq de Boisbaudran</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1875</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.8671</string>
	<key>electroNegativity</key>
	<string>1.81</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>1</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.2</string>
	<key>enthalpyOfAtomization</key>
	<string>276.1</string>
	<key>enthalpyOfFusion</key>
	<string>5.59</string>
	<key>enthalpyOfVaporization</key>
	<string>256.1</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>13</string>
	<key>hardnessScaleBrinell</key>
	<string>60</string>
	<key>hardnessScaleMohs</key>
	<string>1.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>5.59</string>
	<key>heatOfVaporization</key>
	<string>258.7</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.62</string>
	<key>ionizationPotentialFirst</key>
	<string>5.999</string>
	<key>ionizationPotentialSecond</key>
	<string>20.51</string>
	<key>ionizationPotentialThird</key>
	<string>30.71</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4032.9840</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ga I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4172.0420</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ga I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4262.0190</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5219.6500</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5416.3600</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6334.0500</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6396.5600</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ga I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6413.4500</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ga I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6419.2300</string>
			<key>intensity</key>
			<string>900</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6455.8900</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Ga II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-21.6</string>
	<key>meltingPoint</key>
	<string>29.771</string>
	<key>meltingPointFootnote</key>
	<string>triple point</string>
	<key>molarHeatCapacity</key>
	<string>25.86</string>
	<key>molarVolume</key>
	<string>11.4</string>
	<key>name</key>
	<string>Gallium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.995</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Ga56</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.983</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Ga57</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.974</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Ga58</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.963</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Ga59</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.957</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Ga60</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.000</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn61</string>
			<key>halfLife</key>
			<string>0.15s</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Ga61</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.9442</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.170</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn62</string>
			<key>halfLife</key>
			<string>116.12ms</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Ga62</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.939</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.520</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn63</string>
			<key>halfLife</key>
			<string>32.4s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Ga63</string>
			<key>spin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.9368</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.165</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn64</string>
			<key>halfLife</key>
			<string>2.627m</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Ga64</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.9327</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.255</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn65</string>
			<key>halfLife</key>
			<string>15.2m</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Ga65</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.9316</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.175</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn66</string>
			<key>halfLife</key>
			<string>9.49h</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Ga66</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.9282</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.000</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn67</string>
			<key>halfLife</key>
			<string>3.2612d</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Ga67</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.921</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn68</string>
			<key>halfLife</key>
			<string>67.629m</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Ga68</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>60.108</string>
			<key>atomicMass</key>
			<string>68.9256</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Ga69</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.926</string>
			<key>br</key>
			<string>99.59</string>
			<key>decayEnergy</key>
			<string>1.656</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge70</string>
			<key>halfLife</key>
			<string>21.14m</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Ga70</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.41</string>
			<key>decayEnergy</key>
			<string>0.655</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Zn70</string>
			<key>halfLife</key>
			<string>21.14m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>39.892</string>
			<key>atomicMass</key>
			<string>70.9247</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Ga71</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.9264</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.001</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge72</string>
			<key>halfLife</key>
			<string>14.10h</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Ga72</string>
			<key>spin</key>
			<string>3-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.120MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Ga72</string>
			<key>halfLife</key>
			<string>39.68ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.9252</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.593</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge73</string>
			<key>halfLife</key>
			<string>4.86h</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Ga73</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.9269</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.370</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge74</string>
			<key>halfLife</key>
			<string>8.12m</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Ga74</string>
			<key>spin</key>
			<string>3-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.060MeV</string>
			<key>br</key>
			<string>75</string>
			<key>decayEnergy</key>
			<string>0.060</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>9.5s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>0</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>&lt;50</string>
			<key>decayEnergy</key>
			<string>5.430</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge74</string>
			<key>halfLife</key>
			<string>9.5s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9265</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.392</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge75</string>
			<key>halfLife</key>
			<string>126s</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Ga75</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9289</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.010</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge76</string>
			<key>halfLife</key>
			<string>32.6s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Ga76</string>
			<key>spin</key>
			<string>2+, 3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9293</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.340</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge77</string>
			<key>halfLife</key>
			<string>13.2s</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Ga77</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.9317</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.200</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge78</string>
			<key>halfLife</key>
			<string>5.09s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Ga78</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.933</string>
			<key>br</key>
			<string>0.08</string>
			<key>decayEnergy</key>
			<string>1.300</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge78</string>
			<key>halfLife</key>
			<string>2.847s</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Ga79</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.000</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge79</string>
			<key>halfLife</key>
			<string>2.847s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.937</string>
			<key>br</key>
			<string>0.89</string>
			<key>decayEnergy</key>
			<string>2.350</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge79</string>
			<key>halfLife</key>
			<string>1.697s</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Ga80</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.380</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge80</string>
			<key>halfLife</key>
			<string>1.697s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.938</string>
			<key>br</key>
			<string>11.9</string>
			<key>decayEnergy</key>
			<string>3.390</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge80</string>
			<key>halfLife</key>
			<string>1.217s</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Ga81</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.320</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge81</string>
			<key>halfLife</key>
			<string>1.217s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.943</string>
			<key>br</key>
			<string>22.3</string>
			<key>decayEnergy</key>
			<string>5.300</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge81</string>
			<key>halfLife</key>
			<string>0.599s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Ga82</string>
			<key>spin</key>
			<string>1, 2, 3</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge82</string>
			<key>halfLife</key>
			<string>0.599s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.947</string>
			<key>br</key>
			<string>40</string>
			<key>decayEnergy</key>
			<string>8.000</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge82</string>
			<key>halfLife</key>
			<string>0.31s</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Ga83</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge83</string>
			<key>halfLife</key>
			<string>0.31s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.952</string>
			<key>br</key>
			<string>~70</string>
			<key>decayEnergy</key>
			<string>8.500</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ge83</string>
			<key>halfLife</key>
			<string>85ms</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Ga84</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.000</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ge84</string>
			<key>halfLife</key>
			<string>85ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>31</string>
	<key>numberOfNeutrons</key>
	<string>39</string>
	<key>numberOfProtons</key>
	<string>31</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>reacts with alkaline solutions</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.371</string>
	<key>standardCondition</key>
	<string>Liquid</string>
	<key>symbol</key>
	<string>Ga</string>
	<key>valenceElectronPotential</key>
	<string>69.7</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1037</string>
		<key>pa10</key>
		<string>1175</string>
		<key>pa100</key>
		<string>1347</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2245</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1852</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>1565</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
