<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.5</string>
	<key>abundanceSea</key>
	<string>5x10⁻⁵</string>
	<key>atomicMass</key>
	<string>72.64</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>32</integer>
	<key>atomicRadius</key>
	<string>1.52</string>
	<key>atomicVolume</key>
	<string>13.6</string>
	<key>boilingPoint</key>
	<string>2833</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-56-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000575</string>
	<key>conductivityElectrical</key>
	<string>0.0000000145</string>
	<key>conductivityThermal</key>
	<string>0.599</string>
	<key>covalentRadius</key>
	<string>1.22</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>2.3</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>5.3234</string>
	<key>descr</key>
	<string>Hard brittle grayish-white metal.</string>
	<key>discoverer</key>
	<string>Clemens Winkler</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1886</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.6771</string>
	<key>electroNegativity</key>
	<string>2.01</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5</string>
	<key>enthalpyOfAtomization</key>
	<string>376.6</string>
	<key>enthalpyOfFusion</key>
	<string>34.7</string>
	<key>enthalpyOfVaporization</key>
	<string>334.3</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustable Solid, fine dust easily ignited.</string>
	<key>group</key>
	<string>14</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>36.94</string>
	<key>heatOfVaporization</key>
	<string>330.9</string>
	<key>incompatibilities</key>
	<string>Acids</string>
	<key>ionicRadius</key>
	<string>0.53</string>
	<key>ionizationPotentialFirst</key>
	<string>7.899</string>
	<key>ionizationPotentialSecond</key>
	<string>15.934</string>
	<key>ionizationPotentialThird</key>
	<string>34.22</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4741.8060</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ge II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4814.6080</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ge II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5893.3890</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ge II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6021.0410</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ge II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-11.6</string>
	<key>meltingPoint</key>
	<string>938.25</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>23.222</string>
	<key>molarVolume</key>
	<string>13.57</string>
	<key>name</key>
	<string>Germanium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.991</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Ge58</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.982</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Ge59</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.97</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Ge60</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.964</string>
			<key>br</key>
			<string>~60</string>
			<key>decayEnergy</key>
			<string>13.200</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Zn60</string>
			<key>halfLife</key>
			<string>40ms</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Ge61</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.600</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga61</string>
			<key>halfLife</key>
			<string>40ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.955</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Ge62</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.750</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga62</string>
			<key>halfLife</key>
			<string>0.11s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.95</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.780</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga63</string>
			<key>halfLife</key>
			<string>95ms</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Ge63</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.942</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.410</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga64</string>
			<key>halfLife</key>
			<string>63.7s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Ge64</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.939</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.240</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga65</string>
			<key>halfLife</key>
			<string>30.9s</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Ge65</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.9338</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga66</string>
			<key>halfLife</key>
			<string>2.26h</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Ge66</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.9327</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.223</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga67</string>
			<key>halfLife</key>
			<string>18.9m</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Ge67</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.9281</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.106</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga68</string>
			<key>halfLife</key>
			<string>270.8d</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Ge68</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.227</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga69</string>
			<key>halfLife</key>
			<string>39.05h</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Ge69</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.086MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.087</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>5.1us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.397MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.398</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>2.81us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>21.23</string>
			<key>atomicMass</key>
			<string>69.9243</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Ge70</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.925</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.229</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ga71</string>
			<key>halfLife</key>
			<string>11.43d</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Ge71</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.198MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.198</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>20.4ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>27.66</string>
			<key>atomicMass</key>
			<string>71.9221</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Ge72</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>7.73</string>
			<key>atomicMass</key>
			<string>72.9235</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Ge73</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.067MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.067</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>0.499s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>35.94</string>
			<key>atomicMass</key>
			<string>73.9212</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Ge74</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9229</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.176</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As75</string>
			<key>halfLife</key>
			<string>82.78m</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Ge75</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.139MeV</string>
			<key>br</key>
			<string>99.97</string>
			<key>decayEnergy</key>
			<string>0.140</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>47.7s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.03</string>
			<key>decayEnergy</key>
			<string>1.316</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As75</string>
			<key>halfLife</key>
			<string>47.7s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9214</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Ge76</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9236</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.702</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As77</string>
			<key>halfLife</key>
			<string>11.3h</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Ge77</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.159MeV</string>
			<key>br</key>
			<string>81</string>
			<key>decayEnergy</key>
			<string>2.862</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As77</string>
			<key>halfLife</key>
			<string>52.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>19</string>
			<key>decayEnergy</key>
			<string>0.160</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>52.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>7.44</string>
			<key>atomicMass</key>
			<string>77.9229</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.954</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As78</string>
			<key>halfLife</key>
			<string>88m</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Ge78</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.9254</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.150</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As79</string>
			<key>halfLife</key>
			<string>18.98s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Ge79</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.186MeV</string>
			<key>br</key>
			<string>96</string>
			<key>decayEnergy</key>
			<string>4.336</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As79</string>
			<key>halfLife</key>
			<string>39s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>4</string>
			<key>decayEnergy</key>
			<string>0.186</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>39s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.9254</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.670</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As80</string>
			<key>halfLife</key>
			<string>29.5s</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Ge80</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.929</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.230</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As81</string>
			<key>halfLife</key>
			<string>7.6s</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Ge81</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.679MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.909</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As81</string>
			<key>halfLife</key>
			<string>7.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.93</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As82</string>
			<key>halfLife</key>
			<string>4.6s</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Ge82</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.935</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As83</string>
			<key>halfLife</key>
			<string>1.85s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Ge83</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.937</string>
			<key>br</key>
			<string>10.8</string>
			<key>decayEnergy</key>
			<string>3.400</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>As83</string>
			<key>halfLife</key>
			<string>947ms</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Ge84</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.700</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As84</string>
			<key>halfLife</key>
			<string>947ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.943</string>
			<key>br</key>
			<string>14</string>
			<key>decayEnergy</key>
			<string>4.600</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>As84</string>
			<key>halfLife</key>
			<string>535ms</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Ge85</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>As85</string>
			<key>halfLife</key>
			<string>535ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.946</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Ge86</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Ge87</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Ge88</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Ge89</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>32</string>
	<key>numberOfNeutrons</key>
	<string>41</string>
	<key>numberOfProtons</key>
	<string>32</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0, diluted acids, alkaline solutions</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.320</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ge</string>
	<key>valenceElectronPotential</key>
	<string>109</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1371</string>
		<key>pa10</key>
		<string>1541</string>
		<key>pa100</key>
		<string>1750</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2831</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2360</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2014</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
