<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Atomic Mass</string>
		<key>attributeName</key>
		<string>atomicMass</string>
		<key>majorTickMarks</key>
		<integer>30</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>300</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Atomic Radius</string>
		<key>attributeName</key>
		<string>atomicRadius</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>9</integer>
		<key>maximumValue</key>
		<real>4</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Boiling Point</string>
		<key>attributeName</key>
		<string>boilingPoint</string>
		<key>majorTickMarks</key>
		<integer>500</integer>
		<key>minorTickMarks</key>
		<integer>2</integer>
		<key>maximumValue</key>
		<real>5800</real>
		<key>minimumValue</key>
		<real>-270</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Coefficient of Lineal Thermal Expansion * 100K</string>
		<key>attributeName</key>
		<string>coefficientOfLinealThermalExpansion</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>25</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Covalent Radius</string>
		<key>attributeName</key>
		<string>covalentRadius</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>9</integer>
		<key>maximumValue</key>
		<real>2.5</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Cross Section</string>
		<key>attributeName</key>
		<string>crossSection</string>
		<key>majorTickMarks</key>
		<integer>2000</integer>
		<key>minorTickMarks</key>
		<integer>1</integer>
		<key>maximumValue</key>
		<real>50000</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Density</string>
		<key>attributeName</key>
		<string>density</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>1</integer>
		<key>maximumValue</key>
		<real>25</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Elastic Modulus - Bulk</string>
		<key>attributeName</key>
		<string>elasticModulusBulk</string>
		<key>majorTickMarks</key>
		<integer>20</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>400</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Elastic Modulus - Rigidity</string>
		<key>attributeName</key>
		<string>elasticModulusRigidity</string>
		<key>majorTickMarks</key>
		<integer>25</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<integer>250</integer>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Elastic Modulus - Youngs</string>
		<key>attributeName</key>
		<string>elasticModulusYoungs</string>
		<key>majorTickMarks</key>
		<integer>25</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>550</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Electro Chemical Equivalent</string>
		<key>attributeName</key>
		<string>electroChemicalEquivalent</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>9</integer>
		<key>maximumValue</key>
		<real>10</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Electro Negativity</string>
		<key>attributeName</key>
		<string>electroNegativity</string>
		<key>majorTickMarks</key>
		<integer>2</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>4</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Electron Work Function</string>
		<key>attributeName</key>
		<string>electronWorkFunction</string>
		<key>majorTickMarks</key>
		<integer>2</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>6</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Enthalpy of Atomization</string>
		<key>attributeName</key>
		<string>enthalpyOfAtomization</string>
		<key>majorTickMarks</key>
		<integer>100</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>900</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Enthalpy of Fusion</string>
		<key>attributeName</key>
		<string>enthalpyOfFusion</string>
		<key>majorTickMarks</key>
		<integer>100</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>900</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Enthalpy of Vaporization</string>
		<key>attributeName</key>
		<string>enthalpyOfVaporization</string>
		<key>majorTickMarks</key>
		<integer>100</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>900</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Ionic Radius</string>
		<key>attributeName</key>
		<string>ionicRadius</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>2.5</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Hardness Scale - Brinell</string>
		<key>attributeName</key>
		<string>hardnessScaleBrinell</string>
		<key>majorTickMarks</key>
		<integer>500</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>4000</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Hardness Scale - Mohs</string>
		<key>attributeName</key>
		<string>hardnessScaleMohs</string>
		<key>majorTickMarks</key>
		<integer>1</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>10</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Hardness Scale - Vickers</string>
		<key>attributeName</key>
		<string>hardnessScaleVickers</string>
		<key>majorTickMarks</key>
		<integer>500</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>3500</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Heat of Fusion</string>
		<key>attributeName</key>
		<string>heatOfFusion</string>
		<key>majorTickMarks</key>
		<integer>10</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>125</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Heat of Vaporization</string>
		<key>attributeName</key>
		<string>heatOfVaporization</string>
		<key>majorTickMarks</key>
		<integer>100</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>850</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Ionization Potential - First</string>
		<key>attributeName</key>
		<string>ionizationPotentialFirst</string>
		<key>majorTickMarks</key>
		<integer>3</integer>
		<key>minorTickMarks</key>
		<integer>2</integer>
		<key>maximumValue</key>
		<real>30</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Ionization Potential - Second</string>
		<key>attributeName</key>
		<string>ionizationPotentialSecond</string>
		<key>majorTickMarks</key>
		<integer>8</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>80</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Ionization Potential - Third</string>
		<key>attributeName</key>
		<string>ionizationPotentialThird</string>
		<key>majorTickMarks</key>
		<integer>16</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>160</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Melting Point</string>
		<key>attributeName</key>
		<string>meltingPoint</string>
		<key>majorTickMarks</key>
		<integer>500</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>5000</real>
		<key>minimumValue</key>
		<real>-270</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Molar Heat Capacity</string>
		<key>attributeName</key>
		<string>molarHeatCapacity</string>
		<key>majorTickMarks</key>
		<integer>10</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>40</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Molar Volume</string>
		<key>attributeName</key>
		<string>molarVolume</string>
		<key>majorTickMarks</key>
		<integer>8</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>80</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Specific Heat</string>
		<key>attributeName</key>
		<string>specificHeat</string>
		<key>majorTickMarks</key>
		<integer>2</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>20</real>
		<key>minimumValue</key>
		<real>0</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Valence Electron Potential</string>
		<key>attributeName</key>
		<string>valenceElectronPotential</string>
		<key>majorTickMarks</key>
		<integer>60</integer>
		<key>minorTickMarks</key>
		<integer>4</integer>
		<key>maximumValue</key>
		<real>600</real>
		<key>minimumValue</key>
		<real>-25</real>
	</dict>
</array>
</plist>
