<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.40x10³</string>
	<key>abundanceSea</key>
	<string>1.05x10⁵</string>
	<key>atomicMass</key>
	<string>1.00794</string>
	<key>atomicMassFootnote</key>
	<string>g m r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>7</integer>
	<key>atomicNumber</key>
	<integer>1</integer>
	<key>atomicRadius</key>
	<string>0.79</string>
	<key>atomicVolume</key>
	<string>14.4</string>
	<key>boilingPoint</key>
	<string>-252.87</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>1333-74-0</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.001815</string>
	<key>covalentRadius</key>
	<string>0.32</string>
	<key>criticalTemperature</key>
	<string>-240.18</string>
	<key>crossSection</key>
	<string>0.33</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>0.082</string>
	<key>descr</key>
	<string>Tasteless, colorless, odorless and extremely flammable gas.</string>
	<key>discoverer</key>
	<string>Henry Cavendish</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1766</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string>2.2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>217.6</string>
	<key>enthalpyOfFusion</key>
	<string>0.059</string>
	<key>enthalpyOfVaporization</key>
	<string>0.449</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>1s</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Highly flammable gas</string>
	<key>group</key>
	<string>1</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>0.05868</string>
	<key>heatOfVaporization</key>
	<string>0.44936</string>
	<key>incompatibilities</key>
	<string>metals, oxidizing materials, metal oxides, combustible materials, halogens, metal salts, halo carbons</string>
	<key>ionicRadius</key>
	<string>0.012</string>
	<key>ionizationPotentialFirst</key>
	<string>13.598</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4101.7400</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4340.4620</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4861.2786</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4861.2870</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4861.3615</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6562.7110</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6562.7248</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6562.8518</string>
			<key>intensity</key>
			<string>180</string>
			<key>spectrum</key>
			<string>H I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-3.99</string>
	<key>meltingPoint</key>
	<string>-259.34</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>28.836</string>
	<key>molarVolume</key>
	<string>14.1</string>
	<key>name</key>
	<string>Hydrogen</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>99.985</string>
			<key>atomicMass</key>
			<string>1.0078</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>Stable</string>
			<key>decayModes</key>
			<string>Stable</string>
			<key>daughterIsotopes</key>
			<string>Stable</string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>0</string>
			<key>nuclideSymbol</key>
			<string>¹H</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
            <key>naturalRangeVariation</key>
            <string>0.9998–0.9999</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.000115</string>
			<key>atomicMass</key>
			<string>2.0141</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>Stable</string>
			<key>decayModes</key>
			<string>Stable</string>
			<key>daughterIsotopes</key>
			<string>Stable</string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>1</string>
			<key>nuclideSymbol</key>
			<string>²H (D)</string>
			<key>nuclearSpin</key>
			<string>1+</string>
            <key>naturalRangeVariation</key>
            <string>0.0000–0.0001</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Trace</string>
			<key>atomicMass</key>
			<string>3.016</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>0.019</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>³He</string>
			<key>halfLife</key>
			<string>12.33y</string>
			<key>nn</key>
			<string>2</string>
			<key>nuclideSymbol</key>
			<string>³H (T)</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>4.026</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>4.6(9) MeV</string>
			<key>decayModes</key>
			<string>n</string>
			<key>daughterIsotopes</key>
			<string>³H</string>
			<key>halfLife</key>
			<string>1.39(10)×10⁻²² s</string>
			<key>nn</key>
			<string>3</string>
			<key>nuclideSymbol</key>
			<string>⁴H</string>
			<key>nuclearSpin</key>
			<string>2-</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>5.035</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>2n</string>
			<key>daughterIsotopes</key>
			<string>³H</string>
			<key>halfLife</key>
			<string>>9.1×10⁻²² s ?</string>
			<key>nn</key>
			<string>4</string>
			<key>nuclideSymbol</key>
			<string>⁵H</string>
			<key>nuclearSpin</key>
			<string>(1/2+)</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>6.044</string>
			<key>zp</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>1.6(4) MeV</string>
			<key>decayModes</key>
			<string>3n</string>
			<key>daughterIsotopes</key>
			<string>³H</string>
			<key>halfLife</key>
			<string>2.90(70)×10⁻²² s</string>
			<key>nn</key>
			<string>5</string>
			<key>nuclideSymbol</key>
			<string>⁶H</string>
			<key>nuclearSpin</key>
            <string>2-#</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
        <dict>
            <key>isotopicComposition</key>
            <string></string>
            <key>atomicMass</key>
            <string></string>
            <key>zp</key>
            <string></string>
            <key>decayEnergy</key>
            <string></string>
            <key>decayModes</key>
            <string>4n</string>
            <key>daughterIsotopes</key>
            <string>²H</string>
            <key>halfLife</key>
            <string></string>
            <key>nn</key>
            <string></string>
            <key>nuclideSymbol</key>
            <string></string>
            <key>nuclearSpin</key>
            <string></string>
            <key>naturalRangeVariation</key>
            <string></string>
        </dict>
        <dict>
            <key>isotopicComposition</key>
            <string>Syn</string>
            <key>atomicMass</key>
            <string>7.0522</string>
            <key>zp</key>
            <string>1</string>
            <key>decayEnergy</key>
            <string></string>
            <key>decayModes</key>
            <string>4n</string>
            <key>daughterIsotopes</key>
            <string>²He</string>
            <key>halfLife</key>
            <string>2.3(6)×10⁻²³ s#</string>
            <key>nn</key>
            <string>5</string>
            <key>nuclideSymbol</key>
            <string>⁷H</string>
            <key>nuclearSpin</key>
            <string>1/2+#</string>
            <key>naturalRangeVariation</key>
            <string></string>
        </dict>
	</array>
	<key>numberOfElectrons</key>
	<string>1</string>
	<key>numberOfNeutrons</key>
	<string>0</string>
	<key>numberOfProtons</key>
	<string>1</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000132 (gas) 1.12 (liquid)</string>
	<key>oxidationStates</key>
	<string>1</string>
	<key>period</key>
	<string>1</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string>0.0694</string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>14.304</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>H</string>
	<key>valenceElectronPotential</key>
	<string>1200</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>1s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>-252.8</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>-258.6</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string></string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
