<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>8x10⁻³</string>
	<key>abundanceSea</key>
	<string>7x10⁻⁶</string>
	<key>atomicMass</key>
	<string>4.002602</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>2</integer>
	<key>atomicRadius</key>
	<string>0.49</string>
	<key>atomicVolume</key>
	<string></string>
	<key>boilingPoint</key>
	<string>-268.93</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-59-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.00152</string>
	<key>covalentRadius</key>
	<string>0.93</string>
	<key>criticalTemperature</key>
	<string>-267.96</string>
	<key>crossSection</key>
	<string>0.007</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>0.164</string>
	<key>descr</key>
	<string>Light, odorless, colorless, tasteless noble gas.</string>
	<key>discoverer</key>
	<string>Sir William Ramsey, Nils Langet, P.T.Cleve</string>
	<key>discoveryLocation</key>
	<string>Scotland/Sweden</string>
	<key>discoveryYear</key>
	<string>1895</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string></string>
	<key>enthalpyOfVaporization</key>
	<string>0.083</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>1s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-flammable gas</string>
	<key>group</key>
	<string>18</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>5.23</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string>24.587</string>
	<key>ionizationPotentialSecond</key>
	<string>54.416</string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4009.2700</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4026.1910</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4026.3600</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4120.8200</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4120.9900</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4143.7600</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4387.9290</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4437.5500</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4471.4790</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4471.6800</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4685.3769</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4685.4072</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4685.7038</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4685.7044</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4685.8041</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4713.1460</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4713.3800</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4921.9310</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5015.6780</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5047.7400</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5411.5200</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5875.6148</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5875.6404</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5875.9663</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6560.1000</string>
			<key>intensity</key>
			<string>8</string>
			<key>spectrum</key>
			<string>He II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6678.1517</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6867.4800</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>He I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-2.02</string>
	<key>meltingPoint</key>
	<string>-272.05</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>20.786</string>
	<key>molarVolume</key>
	<string>31.8</string>
	<key>name</key>
	<string>Helium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>2.0158</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>p (＞99.99%)</string>
			<key>daughterIsotopes</key>
			<string>2 ¹H</string>
			<key>halfLife</key>
			<string>≪ 10−9 s</string>
			<key>nn</key>
			<string>0</string>
			<key>nuclideSymbol</key>
			<string>²He</string>
			<key>nuclearSpin</key>
			<string>0+#</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β+ (＜ 0.01%)</string>
			<key>daughterIsotopes</key>
			<string>²H</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>1.34(3)×10−6</string>
			<key>atomicMass</key>
			<string>3.0160</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string>Stable</string>
			<key>decayModes</key>
			<string>Stable</string>
			<key>daughterIsotopes</key>
			<string>Stable</string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>1</string>
			<key>nuclideSymbol</key>
			<string>³He</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
            <key>naturalRangeVariation</key>
            <string>4.6×10⁻¹⁰−4.1×10⁻⁵</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.9999</string>
			<key>atomicMass</key>
			<string>4.0026</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string>Stable</string>
			<key>decayModes</key>
			<string>Stable</string>
			<key>daughterIsotopes</key>
			<string>Stable</string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>2</string>
			<key>nuclideSymbol</key>
			<string>⁴He</string>
			<key>nuclearSpin</key>
			<string>0+</string>
            <key>naturalRangeVariation</key>
            <string>0.9999-1</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>5.0122</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>n</string>
			<key>daughterIsotopes</key>
			<string>⁴He</string>
			<key>halfLife</key>
			<string>700(30)×10−24 s</string>
			<key>nn</key>
			<string>3</string>
			<key>nuclideSymbol</key>
			<string>⁵He</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>6.0188</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β- (99.99%)</string>
			<key>daughterIsotopes</key>
			<string>⁶Li</string>
			<key>halfLife</key>
			<string>806.7(15) ms</string>
			<key>nn</key>
			<string>4</string>
			<key>nuclideSymbol</key>
			<string>⁶He</string>
			<key>nuclearSpin</key>
			<string>0+</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-, α (2.8×10⁻⁴%)</string>
			<key>daughterIsotopes</key>
			<string>⁴He, ²H</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>7.0280</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string>[159(28) keV]</string>
			<key>decayModes</key>
			<string>n</string>
			<key>daughterIsotopes</key>
			<string>⁶He</string>
			<key>halfLife</key>
			<string>2.9(5)×10⁻²¹ s</string>
			<key>nn</key>
			<string>5</string>
			<key>nuclideSymbol</key>
			<string>⁷He</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>8.0339</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β− (83.1%)</string>
			<key>daughterIsotopes</key>
			<string>⁸Li</string>
			<key>halfLife</key>
			<string>119.0(15) ms</string>
			<key>nn</key>
			<string>6</string>
			<key>nuclideSymbol</key>
			<string>⁸He</string>
			<key>nuclearSpin</key>
			<string>0+</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β−,n (16.0%)</string>
			<key>daughterIsotopes</key>
			<string>⁷Li</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β−, fission (0.9%)</string>
			<key>daughterIsotopes</key>
			<string>⁵He, ³H</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>9.0439</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>n</string>
			<key>daughterIsotopes</key>
			<string>⁸He</string>
			<key>halfLife</key>
			<string>7(4)×10⁻²¹ s</string>
			<key>nn</key>
			<string>7</string>
			<key>nuclideSymbol</key>
			<string>⁹He</string>
			<key>nuclearSpin</key>
			<string>1/2−(#)</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string>10.0524</string>
			<key>zp</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>2n</string>
			<key>daughterIsotopes</key>
			<string>⁸He</string>
			<key>halfLife</key>
			<string>2.7(18)×10⁻²¹ s</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclideSymbol</key>
			<string>¹⁰He</string>
			<key>nuclearSpin</key>
			<string>0+</string>
            <key>naturalRangeVariation</key>
            <string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>2</string>
	<key>numberOfNeutrons</key>
	<string>2</string>
	<key>numberOfProtons</key>
	<string>2</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000035 (gas) 1.028 (liquid)</string>
	<key>oxidationStates</key>
	<string>0</string>
	<key>period</key>
	<string>1</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0; insoluble in ethanol</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Noble Gas</string>
	<key>specificHeat</key>
	<string>5.193</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>He</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>1s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>-268.9</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>-270.6</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string></string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
