<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-33.5</string>
	<key>abundanceCrust</key>
	<string>8.5x10⁻²</string>
	<key>abundanceSea</key>
	<string>3x10⁻⁵</string>
	<key>atomicMass</key>
	<string>200.59</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>80</integer>
	<key>atomicRadius</key>
	<string>1.76</string>
	<key>atomicVolume</key>
	<string>14.82</string>
	<key>boilingPoint</key>
	<string>356.73</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-97-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string>0.0104</string>
	<key>conductivityThermal</key>
	<string>0.0834</string>
	<key>covalentRadius</key>
	<string>1.49</string>
	<key>criticalTemperature</key>
	<string>1477</string>
	<key>crossSection</key>
	<string>375</string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string>13.5336</string>
	<key>descr</key>
	<string>Silver colored liquid transition metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>25</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>3.742</string>
	<key>electroNegativity</key>
	<string>2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.49</string>
	<key>enthalpyOfAtomization</key>
	<string>61.5</string>
	<key>enthalpyOfFusion</key>
	<string>2.29</string>
	<key>enthalpyOfVaporization</key>
	<string>56.9</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Noncombustible liquid</string>
	<key>group</key>
	<string>12</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string>1.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>2.295</string>
	<key>heatOfVaporization</key>
	<string>59.229</string>
	<key>incompatibilities</key>
	<string>Acetylene, ammonia, chlorine dioxide, azides, calcium (amalgam formation), sodium carbide, lithium, rubidium, copper</string>
	<key>ionicRadius</key>
	<string>1.02</string>
	<key>ionizationPotentialFirst</key>
	<string>10.437</string>
	<key>ionizationPotentialSecond</key>
	<string>18.759</string>
	<key>ionizationPotentialThird</key>
	<string>34.202</string>
	<key>meltingPoint</key>
	<string>-38.72</string>
	<key>meltingPointFootnote</key>
	<string>triple point</string>
	<key>molarHeatCapacity</key>
	<string>27.983</string>
	<key>molarVolume</key>
	<string>14.81</string>
	<key>name</key>
	<string>Mercury</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>80</string>
	<key>numberOfNeutrons</key>
	<string>121</string>
	<key>numberOfProtons</key>
	<string>80</string>
	<key>opticalReflectivity</key>
	<string>73</string>
	<key>opticalRefractiveIndex</key>
	<string>1.000933</string>
	<key>oxidationStates</key>
	<string>2, 1</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.140</string>
	<key>standardCondition</key>
	<string>Liquid</string>
	<key>symbol</key>
	<string>Hg</string>
	<key>valenceElectronPotential</key>
	<string>28.2</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>42.0</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>76.6</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>120.0</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>175.6</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>250.3</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>355.9</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
