<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-90</string>
	<key>abundanceCrust</key>
	<string>4.5x10⁻¹</string>
	<key>abundanceSea</key>
	<string>6x10⁻²</string>
	<key>atomicMass</key>
	<string>126.90447</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>53</integer>
	<key>atomicRadius</key>
	<string>1.32</string>
	<key>atomicVolume</key>
	<string>25.74</string>
	<key>boilingPoint</key>
	<string>184.4</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7553-56-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000093</string>
	<key>conductivityElectrical</key>
	<string>0.0000000000000008</string>
	<key>conductivityThermal</key>
	<string>0.00449</string>
	<key>covalentRadius</key>
	<string>1.33</string>
	<key>criticalTemperature</key>
	<string>546</string>
	<key>crossSection</key>
	<string>6.2</string>
	<key>crystalStructure</key>
	<string>Cubic</string>
	<key>density</key>
	<string>4.933</string>
	<key>descr</key>
	<string>Halogen solid form: shiny grayish-black flakes; gas: violet.</string>
	<key>discoverer</key>
	<string>Bernard Courtois</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1811</string>
	<key>elasticModulusBulk</key>
	<string>7.7</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>4.7348</string>
	<key>electroNegativity</key>
	<string>2.66</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>5</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>106.7</string>
	<key>enthalpyOfFusion</key>
	<string>7.76</string>
	<key>enthalpyOfVaporization</key>
	<string>20.88</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5p</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid.</string>
	<key>group</key>
	<string>17</string>
	<key>hardnessScale</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>7.824</string>
	<key>heatOfVaporization</key>
	<string>20.752</string>
	<key>incompatibilities</key>
	<string>Ammonia, acetylene, acetaldehyde, powdered aluminum, active metals, liquid chlorine.</string>
	<key>ionicRadius</key>
	<string>2.2</string>
	<key>ionizationPotentialFirst</key>
	<string>10.451</string>
	<key>ionizationPotentialSecond</key>
	<string>19.131</string>
	<key>ionizationPotentialThird</key>
	<string>33</string>
	<key>meltingPoint</key>
	<string>113.7</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>36.888</string>
	<key>molarVolume</key>
	<string>25.74</string>
	<key>name</key>
	<string>Iodine</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>53</string>
	<key>numberOfNeutrons</key>
	<string>74</string>
	<key>numberOfProtons</key>
	<string>53</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>±1, 5, 7</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>soluble in benzene, ethanol, ethyl ether, chloroform</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Halogen</string>
	<key>specificHeat</key>
	<string>0.145</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>I</string>
	<key>valenceElectronPotential</key>
	<string>-6.55</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>5p</key>
			<string>5</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-12.8</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>9.3</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>35.9</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>68.7</string>
		<key>pa1kFootnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>108</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>184.0</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
