<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1x10⁻⁴</string>
	<key>abundanceSea</key>
	<string>2.1x10⁻⁴</string>
	<key>atomicMass</key>
	<string>83.798</string>
	<key>atomicMassFootnote</key>
	<string>g m</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>36</integer>
	<key>atomicRadius</key>
	<string>1.03</string>
	<key>atomicVolume</key>
	<string>38.9</string>
	<key>boilingPoint</key>
	<string>-153.2</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-90-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.0000949</string>
	<key>covalentRadius</key>
	<string>1.12</string>
	<key>criticalTemperature</key>
	<string>-63.74</string>
	<key>crossSection</key>
	<string>24.5</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>3.425</string>
	<key>descr</key>
	<string>Colorless, odorless, tasteless noble gas.</string>
	<key>discoverer</key>
	<string>Sir William Ramsey, M.W. Travers</string>
	<key>discoveryLocation</key>
	<string>Great Britain</string>
	<key>discoveryYear</key>
	<string>1898</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string>1.64</string>
	<key>enthalpyOfVaporization</key>
	<string>9.03</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>6</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>18</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>1.638</string>
	<key>heatOfVaporization</key>
	<string>9.03</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string>13.999</string>
	<key>ionizationPotentialSecond</key>
	<string>24.359</string>
	<key>ionizationPotentialThird</key>
	<string>36.95</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4057.0370</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4065.1280</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4088.3370</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4098.7290</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4109.2480</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4145.1220</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4250.5800</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4273.9694</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4282.9674</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4292.9230</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4300.4900</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4317.8100</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4318.5513</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4319.5794</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4322.9800</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4351.3597</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4355.4770</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4362.6416</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4369.6900</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4376.1216</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4386.5400</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4399.9663</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4425.1901</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4431.6850</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4436.8120</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4453.9175</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4463.6900</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4475.0140</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4489.8800</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4502.3543</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4523.1400</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4556.6100</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4577.2090</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4582.9780</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4592.8000</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4615.2920</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4619.1660</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4633.8850</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4658.8760</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4680.4060</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4691.3010</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4694.3600</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4739.0020</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4762.4350</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4765.7440</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4811.7600</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4825.1800</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4832.0770</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4846.6120</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4857.2000</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4945.5900</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5022.4000</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5086.5200</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5125.7300</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5208.3200</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5308.6600</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5333.4100</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5468.1700</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5562.2253</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5570.2894</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5580.3873</string>
			<key>intensity</key>
			<string>13</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5649.5618</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5681.8900</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5690.3500</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5832.8566</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5870.9160</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5992.2200</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5993.8502</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6056.1263</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6420.1800</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6421.0270</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6456.2889</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6570.0700</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Kr II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6699.2296</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6904.6788</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Kr I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-29.1</string>
	<key>meltingPoint</key>
	<string>-157.22</string>
	<key>meltingPointFootnote</key>
	<string>triple point @ 73.2 kPa</string>
	<key>molarHeatCapacity</key>
	<string>20.786</string>
	<key>molarVolume</key>
	<string>32.2</string>
	<key>name</key>
	<string>Krypton</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.965</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Kr69</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.956</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Kr70</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.951</string>
			<key>br</key>
			<string>5.2</string>
			<key>decayEnergy</key>
			<string>8.600</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Se70</string>
			<key>halfLife</key>
			<string>64ms</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Kr71</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.500</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br71</string>
			<key>halfLife</key>
			<string>64ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.942</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.040</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br72</string>
			<key>halfLife</key>
			<string>17.2s</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Kr72</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.939</string>
			<key>br</key>
			<string>0.68</string>
			<key>decayEnergy</key>
			<string>3.720</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Se72</string>
			<key>halfLife</key>
			<string>27s</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Kr73</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.670</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br73</string>
			<key>halfLife</key>
			<string>27s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.9333</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.140</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br74</string>
			<key>halfLife</key>
			<string>11.5m</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Kr74</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.931</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.899</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br75</string>
			<key>halfLife</key>
			<string>4.3m</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Kr75</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9259</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.311</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br76</string>
			<key>halfLife</key>
			<string>14.8h</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Kr76</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9247</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.063</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br77</string>
			<key>halfLife</key>
			<string>74.4m</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Kr77</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.35</string>
			<key>atomicMass</key>
			<string>77.9204</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Kr78</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.9201</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.626</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br79</string>
			<key>halfLife</key>
			<string>35.04h</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Kr79</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.130MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.130</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>50s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>2.25</string>
			<key>atomicMass</key>
			<string>79.9164</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Kr80</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.9166</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.281</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br81</string>
			<key>halfLife</key>
			<string>229000y</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Kr81</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.190MeV</string>
			<key>br</key>
			<string>0.0025</string>
			<key>decayEnergy</key>
			<string>0.472</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Br81</string>
			<key>halfLife</key>
			<string>13.1s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.191</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>13.1s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>11.6</string>
			<key>atomicMass</key>
			<string>81.9135</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Kr82</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>11.5</string>
			<key>atomicMass</key>
			<string>82.9141</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Kr83</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.042MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.042</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>	 </string>
			<key>halfLife</key>
			<string>1.83h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>57</string>
			<key>atomicMass</key>
			<string>83.9115</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Kr84</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.9125</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.687</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb85</string>
			<key>halfLife</key>
			<string>10.756y</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Kr85</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.305MeV</string>
			<key>br</key>
			<string>78.6</string>
			<key>decayEnergy</key>
			<string>0.992</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb85</string>
			<key>halfLife</key>
			<string>4.480h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>21.4</string>
			<key>decayEnergy</key>
			<string>0.305</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>4.480h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>17.3</string>
			<key>atomicMass</key>
			<string>85.9106</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Kr86</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9134</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.887</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb87</string>
			<key>halfLife</key>
			<string>76.3m</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Kr87</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9144</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.914</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb88</string>
			<key>halfLife</key>
			<string>2.84h</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Kr88</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9176</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.990</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb89</string>
			<key>halfLife</key>
			<string>3.15m</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Kr89</string>
			<key>spin</key>
			<string>2+, 5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9195</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.392</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb90</string>
			<key>halfLife</key>
			<string>32.32s</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Kr90</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.9234</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.440</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb91</string>
			<key>halfLife</key>
			<string>8.57s</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Kr91</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9262</string>
			<key>br</key>
			<string>0.03</string>
			<key>decayEnergy</key>
			<string>0.889</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Rb91</string>
			<key>halfLife</key>
			<string>1.840s</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Kr92</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.987</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb92</string>
			<key>halfLife</key>
			<string>1.840s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.931</string>
			<key>br</key>
			<string>1.95</string>
			<key>decayEnergy</key>
			<string>2.680</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Rb92</string>
			<key>halfLife</key>
			<string>1.286s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Kr93</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb93</string>
			<key>halfLife</key>
			<string>1.286s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.934</string>
			<key>br</key>
			<string>5.7</string>
			<key>decayEnergy</key>
			<string>3.400</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Rb93</string>
			<key>halfLife</key>
			<string>0.2s</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Kr94</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.300</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb94</string>
			<key>halfLife</key>
			<string>0.2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.94</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb95</string>
			<key>halfLife</key>
			<string>0.78s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Kr95</string>
			<key>spin</key>
			<string>1/2</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.943</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Kr96</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rb97</string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Kr97</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>36</string>
	<key>numberOfNeutrons</key>
	<string>48</string>
	<key>numberOfProtons</key>
	<string>36</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000427</string>
	<key>oxidationStates</key>
	<string>0</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Noble Gas</string>
	<key>specificHeat</key>
	<string>0.248</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>Kr</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>6</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-214.0</string>
		<key>pa10</key>
		<string>-208.0</string>
		<key>pa100</key>
		<string>-199.4</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-153.6</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-174.6</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-188.9</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
