<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.33x10⁴</string>
	<key>abundanceSea</key>
	<string>1.29x10³</string>
	<key>atomicMass</key>
	<string>24.3050</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>6</integer>
	<key>atomicNumber</key>
	<integer>12</integer>
	<key>atomicRadius</key>
	<string>1.72</string>
	<key>atomicVolume</key>
	<string>13.97</string>
	<key>boilingPoint</key>
	<string>1090</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-95-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000271</string>
	<key>conductivityElectrical</key>
	<string>0.226</string>
	<key>conductivityThermal</key>
	<string>1.56</string>
	<key>covalentRadius</key>
	<string>1.36</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>64</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>1.74</string>
	<key>descr</key>
	<string>Grayish-white metal.</string>
	<key>discoverer</key>
	<string>Sir Humphrey Davy</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1808</string>
	<key>elasticModulusBulk</key>
	<string>45</string>
	<key>elasticModulusRigidity</key>
	<string>17</string>
	<key>elasticModulusYoungs</key>
	<string>45</string>
	<key>electroChemicalEquivalent</key>
	<string>0.45341</string>
	<key>electroNegativity</key>
	<string>1.31</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.66</string>
	<key>enthalpyOfAtomization</key>
	<string>148.5</string>
	<key>enthalpyOfFusion</key>
	<string>8.95</string>
	<key>enthalpyOfVaporization</key>
	<string>128.7</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3s</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>2</string>
	<key>hardnessScaleBrinell</key>
	<string>260</string>
	<key>hardnessScaleMohs</key>
	<string>2.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>8.954</string>
	<key>heatOfVaporization</key>
	<string>127.4</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.72</string>
	<key>ionizationPotentialFirst</key>
	<string>7.646</string>
	<key>ionizationPotentialSecond</key>
	<string>15.035</string>
	<key>ionizationPotentialThird</key>
	<string>80.143</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4167.2710</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4351.9060</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4390.5720</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Mg II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4481.1260</string>
			<key>intensity</key>
			<string>14</string>
			<key>spectrum</key>
			<string>Mg II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4481.3250</string>
			<key>intensity</key>
			<string>13</string>
			<key>spectrum</key>
			<string>Mg II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4571.0960</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5167.3220</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5172.6840</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5183.6040</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5711.0880</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Mg I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6346.7420</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Mg II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6545.9730</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mg II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+13.1</string>
	<key>meltingPoint</key>
	<string>650</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.869</string>
	<key>molarVolume</key>
	<string>13.97</string>
	<key>name</key>
	<string>Magnesium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>20.0189</string>
			<key>br</key>
			<string>&gt;=3</string>
			<key>decayEnergy</key>
			<string>8.530</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ne19</string>
			<key>halfLife</key>
			<string>95ms</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>Mg20</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.730</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Na20</string>
			<key>halfLife</key>
			<string>95ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>21.0117</string>
			<key>br</key>
			<string>29.3</string>
			<key>decayEnergy</key>
			<string>10.665</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ne20</string>
			<key>halfLife</key>
			<string>122ms</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>Mg21</string>
			<key>spin</key>
			<string>5/2+, 3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.096</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Na21</string>
			<key>halfLife</key>
			<string>122ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>21.9996</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.786</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Na22</string>
			<key>halfLife</key>
			<string>3.857s</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>Mg22</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>22.9941</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.057</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Na23</string>
			<key>halfLife</key>
			<string>11.317s</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclide</key>
			<string>Mg23</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>78.99</string>
			<key>atomicMass</key>
			<string>23.985</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>Mg24</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>10</string>
			<key>atomicMass</key>
			<string>24.9858</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>Mg25</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>11.01</string>
			<key>atomicMass</key>
			<string>25.9826</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>Mg26</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>26.9843</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.610</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al27</string>
			<key>halfLife</key>
			<string>9.458m</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>Mg27</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>27.9839</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.832</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al28</string>
			<key>halfLife</key>
			<string>20.91h</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>Mg28</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.9886</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.550</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al29</string>
			<key>halfLife</key>
			<string>1.3s</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>Mg29</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.9905</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.990</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al30</string>
			<key>halfLife</key>
			<string>335ms</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>Mg30</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.9965</string>
			<key>br</key>
			<string>1.7</string>
			<key>decayEnergy</key>
			<string>4.590</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Al30</string>
			<key>halfLife</key>
			<string>230ms</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Mg31</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.740</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al31</string>
			<key>halfLife</key>
			<string>230ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.999</string>
			<key>br</key>
			<string>2.4</string>
			<key>decayEnergy</key>
			<string>6.090</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Al31</string>
			<key>halfLife</key>
			<string>120ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Mg32</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.270</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al32</string>
			<key>halfLife</key>
			<string>120ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>33.006</string>
			<key>br</key>
			<string>17</string>
			<key>decayEnergy</key>
			<string>8.190</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Al32</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Mg33</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.710</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al33</string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>34.009</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.300</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Al34</string>
			<key>halfLife</key>
			<string>20ms</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Mg34</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.900</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Al33</string>
			<key>halfLife</key>
			<string>20ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>35.017</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Mg35</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>36.022</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Mg36</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.031</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Mg37</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>12</string>
	<key>numberOfNeutrons</key>
	<string>12</string>
	<key>numberOfProtons</key>
	<string>12</string>
	<key>opticalReflectivity</key>
	<string>74</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>3</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Earth Metal</string>
	<key>specificHeat</key>
	<string>1.023</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Mg</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>428</string>
		<key>pa10</key>
		<string>500</string>
		<key>pa100</key>
		<string>588</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>1088</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>859</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>698</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
