<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>9.50x10²</string>
	<key>abundanceSea</key>
	<string>2x10⁻⁴</string>
	<key>atomicMass</key>
	<string>54.938049</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>9</integer>
	<key>atomicNumber</key>
	<integer>25</integer>
	<key>atomicRadius</key>
	<string>1.79</string>
	<key>atomicVolume</key>
	<string>1.39</string>
	<key>boilingPoint</key>
	<string>2061</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-96-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00022</string>
	<key>conductivityElectrical</key>
	<string>0.00695</string>
	<key>conductivityThermal</key>
	<string>0.0782</string>
	<key>covalentRadius</key>
	<string>1.17</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>13.3</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>7.3</string>
	<key>descr</key>
	<string>Silver-gray transition metal with a pinkish tinge</string>
	<key>discoverer</key>
	<string>Johann Gahn</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1774</string>
	<key>elasticModulusBulk</key>
	<string>120</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string>198</string>
	<key>electroChemicalEquivalent</key>
	<string>0.29282</string>
	<key>electroNegativity</key>
	<string>1.55</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>5</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.1</string>
	<key>enthalpyOfAtomization</key>
	<string>280.3</string>
	<key>enthalpyOfFusion</key>
	<string>14.64</string>
	<key>enthalpyOfVaporization</key>
	<string>219.7</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Metal: Comustable Solid</string>
	<key>group</key>
	<string>7</string>
	<key>hardnessScaleBrinell</key>
	<string>196</string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>12.05</string>
	<key>heatOfVaporization</key>
	<string>226</string>
	<key>incompatibilities</key>
	<string>Oxidizers</string>
	<key>ionicRadius</key>
	<string>0.46</string>
	<key>ionizationPotentialFirst</key>
	<string>7.435</string>
	<key>ionizationPotentialSecond</key>
	<string>25.64</string>
	<key>ionizationPotentialThird</key>
	<string>33.667</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4018.1060</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4030.7550</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4033.0680</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4034.4850</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4035.7290</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4041.3570</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4048.7470</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4055.5480</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4058.9360</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4061.7370</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4063.5300</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4070.2800</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4079.2410</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4079.4150</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4082.9450</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4083.6340</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4235.1540</string>
			<key>intensity</key>
			<string>14</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4235.3000</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4257.6690</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4265.9280</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4281.1000</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4326.6330</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>Mn II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4414.8870</string>
			<key>intensity</key>
			<string>13</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4451.5750</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4458.2630</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4462.0330</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4464.6790</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4498.8970</string>
			<key>intensity</key>
			<string>9</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4502.2230</string>
			<key>intensity</key>
			<string>9</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4754.0480</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4762.3760</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4765.8560</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4766.4260</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4783.4320</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4823.5280</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5079.2000</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5100.0300</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5454.0700</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5474.6800</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5946.6500</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6021.7870</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Mn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6231.2100</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Mn III</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+511</string>
	<key>meltingPoint</key>
	<string>1246</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.32</string>
	<key>molarVolume</key>
	<string>7.35</string>
	<key>name</key>
	<string>Manganese</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.007</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Mn44</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.995</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Mn45</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.987</string>
			<key>br</key>
			<string>&gt;32</string>
			<key>decayEnergy</key>
			<string>12.210</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>V45</string>
			<key>halfLife</key>
			<string>41ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Mn46</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>17.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr46</string>
			<key>halfLife</key>
			<string>41ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.976</string>
			<key>br</key>
			<string>&gt;3.4</string>
			<key>decayEnergy</key>
			<string>7.520</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>V46</string>
			<key>halfLife</key>
			<string>100ms</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Mn47</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.290</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr47</string>
			<key>halfLife</key>
			<string>100ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.9689</string>
			<key>br</key>
			<string>0.28</string>
			<key>decayEnergy</key>
			<string>5.720</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>V47</string>
			<key>halfLife</key>
			<string>158.1ms</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Mn48</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.820</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr48</string>
			<key>halfLife</key>
			<string>158.1ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.130</string>
			<key>dm</key>
			<string>ξ + α</string>
			<key>dt</key>
			<string>Ti44</string>
			<key>halfLife</key>
			<string>158.1ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.9596</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.715</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr49</string>
			<key>halfLife</key>
			<string>382ms</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Mn49</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.9542</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.633</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr50</string>
			<key>halfLife</key>
			<string>283.88ms</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Mn50</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.229MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.862</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr50</string>
			<key>halfLife</key>
			<string>1.75m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.9482</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.208</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr51</string>
			<key>halfLife</key>
			<string>46.2m</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Mn51</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9456</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.712</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr52</string>
			<key>halfLife</key>
			<string>5.591d</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Mn52</string>
			<key>spin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.378MeV</string>
			<key>br</key>
			<string>98.25</string>
			<key>decayEnergy</key>
			<string>5.090</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr52</string>
			<key>halfLife</key>
			<string>21.1m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>1.75</string>
			<key>decayEnergy</key>
			<string>0.378</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>21.1m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.9413</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.597</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr53</string>
			<key>halfLife</key>
			<string>3740000y</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Mn53</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.9404</string>
			<key>br</key>
			<string>&lt;0.0002</string>
			<key>decayEnergy</key>
			<string>0.697</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe54</string>
			<key>halfLife</key>
			<string>312.3d</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Mn54</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.377</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cr54</string>
			<key>halfLife</key>
			<string>312.3d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>54.9381</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Mn55</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.9389</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.695</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe56</string>
			<key>halfLife</key>
			<string>2.5785h</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Mn56</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.9383</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.691</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe57</string>
			<key>halfLife</key>
			<string>85.4s</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Mn57</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.931</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.250</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe58</string>
			<key>halfLife</key>
			<string>3s</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Mn58</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.071MeV</string>
			<key>br</key>
			<string>~80</string>
			<key>decayEnergy</key>
			<string>6.322</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe58</string>
			<key>halfLife</key>
			<string>65.2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>~20</string>
			<key>decayEnergy</key>
			<string>0.072</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>65.2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.9404</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.190</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe59</string>
			<key>halfLife</key>
			<string>4.6s</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Mn59</string>
			<key>spin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.943</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.630</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe60</string>
			<key>halfLife</key>
			<string>51s</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Mn60</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.272MeV</string>
			<key>br</key>
			<string>88.5</string>
			<key>decayEnergy</key>
			<string>8.902</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe60</string>
			<key>halfLife</key>
			<string>1.77s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>11.5</string>
			<key>decayEnergy</key>
			<string>0.272</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Mn60</string>
			<key>halfLife</key>
			<string>1.77s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.944</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.350</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe61</string>
			<key>halfLife</key>
			<string>0.71s</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Mn61</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.948</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.400</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe62</string>
			<key>halfLife</key>
			<string>0.88s</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Mn62</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.95</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe63</string>
			<key>halfLife</key>
			<string>0.25s</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Mn63</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>63.954</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>140ms</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Mn64</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.956</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.400</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Fe65</string>
			<key>halfLife</key>
			<string>110ms</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Mn65</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.961</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>90ms</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Mn66</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.964</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Mn67</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>25</string>
	<key>numberOfNeutrons</key>
	<string>30</string>
	<key>numberOfProtons</key>
	<string>25</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>7, 6, 4, 2, 3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acids</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.479</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Mn</string>
	<key>valenceElectronPotential</key>
	<string>220</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>5</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>955</string>
		<key>pa10</key>
		<string>1074</string>
		<key>pa100</key>
		<string>1220</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>2060</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>1682</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>1418</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
