<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.2</string>
	<key>abundanceSea</key>
	<string>1x10⁻²</string>
	<key>atomicMass</key>
	<string>95.94</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>42</integer>
	<key>atomicRadius</key>
	<string>2.01</string>
	<key>atomicVolume</key>
	<string>9.4</string>
	<key>boilingPoint</key>
	<string>4639</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-98-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000066</string>
	<key>conductivityElectrical</key>
	<string>0.187</string>
	<key>conductivityThermal</key>
	<string>1.38</string>
	<key>covalentRadius</key>
	<string>1.3</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>2.65</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>10.2</string>
	<key>descr</key>
	<string>Hard silvery-white transition metal.</string>
	<key>discoverer</key>
	<string>Carl Wilhelm Scheele</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1778</string>
	<key>elasticModulusBulk</key>
	<string>230</string>
	<key>elasticModulusRigidity</key>
	<string>20</string>
	<key>elasticModulusYoungs</key>
	<string>329</string>
	<key>electroChemicalEquivalent</key>
	<string>0.8949</string>
	<key>electroNegativity</key>
	<string>2.16</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>5</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.6</string>
	<key>enthalpyOfAtomization</key>
	<string>653</string>
	<key>enthalpyOfFusion</key>
	<string>27.61</string>
	<key>enthalpyOfVaporization</key>
	<string>594.1</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustible solid in powder form.</string>
	<key>group</key>
	<string>6</string>
	<key>hardnessScaleBrinell</key>
	<string>1500</string>
	<key>hardnessScaleMohs</key>
	<string>5.5</string>
	<key>hardnessScaleVickers</key>
	<string>1630</string>
	<key>heatOfFusion</key>
	<string>32</string>
	<key>heatOfVaporization</key>
	<string>598</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers.</string>
	<key>ionicRadius</key>
	<string>0.65</string>
	<key>ionizationPotentialFirst</key>
	<string>7.099</string>
	<key>ionizationPotentialSecond</key>
	<string>16.461</string>
	<key>ionizationPotentialThird</key>
	<string>27.16</string>
	<key>magneticSusceptibility</key>
	<string>+72</string>
	<key>meltingPoint</key>
	<string>2623</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.06</string>
	<key>molarVolume</key>
	<string>9.41</string>
	<key>name</key>
	<string>Molybdenum</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Mo83</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.94</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb84</string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Mo84</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Mo85</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.931</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.300</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb86</string>
			<key>halfLife</key>
			<string>19.6s</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Mo86</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.927</string>
			<key>br</key>
			<string>&gt;0</string>
			<key>decayEnergy</key>
			<string>2.820</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Zr86</string>
			<key>halfLife</key>
			<string>13.4s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Mo87</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.490</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb87</string>
			<key>halfLife</key>
			<string>13.4s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.922</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.720</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb88</string>
			<key>halfLife</key>
			<string>8m</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Mo88</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9195</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.580</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb89</string>
			<key>halfLife</key>
			<string>2.04m</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Mo89</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.387MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.387</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>190ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9139</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.489</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb90</string>
			<key>halfLife</key>
			<string>5.56h</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Mo90</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.9118</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.434</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb91</string>
			<key>halfLife</key>
			<string>15.49m</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Mo91</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.653MeV</string>
			<key>br</key>
			<string>50.1</string>
			<key>decayEnergy</key>
			<string>0.653</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>65s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>49.9</string>
			<key>decayEnergy</key>
			<string>5.087</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb91</string>
			<key>halfLife</key>
			<string>65s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>14.84</string>
			<key>atomicMass</key>
			<string>91.9068</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Mo92</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.9068</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.405</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb93</string>
			<key>halfLife</key>
			<string>4000y</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Mo93</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>2.424MeV</string>
			<key>br</key>
			<string>99.88</string>
			<key>decayEnergy</key>
			<string>2.425</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>6.85h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>21/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.12</string>
			<key>decayEnergy</key>
			<string>2.830</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Nb93</string>
			<key>halfLife</key>
			<string>6.85h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>9.25</string>
			<key>atomicMass</key>
			<string>93.9051</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Mo94</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>15.92</string>
			<key>atomicMass</key>
			<string>94.9058</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Mo95</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>16.68</string>
			<key>atomicMass</key>
			<string>95.9047</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Mo96</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>9.55</string>
			<key>atomicMass</key>
			<string>96.906</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Mo97</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>24.13</string>
			<key>atomicMass</key>
			<string>97.9054</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Mo98</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.9077</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.357</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc99</string>
			<key>halfLife</key>
			<string>65.94h</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Mo99</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>9.63</string>
			<key>atomicMass</key>
			<string>99.9075</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.034</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru100</string>
			<key>halfLife</key>
			<string>1.00E¹⁹y</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Mo100</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.9104</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.824</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc101</string>
			<key>halfLife</key>
			<string>14.61m</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Mo101</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.9103</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.010</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc102</string>
			<key>halfLife</key>
			<string>11.3m</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Mo102</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.9132</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.750</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc103</string>
			<key>halfLife</key>
			<string>67.5s</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Mo103</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.9138</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.160</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc104</string>
			<key>halfLife</key>
			<string>60s</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclide</key>
			<string>Mo104</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.917</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.950</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc105</string>
			<key>halfLife</key>
			<string>35.6s</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclide</key>
			<string>Mo105</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.9181</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.520</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc106</string>
			<key>halfLife</key>
			<string>8.4s</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclide</key>
			<string>Mo106</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>106.922</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.160</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc107</string>
			<key>halfLife</key>
			<string>3.5s</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclide</key>
			<string>Mo107</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>107.924</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.640</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc108</string>
			<key>halfLife</key>
			<string>1.09s</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclide</key>
			<string>Mo108</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>108.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc109</string>
			<key>halfLife</key>
			<string>0.53s</string>
			<key>nn</key>
			<string>67</string>
			<key>nuclide</key>
			<string>Mo109</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>109.93</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Tc110</string>
			<key>halfLife</key>
			<string>0.3s</string>
			<key>nn</key>
			<string>68</string>
			<key>nuclide</key>
			<string>Mo110</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>110.935</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>69</string>
			<key>nuclide</key>
			<string>Mo111</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>111.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>70</string>
			<key>nuclide</key>
			<string>Mo112</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>112.942</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>71</string>
			<key>nuclide</key>
			<string>Mo113</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>42</string>
	<key>numberOfNeutrons</key>
	<string>54</string>
	<key>numberOfProtons</key>
	<string>42</string>
	<key>opticalReflectivity</key>
	<string>58</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>6, 5, 4, 3, 2</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0, diluted acid, alkaline solutions</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.251</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Mo</string>
	<key>valenceElectronPotential</key>
	<string>88.6</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>5</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2469</string>
		<key>pa10</key>
		<string>2721</string>
		<key>pa100</key>
		<string>3039</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4606</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3939</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>3434</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
