<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.9x10¹</string>
	<key>abundanceSea</key>
	<string>5x10¹</string>
	<key>atomicMass</key>
	<string>14.0067</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>7</integer>
	<key>atomicRadius</key>
	<string>0.75</string>
	<key>atomicVolume</key>
	<string>17.3</string>
	<key>boilingPoint</key>
	<string>-195.79</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7727-37-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.0002598</string>
	<key>covalentRadius</key>
	<string>0.75</string>
	<key>criticalTemperature</key>
	<string>-146.94</string>
	<key>crossSection</key>
	<string>1.9</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>1.145</string>
	<key>descr</key>
	<string>Colorless, odorless, tasteless gas.</string>
	<key>discoverer</key>
	<string>Daniel Rutherford</string>
	<key>discoveryLocation</key>
	<string>Scotland/Sweden</string>
	<key>discoveryYear</key>
	<string>1772</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.10452</string>
	<key>electroNegativity</key>
	<string>3.04</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>3</string>
		<key>2s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>472.8</string>
	<key>enthalpyOfFusion</key>
	<string>0.36</string>
	<key>enthalpyOfVaporization</key>
	<string>2.79</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>2p</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>15</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string></string>
	<key>heatOfVaporization</key>
	<string>2.7928</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.13</string>
	<key>ionizationPotentialFirst</key>
	<string>14.534</string>
	<key>ionizationPotentialSecond</key>
	<string>29.601</string>
	<key>ionizationPotentialThird</key>
	<string>47.448</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4003.5800</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4041.3100</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4057.7600</string>
			<key>intensity</key>
			<string>159</string>
			<key>spectrum</key>
			<string>N IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4097.3300</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4103.4300</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4241.7800</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4332.9100</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4345.6800</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4379.1100</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4447.0300</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4510.9100</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4514.8600</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4601.4800</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4603.7400</string>
			<key>intensity</key>
			<string>350</string>
			<key>spectrum</key>
			<string>N V</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4606.3300</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>N IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4607.1600</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4619.8800</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>N V</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4621.3900</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4630.5400</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4634.1400</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4640.6400</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4643.0800</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4803.2900</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4858.8200</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4867.1500</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4944.5600</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>N V</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4963.9800</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>N I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4994.3600</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5001.4800</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5005.1500</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5007.3200</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5010.6200</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5045.1000</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5314.5500</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5320.8200</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5327.1800</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5666.6300</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5676.0200</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5679.5600</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5686.2100</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5710.7700</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5752.5000</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>N I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5931.7800</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5941.6500</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6380.7700</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>N IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6454.1100</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6467.0200</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>N III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6482.0500</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6482.7000</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>N I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6610.5600</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>N II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-12.0</string>
	<key>meltingPoint</key>
	<string>-210.00</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>29.124</string>
	<key>molarVolume</key>
	<string>17.3</string>
	<key>name</key>
	<string>Nitrogen</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>10.43</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>3</string>
			<key>nuclide</key>
			<string>N10</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>11.027</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.290</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>C10</string>
			<key>halfLife</key>
			<string>740KeV</string>
			<key>nn</key>
			<string>4</string>
			<key>nuclide</key>
			<string>N11</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>12.0186</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>17.338</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>C12</string>
			<key>halfLife</key>
			<string>11.000ms</string>
			<key>nn</key>
			<string>5</string>
			<key>nuclide</key>
			<string>N12</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>13.0057</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.220</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>C13</string>
			<key>halfLife</key>
			<string>9.965m</string>
			<key>nn</key>
			<string>6</string>
			<key>nuclide</key>
			<string>N13</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>99.634</string>
			<key>atomicMass</key>
			<string>14.0031</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>7</string>
			<key>nuclide</key>
			<string>N14</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.366</string>
			<key>atomicMass</key>
			<string>15.0001</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>N15</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>16.0061</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.419</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O16</string>
			<key>halfLife</key>
			<string>7.13s</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>N16</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.120MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.539</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O16</string>
			<key>halfLife</key>
			<string>7.25us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.120</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>N16</string>
			<key>halfLife</key>
			<string>7.25us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>17.0084</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.680</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O17</string>
			<key>halfLife</key>
			<string>4.173s</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>N17</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.536</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>O16</string>
			<key>halfLife</key>
			<string>4.173s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>18.0141</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.899</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O18</string>
			<key>halfLife</key>
			<string>624ms</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclide</key>
			<string>N18</string>
			<key>spin</key>
			<string>1-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.672</string>
			<key>dm</key>
			<string>β- + α</string>
			<key>dt</key>
			<string>C14</string>
			<key>halfLife</key>
			<string>624ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>19.017</string>
			<key>br</key>
			<string>62.4</string>
			<key>decayEnergy</key>
			<string>8.571</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>O18</string>
			<key>halfLife</key>
			<string>0.304s</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>N19</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string> </string>
			<key>atomicMass</key>
			<string> </string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.527</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O19</string>
			<key>halfLife</key>
			<string>0.304s</string>
			<key>nn</key>
			<string> </string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>20.0234</string>
			<key>br</key>
			<string>~61</string>
			<key>decayEnergy</key>
			<string>10.360</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>O19</string>
			<key>halfLife</key>
			<string>100ms</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>N20</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string> </string>
			<key>atomicMass</key>
			<string> </string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>17.970</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O20</string>
			<key>halfLife</key>
			<string>100ms</string>
			<key>nn</key>
			<string> </string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>21.0271</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.630</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>O20</string>
			<key>halfLife</key>
			<string>85ms</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>N21</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string> </string>
			<key>atomicMass</key>
			<string> </string>
			<key>br</key>
			<string> </string>
			<key>decayEnergy</key>
			<string>17.170</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O21</string>
			<key>halfLife</key>
			<string>85ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>22.034</string>
			<key>br</key>
			<string>35</string>
			<key>decayEnergy</key>
			<string>15.950</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>O21</string>
			<key>halfLife</key>
			<string>24ms</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>N22</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>22.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>O22</string>
			<key>halfLife</key>
			<string>24ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>23.041</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt; 200ns</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>N23</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>24.051</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>N24</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>7</string>
	<key>numberOfNeutrons</key>
	<string>7</string>
	<key>numberOfProtons</key>
	<string>7</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.00298 (gas) 1.197 (liquid)</string>
	<key>oxidationStates</key>
	<string>±3, 5, 4, 2</string>
	<key>period</key>
	<string>2</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0; insoluble in ethanol</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>1.040</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>N</string>
	<key>valenceElectronPotential</key>
	<string>550</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>2p</key>
			<string>3</string>
			<key>2s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-236</string>
		<key>pa10</key>
		<string>-232</string>
		<key>pa100</key>
		<string>-226.8</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-195.9</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-211.1</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-220.2</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
