<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.36x10⁴</string>
	<key>abundanceSea</key>
	<string>1.08x10⁴</string>
	<key>atomicMass</key>
	<string>22.989770</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>11</integer>
	<key>atomicRadius</key>
	<string>2.23</string>
	<key>atomicVolume</key>
	<string>23.7</string>
	<key>boilingPoint</key>
	<string>883</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-23-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000072</string>
	<key>conductivityElectrical</key>
	<string>0.21</string>
	<key>conductivityThermal</key>
	<string>1.41</string>
	<key>covalentRadius</key>
	<string>1.54</string>
	<key>criticalTemperature</key>
	<string>2300</string>
	<key>crossSection</key>
	<string>534</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>0.97</string>
	<key>descr</key>
	<string>Soft silvery white alkali metal.</string>
	<key>discoverer</key>
	<string>Sir Humphrey Davy</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1807</string>
	<key>elasticModulusBulk</key>
	<string>6.3</string>
	<key>elasticModulusRigidity</key>
	<string>3.3</string>
	<key>elasticModulusYoungs</key>
	<string>10</string>
	<key>electroChemicalEquivalent</key>
	<string>0.85775</string>
	<key>electroNegativity</key>
	<string>0.93</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>2.75</string>
	<key>enthalpyOfAtomization</key>
	<string>108.4</string>
	<key>enthalpyOfFusion</key>
	<string>2.59</string>
	<key>enthalpyOfVaporization</key>
	<string>89.04</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3s</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>1</string>
	<key>hardnessScaleBrinell</key>
	<string>0.69</string>
	<key>hardnessScaleMohs</key>
	<string>0.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>2.598</string>
	<key>heatOfVaporization</key>
	<string>96.96</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>1.02</string>
	<key>ionizationPotentialFirst</key>
	<string>5.139</string>
	<key>ionizationPotentialSecond</key>
	<string>47.286</string>
	<key>ionizationPotentialThird</key>
	<string>71.641</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4113.7000</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4324.6200</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4390.0300</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4392.8100</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4393.3400</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4405.1200</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4455.2300</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4490.8700</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4494.1800</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4497.6600</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4664.8110</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4668.5600</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4978.5410</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4982.8130</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5148.8380</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5153.4020</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5414.5500</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5682.6330</string>
			<key>intensity</key>
			<string>4</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5688.1930</string>
			<key>intensity</key>
			<string>1</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5688.2050</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5889.9500</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5895.9240</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6154.2250</string>
			<key>intensity</key>
			<string>2</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6160.7470</string>
			<key>intensity</key>
			<string>3</string>
			<key>spectrum</key>
			<string>Na I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6514.2100</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6530.7000</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6544.0400</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6545.7500</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Na II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+16</string>
	<key>meltingPoint</key>
	<string>97.80</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>28.230</string>
	<key>molarVolume</key>
	<string>23.7</string>
	<key>name</key>
	<string>Sodium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>18.027</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>7</string>
			<key>nuclide</key>
			<string>Na18</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>19.0139</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>Na19</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>20.0074</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.887</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ne20</string>
			<key>halfLife</key>
			<string>447.9ms</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>Na20</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>20.9977</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.547</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ne21</string>
			<key>halfLife</key>
			<string>22.49s</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>Na21</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>21.9944</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.842</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Ne22</string>
			<key>halfLife</key>
			<string>2.6019y</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclide</key>
			<string>Na22</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>22.9898</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>Na23</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>23.991</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.516</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg24</string>
			<key>halfLife</key>
			<string>14.9590h</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>Na24</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.472MeV</string>
			<key>br</key>
			<string>99.95</string>
			<key>decayEnergy</key>
			<string>0.472</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>20.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.05</string>
			<key>decayEnergy</key>
			<string>5.988</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg24</string>
			<key>halfLife</key>
			<string>20.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>24.99</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.835</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg25</string>
			<key>halfLife</key>
			<string>59.1s</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>Na25</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>25.9926</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.312</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg26</string>
			<key>halfLife</key>
			<string>1.072s</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>Na26</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>26.994</string>
			<key>br</key>
			<string>0.13</string>
			<key>decayEnergy</key>
			<string>2.560</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg26</string>
			<key>halfLife</key>
			<string>301ms</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>Na27</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.010</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg27</string>
			<key>halfLife</key>
			<string>301ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>27.9989</string>
			<key>br</key>
			<string>0.58</string>
			<key>decayEnergy</key>
			<string>5.480</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg27</string>
			<key>halfLife</key>
			<string>30.5ms</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>Na28</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.990</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg28</string>
			<key>halfLife</key>
			<string>30.5ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.0028</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.280</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg29</string>
			<key>halfLife</key>
			<string>44.9ms</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>Na29</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string>21.5</string>
			<key>decayEnergy</key>
			<string>9.570</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg28</string>
			<key>halfLife</key>
			<string>44.9ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.009</string>
			<key>br</key>
			<string>30</string>
			<key>decayEnergy</key>
			<string>11.180</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg29</string>
			<key>halfLife</key>
			<string>48ms</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Na30</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.00005</string>
			<key>decayEnergy</key>
			<string>5.740</string>
			<key>dm</key>
			<string>β- + α</string>
			<key>dt</key>
			<string>Ne26</string>
			<key>halfLife</key>
			<string>48ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>17.480</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg30</string>
			<key>halfLife</key>
			<string>48ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.014</string>
			<key>br</key>
			<string>37</string>
			<key>decayEnergy</key>
			<string>13.470</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg30</string>
			<key>halfLife</key>
			<string>17ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Na31</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>15.880</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg31</string>
			<key>halfLife</key>
			<string>17ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>32.02</string>
			<key>br</key>
			<string>24</string>
			<key>decayEnergy</key>
			<string>13.400</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg31</string>
			<key>halfLife</key>
			<string>13.2ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Na32</string>
			<key>spin</key>
			<string>3-, 4-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>19.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg32</string>
			<key>halfLife</key>
			<string>13.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>33.03</string>
			<key>br</key>
			<string>52</string>
			<key>decayEnergy</key>
			<string>18.200</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg32</string>
			<key>halfLife</key>
			<string>8.2ms</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Na33</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>20.300</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg33</string>
			<key>halfLife</key>
			<string>8.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>34.03</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>24.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg34</string>
			<key>halfLife</key>
			<string>5.5ms</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Na34</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>19.200</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg33</string>
			<key>halfLife</key>
			<string>5.5ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>35.04</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>24.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mg35</string>
			<key>halfLife</key>
			<string>1.5ms</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Na35</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>24.600</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Mg34</string>
			<key>halfLife</key>
			<string>1.5ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>11</string>
	<key>numberOfNeutrons</key>
	<string>12</string>
	<key>numberOfProtons</key>
	<string>11</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>1</string>
	<key>period</key>
	<string>3</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Metal</string>
	<key>specificHeat</key>
	<string>1.228</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Na</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>280.6</string>
		<key>pa10</key>
		<string>344.2</string>
		<key>pa100</key>
		<string>424.3</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>880.2</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>673</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>529</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
