<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+5930</string>
	<key>abundanceCrust</key>
	<string>4.15x10¹</string>
	<key>abundanceSea</key>
	<string>2.8x10⁻⁶</string>
	<key>atomicMass</key>
	<string>144.24</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>60</integer>
	<key>atomicRadius</key>
	<string>2.64</string>
	<key>atomicVolume</key>
	<string>20.6</string>
	<key>boilingPoint</key>
	<string>3074</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-00-8</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000086</string>
	<key>conductivityElectrical</key>
	<string>0.0157</string>
	<key>conductivityThermal</key>
	<string>0.165</string>
	<key>covalentRadius</key>
	<string>1.64</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>49</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>7.01</string>
	<key>descr</key>
	<string>Silvery rare earth metal</string>
	<key>discoverer</key>
	<string>C.F. Aver von Welsbach</string>
	<key>discoveryLocation</key>
	<string>Austria</string>
	<key>discoveryYear</key>
	<string>1895</string>
	<key>elasticModulusBulk</key>
	<string>32</string>
	<key>elasticModulusRigidity</key>
	<string>16</string>
	<key>elasticModulusYoungs</key>
	<string>41</string>
	<key>electroChemicalEquivalent</key>
	<string>1.7939</string>
	<key>electroNegativity</key>
	<string>1.14</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>4</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.2</string>
	<key>enthalpyOfAtomization</key>
	<string>322</string>
	<key>enthalpyOfFusion</key>
	<string>7.14</string>
	<key>enthalpyOfVaporization</key>
	<string>273</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4f</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>265</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string>343</string>
	<key>heatOfFusion</key>
	<string>7.14</string>
	<key>heatOfVaporization</key>
	<string>273</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.995</string>
	<key>ionizationPotentialFirst</key>
	<string>5.53</string>
	<key>ionizationPotentialSecond</key>
	<string>10.727</string>
	<key>ionizationPotentialThird</key>
	<string>22.076</string>
	<key>meltingPoint</key>
	<string>1021</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>27.45</string>
	<key>molarVolume</key>
	<string>20.6</string>
	<key>name</key>
	<string>Neodymium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string></string>
	<key>numberOfNeutrons</key>
	<string>60</string>
	<key>numberOfProtons</key>
	<string>84</string>
	<key>opticalReflectivity</key>
	<string>60</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Lanthanide</string>
	<key>specificHeat</key>
	<string>0.190</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Nd</string>
	<key>valenceElectronPotential</key>
	<string>43.4</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4f</key>
			<string>4</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1322.3</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>1501.2</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1725.3</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2023</string>
		<key>pa1kFootnote</key>
		<string>i</string>
		<key>pa10k</key>
		<string>2442</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>3603</string>
		<key>pa100kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
