<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>5x10⁻³</string>
	<key>abundanceSea</key>
	<string>1.2x10⁻⁴</string>
	<key>atomicMass</key>
	<string>20.1797</string>
	<key>atomicMassFootnote</key>
	<string>g m</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>6</integer>
	<key>atomicNumber</key>
	<integer>10</integer>
	<key>atomicRadius</key>
	<string>0.51</string>
	<key>atomicVolume</key>
	<string>16.7</string>
	<key>boilingPoint</key>
	<string>-246.08</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-01-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.000493</string>
	<key>covalentRadius</key>
	<string>0.71</string>
	<key>criticalTemperature</key>
	<string>-228.7</string>
	<key>crossSection</key>
	<string>38</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>0.825</string>
	<key>descr</key>
	<string>Colorless, odorless, tasteless noble gas.</string>
	<key>discoverer</key>
	<string>Sir William Ramsey, M.W. Travers</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1898</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string></string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string></string>
	<key>enthalpyOfFusion</key>
	<string>0.33</string>
	<key>enthalpyOfVaporization</key>
	<string>1.71</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>2p</key>
			<string>6</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>18</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>0.3317</string>
	<key>heatOfVaporization</key>
	<string>1.7326</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string></string>
	<key>ionizationPotentialFirst</key>
	<string>21.564</string>
	<key>ionizationPotentialSecond</key>
	<string>40.962</string>
	<key>ionizationPotentialThird</key>
	<string>63.45</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4219.7450</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4233.8500</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4250.6490</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4369.8620</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4379.4000</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4379.5500</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4385.0590</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4391.9910</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4397.9900</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4409.2990</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4413.2150</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4421.3890</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4428.5160</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4428.6340</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4430.9040</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4430.9420</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4457.0490</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4522.7200</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4537.7545</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4569.0570</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4704.3949</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4708.8594</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4710.0650</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4712.0633</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4715.3440</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4752.73200</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4788.9258</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4790.2195</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4827.3380</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4884.9170</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5005.1587</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5037.7512</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5144.9384</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5330.7775</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5341.0938</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5343.2834</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5400.5618</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5562.7662</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5656.6588</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5719.2248</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5748.2985</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5764.4188</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5804.4496</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5820.1558</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5852.4879</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5872.8275</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5881.8952</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5902.4623</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5906.4294</string>
			<key>intensity</key>
			<string>5</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5944.8342</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5965.4710</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5974.6273</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5975.5340</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5987.9074</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6029.9969</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6074.3377</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6096.1631</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6128.4499</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6143.0626</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6163.5939</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6182.1460</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6217.2812</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6266.4950</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6304.7889</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6328.1646</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6334.4278</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6382.9917</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6402.248</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6506.5281</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6532.8822</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6598.9529</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6652.0927</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6678.2762</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6717.0430</string>
			<key>intensity</key>
			<string>7</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6929.4673</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Ne II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-6.96</string>
	<key>meltingPoint</key>
	<string>-248.59</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>20.786</string>
	<key>molarVolume</key>
	<string>16.8</string>
	<key>name</key>
	<string>Neon</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>16.0258</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.080</string>
			<key>dm</key>
			<string>P</string>
			<key>dt</key>
			<string>F15</string>
			<key>halfLife</key>
			<string>122keV</string>
			<key>nn</key>
			<string>6</string>
			<key>nuclide</key>
			<string>Ne16</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>17.0177</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.530</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>F17</string>
			<key>halfLife</key>
			<string>109.2ms</string>
			<key>nn</key>
			<string>7</string>
			<key>nuclide</key>
			<string>Ne17</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.710</string>
			<key>dm</key>
			<string>ξ + α</string>
			<key>dt</key>
			<string>N13</string>
			<key>halfLife</key>
			<string>109.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.930</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>O16</string>
			<key>halfLife</key>
			<string>109.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>18.0057</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.446</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>F18</string>
			<key>halfLife</key>
			<string>1672ms</string>
			<key>nn</key>
			<string>8</string>
			<key>nuclide</key>
			<string>Ne18</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>19.0019</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.238</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>F19</string>
			<key>halfLife</key>
			<string>17.22s</string>
			<key>nn</key>
			<string>9</string>
			<key>nuclide</key>
			<string>Ne19</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>90.48</string>
			<key>atomicMass</key>
			<string>19.9924</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>10</string>
			<key>nuclide</key>
			<string>Ne20</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.27</string>
			<key>atomicMass</key>
			<string>20.9938</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclide</key>
			<string>Ne21</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>9.25</string>
			<key>atomicMass</key>
			<string>21.9914</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclide</key>
			<string>Ne22</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>22.9945</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.376</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na23</string>
			<key>halfLife</key>
			<string>37.24s</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclide</key>
			<string>Ne23</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>23.9936</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.470</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na24</string>
			<key>halfLife</key>
			<string>3.38m</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclide</key>
			<string>Ne24</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>24.9978</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.300</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na25</string>
			<key>halfLife</key>
			<string>602ms</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclide</key>
			<string>Ne25</string>
			<key>spin</key>
			<string>3/2+, 1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>26.0005</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.330</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na26</string>
			<key>halfLife</key>
			<string>197ms</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclide</key>
			<string>Ne26</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>27.0076</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.670</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na27</string>
			<key>halfLife</key>
			<string>32ms</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclide</key>
			<string>Ne27</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.920</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Na26</string>
			<key>halfLife</key>
			<string>32ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.012</string>
			<key>br</key>
			<string>16</string>
			<key>decayEnergy</key>
			<string>8.790</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Na27</string>
			<key>halfLife</key>
			<string>17ms</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclide</key>
			<string>Ne28</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.310</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Na28</string>
			<key>halfLife</key>
			<string>17ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.019</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Na28</string>
			<key>halfLife</key>
			<string>0.2s</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclide</key>
			<string>Ne29</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.024</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclide</key>
			<string>Ne30</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>31.033</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>21</string>
			<key>nuclide</key>
			<string>Ne31</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>32.04</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Ne32</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>10</string>
	<key>numberOfNeutrons</key>
	<string>10</string>
	<key>numberOfProtons</key>
	<string>10</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000067</string>
	<key>oxidationStates</key>
	<string></string>
	<key>period</key>
	<string>2</string>
	<key>qualitativeSolubility</key>
	<string>soluble in H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Noble Gas</string>
	<key>specificHeat</key>
	<string>1.030</string>
	<key>standardCondition</key>
	<string>Gas</string>
	<key>symbol</key>
	<string>Ne</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>2p</key>
			<string>6</string>
			<key>2s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>-261</string>
		<key>pa10</key>
		<string>-260</string>
		<key>pa100</key>
		<string>-258</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa100k</key>
		<string>-246.1</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>-252</string>
		<key>pa10kFootnote</key>
		<string>s</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>-255</string>
		<key>pa1kFootnote</key>
		<string>s</string>
	</dict>
</dict>
</plist>
