<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>8.4x10¹</string>
	<key>abundanceSea</key>
	<string>5.6x10⁻⁴</string>
	<key>atomicMass</key>
	<string>58.6934</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>28</integer>
	<key>atomicRadius</key>
	<string>1.62</string>
	<key>atomicVolume</key>
	<string>6.59</string>
	<key>boilingPoint</key>
	<string>2913</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-02-0</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000133</string>
	<key>conductivityElectrical</key>
	<string>0.143</string>
	<key>conductivityThermal</key>
	<string>0.907</string>
	<key>covalentRadius</key>
	<string>1.15</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>4.54</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>8.90</string>
	<key>descr</key>
	<string>White transition metal.</string>
	<key>discoverer</key>
	<string>Axel Cronstedt</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1751</string>
	<key>elasticModulusBulk</key>
	<string>180</string>
	<key>elasticModulusRigidity</key>
	<string>76</string>
	<key>elasticModulusYoungs</key>
	<string>200</string>
	<key>electroChemicalEquivalent</key>
	<string>1.095</string>
	<key>electroNegativity</key>
	<string>1.91</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>8</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5.15</string>
	<key>enthalpyOfAtomization</key>
	<string>422.6</string>
	<key>enthalpyOfFusion</key>
	<string>17.57</string>
	<key>enthalpyOfVaporization</key>
	<string>371.8</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>8</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustable solid.</string>
	<key>group</key>
	<string>10</string>
	<key>hardnessScaleBrinell</key>
	<string>700</string>
	<key>hardnessScaleMohs</key>
	<string>4</string>
	<key>hardnessScaleVickers</key>
	<string>638</string>
	<key>heatOfFusion</key>
	<string>17.47</string>
	<key>heatOfVaporization</key>
	<string>370.4</string>
	<key>incompatibilities</key>
	<string>Strong acids, sulfur, selenium, wood and other combustables, nickel nitrate</string>
	<key>ionicRadius</key>
	<string>0.69</string>
	<key>ionizationPotentialFirst</key>
	<string>7.635</string>
	<key>ionizationPotentialSecond</key>
	<string>18.168</string>
	<key>ionizationPotentialThird</key>
	<string>35.17</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4992.0240</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Ni II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>Ferromagnetic</string>
	<key>meltingPoint</key>
	<string>1455</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.07</string>
	<key>molarVolume</key>
	<string>6.59</string>
	<key>name</key>
	<string>Nickel</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.996</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclide</key>
			<string>Ni50</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.988</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclide</key>
			<string>Ni51</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9757</string>
			<key>br</key>
			<string>17</string>
			<key>decayEnergy</key>
			<string>10.270</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Fe51</string>
			<key>halfLife</key>
			<string>38ms</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Ni52</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.260</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co52</string>
			<key>halfLife</key>
			<string>38ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.968</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.260</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co53</string>
			<key>halfLife</key>
			<string>45ms</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Ni53</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.9579</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.800</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co54</string>
			<key>halfLife</key>
			<string>140ms</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Ni54</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.9513</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.694</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co55</string>
			<key>halfLife</key>
			<string>212.1ms</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Ni55</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.9421</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.136</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co56</string>
			<key>halfLife</key>
			<string>6.077d</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Ni56</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.9398</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.264</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co57</string>
			<key>halfLife</key>
			<string>35.6h</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Ni57</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>68.077</string>
			<key>atomicMass</key>
			<string>57.9354</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Ni58</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.9344</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.072</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Co59</string>
			<key>halfLife</key>
			<string>76000y</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Ni59</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>26.223</string>
			<key>atomicMass</key>
			<string>59.9308</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Ni60</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>1.14</string>
			<key>atomicMass</key>
			<string>60.9311</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Ni61</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>3.634</string>
			<key>atomicMass</key>
			<string>61.9284</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Ni62</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.9297</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.067</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu63</string>
			<key>halfLife</key>
			<string>100.1y</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Ni63</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.926</string>
			<key>atomicMass</key>
			<string>63.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Ni64</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.9301</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.137</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu65</string>
			<key>halfLife</key>
			<string>2.5172h</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Ni65</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.9291</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.225</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu66</string>
			<key>halfLife</key>
			<string>54.6h</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Ni66</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.9316</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.558</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu67</string>
			<key>halfLife</key>
			<string>21s</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Ni67</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.9318</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.060</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu68</string>
			<key>halfLife</key>
			<string>19s</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Ni68</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>2.847MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.847</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Ni68</string>
			<key>halfLife</key>
			<string>0.86ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.935</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.360</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu69</string>
			<key>halfLife</key>
			<string>11.4s</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Ni69</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.936</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu70</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Ni70</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.94</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu71</string>
			<key>halfLife</key>
			<string>1.86s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Ni71</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.941</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.200</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu72</string>
			<key>halfLife</key>
			<string>2.1s</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Ni72</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.946</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu73</string>
			<key>halfLife</key>
			<string>0.7s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Ni73</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.948</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.100</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Cu74</string>
			<key>halfLife</key>
			<string>0.54s</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Ni74</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.953</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>0.6s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Ni75</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.955</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>0.24s</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Ni76</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.96</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Ni77</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.96</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Ni78</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>28</string>
	<key>numberOfNeutrons</key>
	<string>31</string>
	<key>numberOfProtons</key>
	<string>28</string>
	<key>opticalReflectivity</key>
	<string>72</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0; soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.444</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ni</string>
	<key>valenceElectronPotential</key>
	<string>47</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>8</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1510</string>
		<key>pa10</key>
		<string>1677</string>
		<key>pa100</key>
		<string>1881</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2911</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2468</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2137</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
