<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-23</string>
	<key>abundanceCrust</key>
	<string>1.4x10¹</string>
	<key>abundanceSea</key>
	<string>3x10⁻⁵</string>
	<key>atomicMass</key>
	<string>207.2</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>82</integer>
	<key>atomicRadius</key>
	<string>1.81</string>
	<key>atomicVolume</key>
	<string>18.17</string>
	<key>boilingPoint</key>
	<string>1749</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7439-92-1</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000283</string>
	<key>conductivityElectrical</key>
	<string>0.0481</string>
	<key>conductivityThermal</key>
	<string>0.353</string>
	<key>covalentRadius</key>
	<string>1.47</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>180</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>11.3</string>
	<key>descr</key>
	<string>Soft bluish-white metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>46</string>
	<key>elasticModulusRigidity</key>
	<string>5.6</string>
	<key>elasticModulusYoungs</key>
	<string>16</string>
	<key>electroChemicalEquivalent</key>
	<string>3.865</string>
	<key>electroNegativity</key>
	<string>2.33</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6p</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.25</string>
	<key>enthalpyOfAtomization</key>
	<string>194.6</string>
	<key>enthalpyOfFusion</key>
	<string>4.77</string>
	<key>enthalpyOfVaporization</key>
	<string>179.4</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>1s</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>14</string>
	<key>hardnessScaleBrinell</key>
	<string>38.3</string>
	<key>hardnessScaleMohs</key>
	<string>1.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>4.799</string>
	<key>heatOfVaporization</key>
	<string>177.7</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers, hydrogen peroxide, acids</string>
	<key>ionicRadius</key>
	<string>1.19</string>
	<key>ionizationPotentialFirst</key>
	<string>7.416</string>
	<key>ionizationPotentialSecond</key>
	<string>15.028</string>
	<key>ionizationPotentialThird</key>
	<string>31.943</string>
	<key>meltingPoint</key>
	<string>327.46</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.650</string>
	<key>molarVolume</key>
	<string>18.27</string>
	<key>name</key>
	<string>Lead</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>82</string>
	<key>numberOfNeutrons</key>
	<string>125</string>
	<key>numberOfProtons</key>
	<string>82</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4, 2</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in concentrated acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.129</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Pb</string>
	<key>valenceElectronPotential</key>
	<string>24.2</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>6p</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>705</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>815</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>956</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>1139</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1387</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>1754</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
