<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+540</string>
	<key>abundanceCrust</key>
	<string>1.5x10⁻²</string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>106.42</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>46</integer>
	<key>atomicRadius</key>
	<string>1.79</string>
	<key>atomicVolume</key>
	<string>8.9</string>
	<key>boilingPoint</key>
	<string>2963</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-05-03</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00001167</string>
	<key>conductivityElectrical</key>
	<string>0.095</string>
	<key>conductivityThermal</key>
	<string>0.718</string>
	<key>covalentRadius</key>
	<string>1.28</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>6</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>12.0</string>
	<key>descr</key>
	<string>Soft silver-white metal that does not tarnish in air. It is attacked by concentrated, hot nitric acid and boiling sulfuric acid.</string>
	<key>discoverer</key>
	<string>William Wollaston</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1803</string>
	<key>elasticModulusBulk</key>
	<string>180</string>
	<key>elasticModulusRigidity</key>
	<string>44</string>
	<key>elasticModulusYoungs</key>
	<string>121</string>
	<key>electroChemicalEquivalent</key>
	<string>1.985</string>
	<key>electroNegativity</key>
	<string>2.2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5.12</string>
	<key>enthalpyOfAtomization</key>
	<string>393.3</string>
	<key>enthalpyOfFusion</key>
	<string>16.74</string>
	<key>enthalpyOfVaporization</key>
	<string>376.6</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>0</string>
	<key>hardnessScaleBrinell</key>
	<string>37.3</string>
	<key>hardnessScaleMohs</key>
	<string>4.75</string>
	<key>hardnessScaleVickers</key>
	<string>461</string>
	<key>heatOfFusion</key>
	<string>17.6</string>
	<key>heatOfVaporization</key>
	<string>357</string>
	<key>incompatibilities</key>
	<string>8.85</string>
	<key>ionicRadius</key>
	<string>0.86</string>
	<key>ionizationPotentialFirst</key>
	<string>8.34</string>
	<key>ionizationPotentialSecond</key>
	<string>19.63</string>
	<key>ionizationPotentialThird</key>
	<string>32.93</string>
	<key>meltingPoint</key>
	<string>1554.9</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.98</string>
	<key>molarVolume</key>
	<string></string>
	<key>name</key>
	<string>Palladium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>46</string>
	<key>numberOfNeutrons</key>
	<string>60</string>
	<key>numberOfProtons</key>
	<string>46</string>
	<key>opticalReflectivity</key>
	<string>72</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 4</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>soluble in aqua regia</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.246</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Pd</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>10</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1448</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>1624</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1844</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2122</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2480</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2961</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
