<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string></string>
	<key>abundanceCrust</key>
	<string></string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>145.9127</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>61</integer>
	<key>atomicRadius</key>
	<string>2.62</string>
	<key>atomicVolume</key>
	<string>22.39</string>
	<key>boilingPoint</key>
	<string>3000</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-12-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string></string>
	<key>conductivityThermal</key>
	<string>0.179</string>
	<key>covalentRadius</key>
	<string>1.63</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>7.26</string>
	<key>descr</key>
	<string>Radioactive rare earth metal.</string>
	<key>discoverer</key>
	<string>J.A. Marinsky, L.E. Glendenin, C.D. Coryell</string>
	<key>discoveryLocation</key>
	<string>United States</string>
	<key>discoveryYear</key>
	<string>1945</string>
	<key>elasticModulusBulk</key>
	<string>33</string>
	<key>elasticModulusRigidity</key>
	<string>18</string>
	<key>elasticModulusYoungs</key>
	<string>46</string>
	<key>electroChemicalEquivalent</key>
	<string>1.8022</string>
	<key>electroNegativity</key>
	<string>1.13</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>5</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>310</string>
	<key>enthalpyOfFusion</key>
	<string>7.5</string>
	<key>enthalpyOfVaporization</key>
	<string></string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4f</key>
			<string>5</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScale</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>12.6</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.979</string>
	<key>ionizationPotentialFirst</key>
	<string>5.554</string>
	<key>ionizationPotentialSecond</key>
	<string>10.903</string>
	<key>ionizationPotentialThird</key>
	<string>22.283</string>
	<key>meltingPoint</key>
	<string>1042</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string>19.95</string>
	<key>name</key>
	<string>Promethium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>61</string>
	<key>numberOfNeutrons</key>
	<string>84</string>
	<key>numberOfProtons</key>
	<string>61</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Lanthanide</string>
	<key>specificHeat</key>
	<string>0.19</string>
	<key>standardCondition</key>
	<string>Synthetic</string>
	<key>symbol</key>
	<string>Pm</string>
	<key>valenceElectronPotential</key>
	<string>44.1</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4f</key>
			<string>5</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string></string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string></string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string></string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
