<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string></string>
	<key>abundanceCrust</key>
	<string>2x10⁻¹⁰</string>
	<key>abundanceSea</key>
	<string>1.5x10⁻¹⁴</string>
	<key>atomicMass</key>
	<string>208.9824</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>84</integer>
	<key>atomicRadius</key>
	<string>1.53</string>
	<key>atomicVolume</key>
	<string>22.23</string>
	<key>boilingPoint</key>
	<string>962</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-08-06</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000235</string>
	<key>conductivityElectrical</key>
	<string>0.0219</string>
	<key>conductivityThermal</key>
	<string>0.2</string>
	<key>covalentRadius</key>
	<string>1.46</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Monoclinic</string>
	<key>density</key>
	<string>9.20</string>
	<key>descr</key>
	<string>Radioactive metal.</string>
	<key>discoverer</key>
	<string>Pierre and Marie Curie</string>
	<key>discoveryLocation</key>
	<string>France</string>
	<key>discoveryYear</key>
	<string>1898</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>3.8986</string>
	<key>electroNegativity</key>
	<string>2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6p</key>
		<string>4</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>134</string>
	<key>enthalpyOfFusion</key>
	<string></string>
	<key>enthalpyOfVaporization</key>
	<string>60.3</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>6p</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>16</string>
	<key>hardnessScale</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>60.1</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>2.3</string>
	<key>ionizationPotentialFirst</key>
	<string>8.42</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>254</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string>22.73</string>
	<key>name</key>
	<string>Polonium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>84</string>
	<key>numberOfNeutrons</key>
	<string>125</string>
	<key>numberOfProtons</key>
	<string>84</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4, 2</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string></string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Po</string>
	<key>valenceElectronPotential</key>
	<string>-12.5</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>6p</key>
			<string>4</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string></string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>573</string>
		<key>pa1kFootnote</key>
		<string>e</string>
		<key>pa10k</key>
		<string>730.2</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>963.3</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
