<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>9.0x10¹</string>
	<key>abundanceSea</key>
	<string>1.2x10⁻¹</string>
	<key>atomicMass</key>
	<string>85.4678</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>37</integer>
	<key>atomicRadius</key>
	<string>2.98</string>
	<key>atomicVolume</key>
	<string>55.9</string>
	<key>boilingPoint</key>
	<string>688</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-17-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00009</string>
	<key>conductivityElectrical</key>
	<string>0.0779</string>
	<key>conductivityThermal</key>
	<string>0.582</string>
	<key>covalentRadius</key>
	<string>2.16</string>
	<key>criticalTemperature</key>
	<string>1820</string>
	<key>crossSection</key>
	<string>0.5</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>1.53</string>
	<key>descr</key>
	<string>Soft silver white metal.</string>
	<key>discoverer</key>
	<string>R. Bunsen, G. Kirchoff</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1861</string>
	<key>elasticModulusBulk</key>
	<string>2.5</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string>2.4</string>
	<key>electroChemicalEquivalent</key>
	<string>3.1888</string>
	<key>electroNegativity</key>
	<string>0.82</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>2.16</string>
	<key>enthalpyOfAtomization</key>
	<string>82</string>
	<key>enthalpyOfFusion</key>
	<string>219</string>
	<key>enthalpyOfVaporization</key>
	<string>69.2</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>1</string>
	<key>hardnessScaleBrinell</key>
	<string>0.216</string>
	<key>hardnessScaleMohs</key>
	<string>0.3</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>2.192</string>
	<key>heatOfVaporization</key>
	<string>72.216</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>1.52</string>
	<key>ionizationPotentialFirst</key>
	<string>4.177</string>
	<key>ionizationPotentialSecond</key>
	<string>27.28</string>
	<key>ionizationPotentialThird</key>
	<string>40</string>
	<key>magneticSusceptibility</key>
	<string>+17</string>
	<key>meltingPoint</key>
	<string>39.30</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>31.060</string>
	<key>molarVolume</key>
	<string>55.79</string>
	<key>name</key>
	<string>Rubidium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.965</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Rb71</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.959</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Rb72</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.95</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Rb73</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.944</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.400</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr74</string>
			<key>halfLife</key>
			<string>64.9ms</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Rb74</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9386</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.020</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr75</string>
			<key>halfLife</key>
			<string>19s</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Rb75</string>
			<key>spin</key>
			<string>2-, 5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.9351</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.500</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr76</string>
			<key>halfLife</key>
			<string>36.5s</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Rb76</string>
			<key>spin</key>
			<string>1-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.9304</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.346</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr77</string>
			<key>halfLife</key>
			<string>3.77m</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Rb77</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.9281</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.224</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr78</string>
			<key>halfLife</key>
			<string>17.66m</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Rb78</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.103MeV</string>
			<key>br</key>
			<string>90</string>
			<key>decayEnergy</key>
			<string>7.327</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr78</string>
			<key>halfLife</key>
			<string>5.74m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>10</string>
			<key>decayEnergy</key>
			<string>0.103</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>5.74m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.9231</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.649</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr79</string>
			<key>halfLife</key>
			<string>22.9m</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Rb79</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.9225</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.723</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr80</string>
			<key>halfLife</key>
			<string>34s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Rb80</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.919</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.237</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr81</string>
			<key>halfLife</key>
			<string>4.576h</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Rb81</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.086MeV</string>
			<key>br</key>
			<string>97.6</string>
			<key>decayEnergy</key>
			<string>0.086</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>30.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>2.4</string>
			<key>decayEnergy</key>
			<string>2.323</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr81</string>
			<key>halfLife</key>
			<string>30.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.9182</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.400</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr82</string>
			<key>halfLife</key>
			<string>1.273m</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Rb82</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.068MeV</string>
			<key>br</key>
			<string>&lt;0.33</string>
			<key>decayEnergy</key>
			<string>0.069</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Rb82</string>
			<key>halfLife</key>
			<string>6.472h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.469</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr82</string>
			<key>halfLife</key>
			<string>6.472h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.9151</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.910</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr83</string>
			<key>halfLife</key>
			<string>86.2d</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Rb83</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>7.8ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>7.8ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.9144</string>
			<key>br</key>
			<string>96.2</string>
			<key>decayEnergy</key>
			<string>2.681</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr84</string>
			<key>halfLife</key>
			<string>32.77d</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Rb84</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>3.8</string>
			<key>decayEnergy</key>
			<string>0.894</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr84</string>
			<key>halfLife</key>
			<string>32.77d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.463MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.464</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>20.26m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>6-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>72.165</string>
			<key>atomicMass</key>
			<string>84.9118</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Rb85</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.9112</string>
			<key>br</key>
			<string>99.99</string>
			<key>decayEnergy</key>
			<string>1.774</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr86</string>
			<key>halfLife</key>
			<string>18.631d</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Rb86</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.0052</string>
			<key>decayEnergy</key>
			<string>0.519</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Kr86</string>
			<key>halfLife</key>
			<string>18.631d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.556MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.556</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>1.017m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>6-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>27.835</string>
			<key>atomicMass</key>
			<string>86.9092</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.283</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr87</string>
			<key>halfLife</key>
			<string>4.75E¹⁰y</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Rb87</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9113</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.316</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr88</string>
			<key>halfLife</key>
			<string>17.78m</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Rb88</string>
			<key>spin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9123</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.501</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr89</string>
			<key>halfLife</key>
			<string>15.15m</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Rb89</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9148</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.590</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr90</string>
			<key>halfLife</key>
			<string>158s</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Rb90</string>
			<key>spin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.107MeV</string>
			<key>br</key>
			<string>97.4</string>
			<key>decayEnergy</key>
			<string>6.697</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr90</string>
			<key>halfLife</key>
			<string>258s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>3-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>2.6</string>
			<key>decayEnergy</key>
			<string>0.107</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>258s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.9165</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.861</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr91</string>
			<key>halfLife</key>
			<string>58.4s</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Rb91</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9197</string>
			<key>br</key>
			<string>0.01</string>
			<key>decayEnergy</key>
			<string>0.763</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr91</string>
			<key>halfLife</key>
			<string>4.492s</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Rb92</string>
			<key>spin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.105</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr92</string>
			<key>halfLife</key>
			<string>4.492s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.922</string>
			<key>br</key>
			<string>1.39</string>
			<key>decayEnergy</key>
			<string>2.178</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr92</string>
			<key>halfLife</key>
			<string>5.84s</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Rb93</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.462</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr93</string>
			<key>halfLife</key>
			<string>5.84s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9264</string>
			<key>br</key>
			<string>10.01</string>
			<key>decayEnergy</key>
			<string>3.560</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr93</string>
			<key>halfLife</key>
			<string>2.702s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Rb94</string>
			<key>spin</key>
			<string>3-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.307</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr94</string>
			<key>halfLife</key>
			<string>2.702s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9293</string>
			<key>br</key>
			<string>8.73</string>
			<key>decayEnergy</key>
			<string>4.932</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr94</string>
			<key>halfLife</key>
			<string>377.5ms</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Rb95</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.279</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr95</string>
			<key>halfLife</key>
			<string>377.5ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.9343</string>
			<key>br</key>
			<string>14</string>
			<key>decayEnergy</key>
			<string>5.861</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr95</string>
			<key>halfLife</key>
			<string>0.199s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Rb96</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.756</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr96</string>
			<key>halfLife</key>
			<string>0.199s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9373</string>
			<key>br</key>
			<string>25.1</string>
			<key>decayEnergy</key>
			<string>6.540</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr96</string>
			<key>halfLife</key>
			<string>169.9ms</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Rb97</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.420</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr97</string>
			<key>halfLife</key>
			<string>169.9ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9417</string>
			<key>br</key>
			<string>13.6</string>
			<key>decayEnergy</key>
			<string>6.460</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr97</string>
			<key>halfLife</key>
			<string>114ms</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Rb98</string>
			<key>spin</key>
			<string>1, 0</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.05</string>
			<key>decayEnergy</key>
			<string>2.570</string>
			<key>dm</key>
			<string>β- + 2N</string>
			<key>dt</key>
			<string>Sr96</string>
			<key>halfLife</key>
			<string>114ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.344</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr98</string>
			<key>halfLife</key>
			<string>114ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0270MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.614</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr98</string>
			<key>halfLife</key>
			<string>96ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>4, 5</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.730</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr97</string>
			<key>halfLife</key>
			<string>96ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.945</string>
			<key>br</key>
			<string>20.7</string>
			<key>decayEnergy</key>
			<string>7.610</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr98</string>
			<key>halfLife</key>
			<string>50.3ms</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclide</key>
			<string>Rb99</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.250</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr99</string>
			<key>halfLife</key>
			<string>50.3ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.95</string>
			<key>br</key>
			<string>6</string>
			<key>decayEnergy</key>
			<string>7.400</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr99</string>
			<key>halfLife</key>
			<string>51ms</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclide</key>
			<string>Rb100</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.16</string>
			<key>decayEnergy</key>
			<string>13.500</string>
			<key>dm</key>
			<string>β- + 2N</string>
			<key>dt</key>
			<string>Sr98</string>
			<key>halfLife</key>
			<string>51ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr100</string>
			<key>halfLife</key>
			<string>51ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.953</string>
			<key>br</key>
			<string>31</string>
			<key>decayEnergy</key>
			<string>8.550</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr100</string>
			<key>halfLife</key>
			<string>32ms</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclide</key>
			<string>Rb101</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.810</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr101</string>
			<key>halfLife</key>
			<string>32ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.959</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>18</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Sr101</string>
			<key>halfLife</key>
			<string>37ms</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclide</key>
			<string>Rb102</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Sr102</string>
			<key>halfLife</key>
			<string>37ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>37</string>
	<key>numberOfNeutrons</key>
	<string>48</string>
	<key>numberOfProtons</key>
	<string>37</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>1</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Alkali Metal</string>
	<key>specificHeat</key>
	<string>0.363</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Rb</string>
	<key>valenceElectronPotential</key>
	<string>9.47</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>160.4</string>
		<key>pa10</key>
		<string>212.5</string>
		<key>pa100</key>
		<string>278.9</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>685.3</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>496.1</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>368</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
