<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+102</string>
	<key>abundanceCrust</key>
	<string>1x10⁻³</string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>102.90550</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>45</integer>
	<key>atomicRadius</key>
	<string>1.83</string>
	<key>atomicVolume</key>
	<string>8.3</string>
	<key>boilingPoint</key>
	<string>3695</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-16-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000083</string>
	<key>conductivityElectrical</key>
	<string>0.211</string>
	<key>conductivityThermal</key>
	<string>1.5</string>
	<key>covalentRadius</key>
	<string>1.25</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>150</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>12.4</string>
	<key>descr</key>
	<string>Hard silver white metal</string>
	<key>discoverer</key>
	<string>William Wollaston</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1803</string>
	<key>elasticModulusBulk</key>
	<string>380</string>
	<key>elasticModulusRigidity</key>
	<string>150</string>
	<key>elasticModulusYoungs</key>
	<string>275</string>
	<key>electroChemicalEquivalent</key>
	<string>1.2798</string>
	<key>electroNegativity</key>
	<string>2.28</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>8</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.98</string>
	<key>enthalpyOfAtomization</key>
	<string>556.5</string>
	<key>enthalpyOfFusion</key>
	<string>21.76</string>
	<key>enthalpyOfVaporization</key>
	<string>495.4</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>8</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>9</string>
	<key>hardnessScaleBrinell</key>
	<string>1100</string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string>1246</string>
	<key>heatOfFusion</key>
	<string>21.5</string>
	<key>heatOfVaporization</key>
	<string>493</string>
	<key>incompatibilities</key>
	<string>Chlorine trifloride, oxygen difloride</string>
	<key>ionicRadius</key>
	<string>0.68</string>
	<key>ionizationPotentialFirst</key>
	<string>7.46</string>
	<key>ionizationPotentialSecond</key>
	<string>18.08</string>
	<key>ionizationPotentialThird</key>
	<string>31.06</string>
	<key>meltingPoint</key>
	<string>1964</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.98</string>
	<key>molarVolume</key>
	<string>8.3</string>
	<key>name</key>
	<string>Rhodium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>45</string>
	<key>numberOfNeutrons</key>
	<string>58</string>
	<key>numberOfProtons</key>
	<string>45</string>
	<key>opticalReflectivity</key>
	<string>84</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 3, 4</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in acid; soluble in aqua regia</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.243</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Rh</string>
	<key>valenceElectronPotential</key>
	<string>64</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>8</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2015</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>2223</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>2476</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2790</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3132</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>3724</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
