<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1x10⁻³</string>
	<key>abundanceSea</key>
	<string>7x10⁻⁷</string>
	<key>atomicMass</key>
	<string>101.07</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>44</integer>
	<key>atomicRadius</key>
	<string>1.89</string>
	<key>atomicVolume</key>
	<string>8.3</string>
	<key>boilingPoint</key>
	<string>4150</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-18-8</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000991</string>
	<key>conductivityElectrical</key>
	<string>0.137</string>
	<key>conductivityThermal</key>
	<string>1.17</string>
	<key>covalentRadius</key>
	<string>1.25</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>3</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>12.1</string>
	<key>descr</key>
	<string>Rare hard brittle silvery metal.</string>
	<key>discoverer</key>
	<string>Karl Klaus</string>
	<key>discoveryLocation</key>
	<string>Russia</string>
	<key>discoveryYear</key>
	<string>1844</string>
	<key>elasticModulusBulk</key>
	<string>220</string>
	<key>elasticModulusRigidity</key>
	<string>173</string>
	<key>elasticModulusYoungs</key>
	<string>447</string>
	<key>electroChemicalEquivalent</key>
	<string>1.257</string>
	<key>electroNegativity</key>
	<string>2.2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>7</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>1</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.71</string>
	<key>enthalpyOfAtomization</key>
	<string>603</string>
	<key>enthalpyOfFusion</key>
	<string>25.5</string>
	<key>enthalpyOfVaporization</key>
	<string>567.8</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>7</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>8</string>
	<key>hardnessScaleBrinell</key>
	<string>2160</string>
	<key>hardnessScaleMohs</key>
	<string>6.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>24</string>
	<key>heatOfVaporization</key>
	<string>595</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.68</string>
	<key>ionizationPotentialFirst</key>
	<string>7.37</string>
	<key>ionizationPotentialSecond</key>
	<string>16.76</string>
	<key>ionizationPotentialThird</key>
	<string>28.47</string>
	<key>magneticSusceptibility</key>
	<string>+39</string>
	<key>meltingPoint</key>
	<string>2334</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.06</string>
	<key>molarVolume</key>
	<string>8.22</string>
	<key>name</key>
	<string>Ruthenium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;1.5us</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Ru87</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.94</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Ru88</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.936</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Ru89</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.93</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.600</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc90</string>
			<key>halfLife</key>
			<string>11s</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Ru90</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.926</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.400</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc91</string>
			<key>halfLife</key>
			<string>9s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Ru91</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string>&gt;0</string>
			<key>decayEnergy</key>
			<string>7.400</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc91</string>
			<key>halfLife</key>
			<string>7.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>&gt;0</string>
			<key>decayEnergy</key>
			<string>4.300</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Mo90</string>
			<key>halfLife</key>
			<string>7.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Ru91</string>
			<key>halfLife</key>
			<string>7.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.92</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.500</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc92</string>
			<key>halfLife</key>
			<string>3.65m</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Ru92</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.9171</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.340</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc93</string>
			<key>halfLife</key>
			<string>59.7s</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Ru93</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.734MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.074</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc93	78</string>
			<key>halfLife</key>
			<string>10.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>22</string>
			<key>decayEnergy</key>
			<string>0.734</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>10.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.03</string>
			<key>decayEnergy</key>
			<string>2.984</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Mo92</string>
			<key>halfLife</key>
			<string>10.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9114</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.593</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc94</string>
			<key>halfLife</key>
			<string>51.8m</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Ru94</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9104</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.572</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc95</string>
			<key>halfLife</key>
			<string>1.643h</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Ru95</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>5.52</string>
			<key>atomicMass</key>
			<string>95.9076</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Ru96</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9076</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.115</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Tc97</string>
			<key>halfLife</key>
			<string>2.9d</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Ru97</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>1.88</string>
			<key>atomicMass</key>
			<string>97.9053</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Ru98</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>12.7</string>
			<key>atomicMass</key>
			<string>98.9059</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Ru99</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>12.6</string>
			<key>atomicMass</key>
			<string>99.9042</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Ru100</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>17.0</string>
			<key>atomicMass</key>
			<string>100.9056</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Ru101</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.527MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.527</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>17.5us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>11/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>31.6</string>
			<key>atomicMass</key>
			<string>101.9044</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Ru102</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.9063</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.763</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh103</string>
			<key>halfLife</key>
			<string>39.26d</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Ru103</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.238MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.238</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>1.69ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>11/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>18.7</string>
			<key>atomicMass</key>
			<string>103.9054</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Ru104</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.9078</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.917</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh105</string>
			<key>halfLife</key>
			<string>4.44h</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Ru105</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.9073</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.039</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh106</string>
			<key>halfLife</key>
			<string>373.59d</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclide</key>
			<string>Ru106</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>106.91</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.940</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh107</string>
			<key>halfLife</key>
			<string>3.75m</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclide</key>
			<string>Ru107</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>107.91</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.360</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh108</string>
			<key>halfLife</key>
			<string>4.55m</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclide</key>
			<string>Ru108</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>108.9132</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.160</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh109</string>
			<key>halfLife</key>
			<string>34.5s</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclide</key>
			<string>Ru109</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>109.914</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.810</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh110</string>
			<key>halfLife</key>
			<string>14.6s</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclide</key>
			<string>Ru110</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>110.918</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh111</string>
			<key>halfLife</key>
			<string>2.12s</string>
			<key>nn</key>
			<string>67</string>
			<key>nuclide</key>
			<string>Ru111</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>111.919</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.670</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh112</string>
			<key>halfLife</key>
			<string>1.75s</string>
			<key>nn</key>
			<string>68</string>
			<key>nuclide</key>
			<string>Ru112</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>112.923</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh113</string>
			<key>halfLife</key>
			<string>0.8s</string>
			<key>nn</key>
			<string>69</string>
			<key>nuclide</key>
			<string>Ru113</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>113.924</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh114</string>
			<key>halfLife</key>
			<string>0.53s</string>
			<key>nn</key>
			<string>70</string>
			<key>nuclide</key>
			<string>Ru114</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>114.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Rh115</string>
			<key>halfLife</key>
			<string>0.4s</string>
			<key>nn</key>
			<string>71</string>
			<key>nuclide</key>
			<string>Ru115</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.700</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Rh114</string>
			<key>halfLife</key>
			<string>0.4s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>115.93</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>72</string>
			<key>nuclide</key>
			<string>Ru116</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>116.935</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>73</string>
			<key>nuclide</key>
			<string>Ru117</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>117.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>74</string>
			<key>nuclide</key>
			<string>Ru118</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>44</string>
	<key>numberOfNeutrons</key>
	<string>57</string>
	<key>numberOfProtons</key>
	<string>44</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>2, 3, 4, 6, 8</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in acid, aqua regia</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.238</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ru</string>
	<key>valenceElectronPotential</key>
	<string>64</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>7</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2315</string>
		<key>pa10</key>
		<string>2538</string>
		<key>pa100</key>
		<string>2814</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4115</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3572</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>3151</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
