<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>3.50x10²</string>
	<key>abundanceSea</key>
	<string>9.05x10²</string>
	<key>atomicMass</key>
	<string>32.065</string>
	<key>atomicMassFootnote</key>
	<string>g r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>5</integer>
	<key>atomicNumber</key>
	<integer>16</integer>
	<key>atomicRadius</key>
	<string>1.09</string>
	<key>atomicVolume</key>
	<string>15.5</string>
	<key>boilingPoint</key>
	<string>444.60</string>
	<key>boilingPointFootnote</key>
	<string>(monoclinic)</string>
	<key>casRegistryNumber</key>
	<string>7704-34-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000006413</string>
	<key>conductivityElectrical</key>
	<string>0.000000000000000000000005</string>
	<key>conductivityThermal</key>
	<string>0.00269</string>
	<key>covalentRadius</key>
	<string>1.02</string>
	<key>criticalTemperature</key>
	<string>1041</string>
	<key>crossSection</key>
	<string>0.51</string>
	<key>crystalStructure</key>
	<string>Monoclinic</string>
	<key>density</key>
	<string>2.07</string>
	<key>descr</key>
	<string>Solid pale yellow non-metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>7.7</string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.299</string>
	<key>electroNegativity</key>
	<string>2.58</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3p</key>
		<string>4</string>
		<key>3s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>278.7</string>
	<key>enthalpyOfFusion</key>
	<string>1.72</string>
	<key>enthalpyOfVaporization</key>
	<string>9.62</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3p</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>16</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string>2</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>1.7175</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.37</string>
	<key>ionizationPotentialFirst</key>
	<string>10.36</string>
	<key>ionizationPotentialSecond</key>
	<string>23.33</string>
	<key>ionizationPotentialThird</key>
	<string>34.83</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4153.0640</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4162.6650</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4694.1300</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>S I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5428.6670</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5432.8150</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5453.8280</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5473.6200</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5509.7180</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5606.1510</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5639.9720</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5659.9850</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>S II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6757.1600</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>S I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+14.9</string>
	<key>meltingPoint</key>
	<string>119.6</string>
	<key>meltingPointFootnote</key>
	<string>(monoclinic)</string>
	<key>molarHeatCapacity</key>
	<string>22.75</string>
	<key>molarVolume</key>
	<string>15.5</string>
	<key>name</key>
	<string>Sulfer</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>26.028</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>10</string>
			<key>nuclideSymbol</key>
			<string>S26</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>27.019</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>18.260</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>P27</string>
			<key>halfLife</key>
			<string>21ms</string>
			<key>nn</key>
			<string>11</string>
			<key>nuclideSymbol</key>
			<string>S27</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.004</string>
			<key>zp</key>
			<string>&gt;0</string>
			<key>decayEnergy</key>
			<string>9.170</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Si27</string>
			<key>halfLife</key>
			<string>125ms</string>
			<key>nn</key>
			<string>12</string>
			<key>nuclideSymbol</key>
			<string>S28</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.230</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>P28</string>
			<key>halfLife</key>
			<string>125ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>28.9966</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>13.790</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>P29</string>
			<key>halfLife</key>
			<string>187ms</string>
			<key>nn</key>
			<string>13</string>
			<key>nuclideSymbol</key>
			<string>S29</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>29.9849</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.138</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>P30</string>
			<key>halfLife</key>
			<string>1.178s</string>
			<key>nn</key>
			<string>14</string>
			<key>nuclideSymbol</key>
			<string>S30</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>30.9796</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.396</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>P31</string>
			<key>halfLife</key>
			<string>2.572s</string>
			<key>nn</key>
			<string>15</string>
			<key>nuclideSymbol</key>
			<string>S31</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>95.02</string>
			<key>atomicMass</key>
			<string>31.9721</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>16</string>
			<key>nuclideSymbol</key>
			<string>S32</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.75</string>
			<key>atomicMass</key>
			<string>32.9715</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclideSymbol</key>
			<string>S33</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>4.21</string>
			<key>atomicMass</key>
			<string>33.9679</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclideSymbol</key>
			<string>S34</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>34.969</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.167</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl35</string>
			<key>halfLife</key>
			<string>87.32d</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclideSymbol</key>
			<string>S35</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.02</string>
			<key>atomicMass</key>
			<string>35.9671</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclideSymbol</key>
			<string>S36</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>36.9711</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.865</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl37</string>
			<key>halfLife</key>
			<string>5.05m</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>S37</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.9712</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.937</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl38</string>
			<key>halfLife</key>
			<string>170.3m</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>S38</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.9751</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.640</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl39</string>
			<key>halfLife</key>
			<string>11.5s</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>S39</string>
			<key>nuclearSpin</key>
			<string>5/2-, 3/2-, 7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>39.975</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.710</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl40</string>
			<key>halfLife</key>
			<string>8.8s</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>S40</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.98</string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;1us</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>S41</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.981</string>
			<key>zp</key>
			<string>&lt;4</string>
			<key>decayEnergy</key>
			<string>2.000</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Cl41</string>
			<key>halfLife</key>
			<string>0.56s</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>S42</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.700</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl42</string>
			<key>halfLife</key>
			<string>0.56s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.987</string>
			<key>zp</key>
			<string>40</string>
			<key>decayEnergy</key>
			<string>4.400</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Cl42</string>
			<key>halfLife</key>
			<string>220ms</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>S43</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.500</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl43</string>
			<key>halfLife</key>
			<string>220ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.988</string>
			<key>zp</key>
			<string>18</string>
			<key>decayEnergy</key>
			<string>5.100</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Cl43</string>
			<key>halfLife</key>
			<string>123ms</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>S44</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.100</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl44</string>
			<key>halfLife</key>
			<string>123ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.995</string>
			<key>zp</key>
			<string>54</string>
			<key>decayEnergy</key>
			<string>7.100</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Cl44</string>
			<key>halfLife</key>
			<string>82ms</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>S45</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.100</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Cl45</string>
			<key>halfLife</key>
			<string>82ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.999</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>S46</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.008</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>S47</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.013</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;200ns</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>S48</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.02</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>S49</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>16</string>
	<key>numberOfNeutrons</key>
	<string>16</string>
	<key>numberOfProtons</key>
	<string>16</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.00111</string>
	<key>oxidationStates</key>
	<string>±2, 4, 6</string>
	<key>period</key>
	<string>3</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0; soluble in ethanol, benzene, ethyl ether; solugle in CS₂</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>0.710</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>S</string>
	<key>valenceElectronPotential</key>
	<string>160</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>3p</key>
			<string>4</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>102</string>
		<key>pa10</key>
		<string>135</string>
		<key>pa100</key>
		<string>176</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>444</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>318</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>235</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
