<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-99</string>
	<key>abundanceCrust</key>
	<string>2x10¹</string>
	<key>abundanceSea</key>
	<string>2.4x10⁻⁴</string>
	<key>atomicMass</key>
	<string>121.760</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>51</integer>
	<key>atomicRadius</key>
	<string>1.53</string>
	<key>atomicVolume</key>
	<string>18.23</string>
	<key>boilingPoint</key>
	<string>1587</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-36-0</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000092</string>
	<key>conductivityElectrical</key>
	<string>0.0288</string>
	<key>conductivityThermal</key>
	<string>0.243</string>
	<key>covalentRadius</key>
	<string>1.4</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>5</string>
	<key>crystalStructure</key>
	<string>Rhombohedral</string>
	<key>density</key>
	<string>6.684</string>
	<key>descr</key>
	<string>Hard brittle bluish-white metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>42</string>
	<key>elasticModulusRigidity</key>
	<string>20</string>
	<key>elasticModulusYoungs</key>
	<string>55</string>
	<key>electroChemicalEquivalent</key>
	<string>1.5142</string>
	<key>electroNegativity</key>
	<string>2.05</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>3</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.55</string>
	<key>enthalpyOfAtomization</key>
	<string>263.6</string>
	<key>enthalpyOfFusion</key>
	<string>19.87</string>
	<key>enthalpyOfVaporization</key>
	<string>67.9</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5p</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>15</string>
	<key>hardnessScaleBrinnel</key>
	<string>294</string>
	<key>hardnessScaleMohs</key>
	<string>3</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>19.87</string>
	<key>heatOfVaporization</key>
	<string>77.14</string>
	<key>incompatibilities</key>
	<string>Strong oxidizers, acids, halogenated acids</string>
	<key>ionicRadius</key>
	<string>0.76</string>
	<key>ionizationPotentialFirst</key>
	<string>8.641</string>
	<key>ionizationPotentialSecond</key>
	<string>16.53</string>
	<key>ionizationPotentialThird</key>
	<string>25.3</string>
	<key>meltingPoint</key>
	<string>630.63</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.23</string>
	<key>molarVolume</key>
	<string>18.22</string>
	<key>name</key>
	<string>Antimony</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>51</string>
	<key>numberOfNeutrons</key>
	<string>71</string>
	<key>numberOfProtons</key>
	<string>51</string>
	<key>opticalReflectivity</key>
	<string>55</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>±3, 5</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.207</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Sb</string>
	<key>valenceElectronPotential</key>
	<string>57</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>5p</key>
			<string>3</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>534</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>603</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>738</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>946</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>1218</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>1585</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
