<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>2.2x10¹</string>
	<key>abundanceSea</key>
	<string>6x10⁻⁷</string>
	<key>atomicMass</key>
	<string>44.955910</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>8</integer>
	<key>atomicNumber</key>
	<integer>21</integer>
	<key>atomicRadius</key>
	<string>2.09</string>
	<key>atomicVolume</key>
	<string>15</string>
	<key>boilingPoint</key>
	<string>2836</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-20-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000012</string>
	<key>conductivityElectrical</key>
	<string>0.0177</string>
	<key>conductivityThermal</key>
	<string>0.158</string>
	<key>covalentRadius</key>
	<string>1.44</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>25</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>2.99</string>
	<key>descr</key>
	<string>Soft silvery white metal.</string>
	<key>discoverer</key>
	<string>Lars Nilson</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1879</string>
	<key>elasticModulusBulk</key>
	<string>57</string>
	<key>elasticModulusRigidity</key>
	<string>29</string>
	<key>elasticModulusYoungs</key>
	<string>74</string>
	<key>electroChemicalEquivalent</key>
	<string>0.59914</string>
	<key>electroNegativity</key>
	<string>1.36</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>1</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.5</string>
	<key>enthalpyOfAtomization</key>
	<string>343</string>
	<key>enthalpyOfFusion</key>
	<string>14.1</string>
	<key>enthalpyOfVaporization</key>
	<string>314.2</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>3</string>
	<key>hardnessScaleBrinell</key>
	<string>750</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>14.1</string>
	<key>heatOfVaporization</key>
	<string>314.2</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.745</string>
	<key>ionizationPotentialFirst</key>
	<string>6.54</string>
	<key>ionizationPotentialSecond</key>
	<string>12.8</string>
	<key>ionizationPotentialThird</key>
	<string>24.76</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4020.3870</string>
			<key>intensity</key>
			<string>900</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4023.6780</string>
			<key>intensity</key>
			<string>900</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4030.6220</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4043.8030</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4047.7970</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4054.5440</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4056.5930</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4068.6600</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Sc III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4082.3870</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4087.1500</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4132.9840</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4140.2720</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4152.3410</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4165.1870</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4238.0530</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4246.8200</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4314.0820</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4320.7450</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4324.9980</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4374.4620</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4729.2090</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4734.1090</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4737.6470</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4741.0240</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4743.8210</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4779.3540</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5064.3060</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5070.2570</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5075.8200</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5081.5610</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5083.7210</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5085.5490</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5087.1230</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5089.9300</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5096.7210</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5099.2740</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5101.1190</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5116.6480</string>
			<key>intensity</key>
			<string>14</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5210.5470</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5219.6340</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5258.3640</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5349.3420</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5356.0970</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5375.3730</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5392.0580</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5446.1950</string>
			<key>intensity</key>
			<string>12</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5482.0120</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5484.6280</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5514.2300</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5520.5190</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5526.7850</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5671.8280</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5686.8560</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5700.1860</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5706.8200</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5711.7930</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5717.3140</string>
			<key>intensity</key>
			<string>10</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5771.6300</string>
			<key>intensity</key>
			<string>14</string>
			<key>spectrum</key>
			<string>Sc IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6210.6600</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6239.8000</string>
			<key>intensity</key>
			<string>14</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6256.0100</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Sc III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6258.9000</string>
			<key>intensity</key>
			<string>11</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6305.6500</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Sc I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+295.2</string>
	<key>meltingPoint</key>
	<string>1541</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.62</string>
	<key>molarVolume</key>
	<string>15.04</string>
	<key>name</key>
	<string>Scandium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>36.015</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>15</string>
			<key>nuclideSymbol</key>
			<string>Sc36</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.003</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>16</string>
			<key>nuclideSymbol</key>
			<string>Sc37</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>37.995</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>17</string>
			<key>nuclideSymbol</key>
			<string>Sc38</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.9848</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>18</string>
			<key>nuclideSymbol</key>
			<string>Sc39</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>39.978</string>
			<key>zp</key>
			<string>0.44</string>
			<key>decayEnergy</key>
			<string>5.991</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>K39</string>
			<key>halfLife</key>
			<string>182.3ms</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclideSymbol</key>
			<string>Sc40</string>
			<key>nuclearSpin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.02</string>
			<key>decayEnergy</key>
			<string>7.279</string>
			<key>decayModes</key>
			<string>ξ + α</string>
			<key>daughterIsotopes</key>
			<string>Ar36</string>
			<key>halfLife</key>
			<string>182.3ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.320</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca40</string>
			<key>halfLife</key>
			<string>182.3ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.9693</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.495</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca41</string>
			<key>halfLife</key>
			<string>596.3ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclideSymbol</key>
			<string>Sc41</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.9655</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.426</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca42</string>
			<key>halfLife</key>
			<string>681.3ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>Sc42</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.616MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.042</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca42</string>
			<key>halfLife</key>
			<string>61.7s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5+, 6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.9612</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.221</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca43</string>
			<key>halfLife</key>
			<string>3.891h</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>Sc43</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.9594</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.653</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca44</string>
			<key>halfLife</key>
			<string>3.927h</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>Sc44</string>
			<key>nuclearSpin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.271MeV</string>
			<key>zp</key>
			<string>98.8</string>
			<key>decayEnergy</key>
			<string>0.271</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>58.6h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>1.2</string>
			<key>decayEnergy</key>
			<string>3.924</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Ca44</string>
			<key>halfLife</key>
			<string>58.6h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>44.9559</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>Sc45</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.012MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.012</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>318ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>45.9552</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.367</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti46</string>
			<key>halfLife</key>
			<string>83.79d</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>Sc46</string>
			<key>nuclearSpin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.143MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.143</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>18.75s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>46.9524</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.600</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti47</string>
			<key>halfLife</key>
			<string>3.3492d</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>Sc47</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>47.9522</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.994</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti48</string>
			<key>halfLife</key>
			<string>43.67h</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>Sc48</string>
			<key>nuclearSpin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>48.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.006</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti49</string>
			<key>halfLife</key>
			<string>57.2m</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>Sc49</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>49.9522</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.888</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti50</string>
			<key>halfLife</key>
			<string>102.5s</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>Sc50</string>
			<key>nuclearSpin</key>
			<string>5+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.257MeV</string>
			<key>zp</key>
			<string>97.5</string>
			<key>decayEnergy</key>
			<string>0.257</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>0.35s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>2+, 3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;2.5</string>
			<key>decayEnergy</key>
			<string>7.145</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti50</string>
			<key>halfLife</key>
			<string>0.35s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.9536</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.508</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti51</string>
			<key>halfLife</key>
			<string>12.4s</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>Sc51</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.957</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.010</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti52</string>
			<key>halfLife</key>
			<string>8.2s</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>Sc52</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.959</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;1us</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Sc53</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.963</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.300</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Ti54</string>
			<key>halfLife</key>
			<string>&gt;1us</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Sc54</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.97</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;1us</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Sc55</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.973</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Sc56</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.977</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Sc57</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.983</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Sc58</string>
			<key>nuclearSpin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.988</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Sc59</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>21</string>
	<key>numberOfNeutrons</key>
	<string>24</string>
	<key>numberOfProtons</key>
	<string>21</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.568</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Sc</string>
	<key>valenceElectronPotential</key>
	<string>58</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>1</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1372</string>
		<key>pa10</key>
		<string>1531</string>
		<key>pa100</key>
		<string>1733</string>
		<key>pa100Footnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>2828</string>
		<key>pa100kFootnote</key>
		<string>i</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>2340</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>1993</string>
		<key>pa1kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
