<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>5x10⁻²</string>
	<key>abundanceSea</key>
	<string>2x10⁻⁴</string>
	<key>atomicMass</key>
	<string>78.96</string>
	<key>atomicMassFootnote</key>
	<string>r</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>34</integer>
	<key>atomicRadius</key>
	<string>1.22</string>
	<key>atomicVolume</key>
	<string>16.45</string>
	<key>boilingPoint</key>
	<string>685</string>
	<key>boilingPointFootnote</key>
	<string>(gray)</string>
	<key>casRegistryNumber</key>
	<string>7440-49-2</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string>0.000000000001</string>
	<key>conductivityThermal</key>
	<string>0.0204</string>
	<key>covalentRadius</key>
	<string>1.16</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>12.2</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>4.39</string>
	<key>descr</key>
	<string>Dark gray lustrous rods or dark red crystals of non-metal</string>
	<key>discoverer</key>
	<string>Jöns Jakob Berzelius</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1817</string>
	<key>elasticModulusBulk</key>
	<string>8.3</string>
	<key>elasticModulusRigidity</key>
	<string>3.7</string>
	<key>elasticModulusYoungs</key>
	<string>10</string>
	<key>electroChemicalEquivalent</key>
	<string>0.7365</string>
	<key>electroNegativity</key>
	<string>2.55</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4p</key>
		<string>4</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>5.9</string>
	<key>enthalpyOfAtomization</key>
	<string>205.9</string>
	<key>enthalpyOfFusion</key>
	<string>6.69</string>
	<key>enthalpyOfVaporization</key>
	<string>26.3</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4p</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustable Solid</string>
	<key>group</key>
	<string>16</string>
	<key>hardnessScaleBrinell</key>
	<string>736</string>
	<key>hardnessScaleMohs</key>
	<string>2</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>6.694</string>
	<key>heatOfVaporization</key>
	<string>37.7</string>
	<key>incompatibilities</key>
	<string>Acids, strong oxidizers, chromium trioxide, potassium bromate, cadmium</string>
	<key>ionicRadius</key>
	<string>0.5</string>
	<key>ionizationPotentialFirst</key>
	<string>9.752</string>
	<key>ionizationPotentialSecond</key>
	<string>21.19</string>
	<key>ionizationPotentialThird</key>
	<string>30.82</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4175.2800</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4180.9000</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4730.7800</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Se I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4739.0300</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Se I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4742.2500</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Se I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4844.9410</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5227.5330</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5305.3470</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6055.8400</string>
			<key>intensity</key>
			<string>1000</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6444.2900</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Se II</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>-25</string>
	<key>meltingPoint</key>
	<string>220.5</string>
	<key>meltingPointFootnote</key>
	<string>(gray)</string>
	<key>molarHeatCapacity</key>
	<string>25.363</string>
	<key>molarVolume</key>
	<string>16.42</string>
	<key>name</key>
	<string>Selenium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.965</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.100</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As65</string>
			<key>halfLife</key>
			<string>&lt;50ms</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>Se65</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>65.955</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Se66</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>66.95</string>
			<key>zp</key>
			<string>0.5</string>
			<key>decayEnergy</key>
			<string>7.840</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Ge66</string>
			<key>halfLife</key>
			<string>60ms</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Se67</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.150</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As67</string>
			<key>halfLife</key>
			<string>60ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>67.942</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.700</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As68</string>
			<key>halfLife</key>
			<string>35.5s</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Se68</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.9396</string>
			<key>zp</key>
			<string>0.05</string>
			<key>decayEnergy</key>
			<string>3.390</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Ge68</string>
			<key>halfLife</key>
			<string>27.4s</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Se69</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.780</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As69</string>
			<key>halfLife</key>
			<string>27.4s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>69.934</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.400</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As70</string>
			<key>halfLife</key>
			<string>41.1m</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Se70</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.932</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.800</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As71</string>
			<key>halfLife</key>
			<string>4.74m</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Se71</string>
			<key>nuclearSpin</key>
			<string>5/2-, 3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.9271</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.335</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As72</string>
			<key>halfLife</key>
			<string>8.4d</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Se72</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.9268</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.740</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As73</string>
			<key>halfLife</key>
			<string>7.15h</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Se73</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.026MeV</string>
			<key>zp</key>
			<string>72.6</string>
			<key>decayEnergy</key>
			<string>0.026</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>39.8m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>27.4</string>
			<key>decayEnergy</key>
			<string>2.766</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As73</string>
			<key>halfLife</key>
			<string>39.8m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>0.89</string>
			<key>atomicMass</key>
			<string>73.9225</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Se74</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9225</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.864</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>As75</string>
			<key>halfLife</key>
			<string>119.779d</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Se75</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>9.36</string>
			<key>atomicMass</key>
			<string>75.9192</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Se76</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>7.63</string>
			<key>atomicMass</key>
			<string>76.9199</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Se77</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.161MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.162</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>17.36s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>23.78</string>
			<key>atomicMass</key>
			<string>77.9173</string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Se78</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.9185</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.151</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br79</string>
			<key>halfLife</key>
			<string>1.13E⁶y</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Se79</string>
			<key>nuclearSpin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.096MeV</string>
			<key>zp</key>
			<string>99.94</string>
			<key>decayEnergy</key>
			<string>0.096</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>3.92m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.06</string>
			<key>decayEnergy</key>
			<string>0.247</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br79</string>
			<key>halfLife</key>
			<string>3.92m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>49.61</string>
			<key>atomicMass</key>
			<string>79.9165</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Se80</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.918</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.585</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br81</string>
			<key>halfLife</key>
			<string>18.45m</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclideSymbol</key>
			<string>Se81</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.103MeV</string>
			<key>zp</key>
			<string>99.95</string>
			<key>decayEnergy</key>
			<string>0.103</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>57.28m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.05</string>
			<key>decayEnergy</key>
			<string>1.688</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br81</string>
			<key>halfLife</key>
			<string>57.28m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>8.73</string>
			<key>atomicMass</key>
			<string>81.9167</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.995</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Kr82</string>
			<key>halfLife</key>
			<string>1.08E²⁰y</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclideSymbol</key>
			<string>Se82</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.9191</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.668</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br83</string>
			<key>halfLife</key>
			<string>22.3m</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclideSymbol</key>
			<string>Se83</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.228MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.896</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br83</string>
			<key>halfLife</key>
			<string>70.1s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.9185</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.830</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br84</string>
			<key>halfLife</key>
			<string>3.1m</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclideSymbol</key>
			<string>Se84</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.9222</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.182</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br85</string>
			<key>halfLife</key>
			<string>31.7s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclideSymbol</key>
			<string>Se85</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.9243</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.099</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br86</string>
			<key>halfLife</key>
			<string>15.3s</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclideSymbol</key>
			<string>Se86</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9285</string>
			<key>zp</key>
			<string>0.36</string>
			<key>decayEnergy</key>
			<string>0.990</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Br86</string>
			<key>halfLife</key>
			<string>5.29s</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclideSymbol</key>
			<string>Se87</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.280</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br87</string>
			<key>halfLife</key>
			<string>5.29s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9314</string>
			<key>zp</key>
			<string>0.99</string>
			<key>decayEnergy</key>
			<string>1.910</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Br87</string>
			<key>halfLife</key>
			<string>1.53s</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclideSymbol</key>
			<string>Se88</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.850</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br88</string>
			<key>halfLife</key>
			<string>1.53s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.936</string>
			<key>zp</key>
			<string>7.8</string>
			<key>decayEnergy</key>
			<string>3.100</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Br88</string>
			<key>halfLife</key>
			<string>0.41s</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclideSymbol</key>
			<string>Se89</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.000</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br89</string>
			<key>halfLife</key>
			<string>0.41s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.939</string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclideSymbol</key>
			<string>Se90</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.945</string>
			<key>zp</key>
			<string>21</string>
			<key>decayEnergy</key>
			<string>5.700</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Br90</string>
			<key>halfLife</key>
			<string>0.27s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclideSymbol</key>
			<string>Se91</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.700</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Br91</string>
			<key>halfLife</key>
			<string>0.27s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.949</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>58</string>
			<key>nuclideSymbol</key>
			<string>Se92</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>59</string>
			<key>nuclideSymbol</key>
			<string>Se93</string>
			<key>nuclearSpin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>60</string>
			<key>nuclideSymbol</key>
			<string>Se94</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>34</string>
	<key>numberOfNeutrons</key>
	<string>45</string>
	<key>numberOfProtons</key>
	<string>34</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string>1.000895</string>
	<key>oxidationStates</key>
	<string>±2, 4, 6</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0, ethanol; soluble in ethyl ether</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>0.321</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Se</string>
	<key>valenceElectronPotential</key>
	<string>120</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4p</key>
			<string>4</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>227</string>
		<key>pa10</key>
		<string>279</string>
		<key>pa100</key>
		<string>344</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>685</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>540</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>431</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
