<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-37.4</string>
	<key>abundanceCrust</key>
	<string>2.3</string>
	<key>abundanceSea</key>
	<string>4x10⁻⁶</string>
	<key>atomicMass</key>
	<string>118.710</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>7</integer>
	<key>atomicNumber</key>
	<integer>50</integer>
	<key>atomicRadius</key>
	<string>1.72</string>
	<key>atomicVolume</key>
	<string>16.3</string>
	<key>boilingPoint</key>
	<string>2602</string>
	<key>boilingPointFootnote</key>
	<string>(white)</string>
	<key>casRegistryNumber</key>
	<string>7440-31-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.000023</string>
	<key>conductivityElectrical</key>
	<string>0.0917</string>
	<key>conductivityThermal</key>
	<string>0.666</string>
	<key>covalentRadius</key>
	<string>1.41</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>0.63</string>
	<key>crystalStructure</key>
	<string>Tetragonal</string>
	<key>density</key>
	<string>7.265</string>
	<key>descr</key>
	<string>Very malleable white metal.</string>
	<key>discoverer</key>
	<string>Known to the ancients</string>
	<key>discoveryLocation</key>
	<string>?</string>
	<key>discoveryYear</key>
	<string>Known to the ancients</string>
	<key>elasticModulusBulk</key>
	<string>58</string>
	<key>elasticModulusRigidity</key>
	<string>18</string>
	<key>elasticModulusYoungs</key>
	<string>50</string>
	<key>electroChemicalEquivalent</key>
	<string>1.1071</string>
	<key>electroNegativity</key>
	<string>1.96</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.42</string>
	<key>enthalpyOfAtomization</key>
	<string>301.3</string>
	<key>enthalpyOfFusion</key>
	<string>7.03</string>
	<key>enthalpyOfVaporization</key>
	<string>290.4</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5p</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>14</string>
	<key>hardnessScaleBrinnel</key>
	<string>51</string>
	<key>hardnessScaleMohs</key>
	<string>1.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>7.029</string>
	<key>heatOfVaporization</key>
	<string>295.8</string>
	<key>incompatibilities</key>
	<string>Chlorine, turpentine, acids, alkalis</string>
	<key>ionicRadius</key>
	<string>0.69</string>
	<key>ionizationPotentialFirst</key>
	<string>7.344</string>
	<key>ionizationPotentialSecond</key>
	<string>14.632</string>
	<key>ionizationPotentialThird</key>
	<string>30.502</string>
	<key>meltingPoint</key>
	<string>231.93</string>
	<key>meltingPointFootnote</key>
	<string>(white)</string>
	<key>molarHeatCapacity</key>
	<string>27.112</string>
	<key>molarVolume</key>
	<string>16.31</string>
	<key>name</key>
	<string>Tin</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>50</string>
	<key>numberOfNeutrons</key>
	<string>69</string>
	<key>numberOfProtons</key>
	<string>50</string>
	<key>opticalReflectivity</key>
	<string>54</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4, 2</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Metal</string>
	<key>specificHeat</key>
	<string>0.228</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Sn</string>
	<key>valenceElectronPotential</key>
	<string>83.5</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>5p</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1224</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>1384</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1582</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>1834</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2165</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>2620</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
