<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+170000</string>
	<key>abundanceCrust</key>
	<string>1.2</string>
	<key>abundanceSea</key>
	<string>1.4x10⁻⁷</string>
	<key>atomicMass</key>
	<string>158.92534</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>65</integer>
	<key>atomicRadius</key>
	<string>2.51</string>
	<key>atomicVolume</key>
	<string>19.2</string>
	<key>boilingPoint</key>
	<string>3230</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-27-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000118</string>
	<key>conductivityElectrical</key>
	<string>0.00889</string>
	<key>conductivityThermal</key>
	<string>0.111</string>
	<key>covalentRadius</key>
	<string>1.59</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>30</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>8.23</string>
	<key>descr</key>
	<string>Silvery rare earth metal.</string>
	<key>discoverer</key>
	<string>Carl Mosander</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1843</string>
	<key>elasticModulusBulk</key>
	<string>38.7</string>
	<key>elasticModulusRigidity</key>
	<string>22</string>
	<key>elasticModulusYoungs</key>
	<string>56</string>
	<key>electroChemicalEquivalent</key>
	<string>1.9765</string>
	<key>electroNegativity</key>
	<string>1.2</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>9</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3</string>
	<key>enthalpyOfAtomization</key>
	<string>314</string>
	<key>enthalpyOfFusion</key>
	<string>10.8</string>
	<key>enthalpyOfVaporization</key>
	<string>330.9</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4f</key>
			<string>9</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>677</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string>863</string>
	<key>heatOfFusion</key>
	<string>10.8</string>
	<key>heatOfVaporization</key>
	<string>330.9</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.923</string>
	<key>ionizationPotentialFirst</key>
	<string>5.86</string>
	<key>ionizationPotentialSecond</key>
	<string>11.525</string>
	<key>ionizationPotentialThird</key>
	<string>21.91</string>
	<key>meltingPoint</key>
	<string>1356</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>28.91</string>
	<key>molarVolume</key>
	<string>19.31</string>
	<key>name</key>
	<string>Terbium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>65</string>
	<key>numberOfNeutrons</key>
	<string>94</string>
	<key>numberOfProtons</key>
	<string>65</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3, 4</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Lanthanide</string>
	<key>specificHeat</key>
	<string>0.182</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Tb</string>
	<key>valenceElectronPotential</key>
	<string></string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4f</key>
			<string>9</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1516.1</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>1706.1</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>1928</string>
		<key>pa100Footnote</key>
		<string>i</string>
		<key>pa1k</key>
		<string>2232</string>
		<key>pa1kFootnote</key>
		<string>i</string>
		<key>pa10k</key>
		<string>2640</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>3218</string>
		<key>pa100kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
