<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string></string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>97.9072</string>
	<key>atomicMassFootnote</key>
	<string>a</string>
	<key>atomicMassKnownAccurately</key>
	<false/>
	<key>atomicNumber</key>
	<integer>43</integer>
	<key>atomicRadius</key>
	<string>1.95</string>
	<key>atomicVolume</key>
	<string>8.5</string>
	<key>boilingPoint</key>
	<string>4265</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-26-8</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string></string>
	<key>conductivityElectrical</key>
	<string>0.067</string>
	<key>conductivityThermal</key>
	<string>0.506</string>
	<key>covalentRadius</key>
	<string>1.27</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string></string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>11</string>
	<key>descr</key>
	<string>First artificially created element.</string>
	<key>discoverer</key>
	<string>Carlo Perrier, Emillo Segre</string>
	<key>discoveryLocation</key>
	<string>Italy</string>
	<key>discoveryYear</key>
	<string>1937</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string></string>
	<key>elasticModulusYoungs</key>
	<string></string>
	<key>electroChemicalEquivalent</key>
	<string>0.51651</string>
	<key>electroNegativity</key>
	<string></string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>5</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>1.9</string>
	<key>enthalpyOfAtomization</key>
	<string>649</string>
	<key>enthalpyOfFusion</key>
	<string>23.01</string>
	<key>enthalpyOfVaporization</key>
	<string>660</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>6</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>7</string>
	<key>hardnessScaleBrinell</key>
	<string></string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>24</string>
	<key>heatOfVaporization</key>
	<string>660</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.56</string>
	<key>ionizationPotentialFirst</key>
	<string>7.28</string>
	<key>ionizationPotentialSecond</key>
	<string>15.26</string>
	<key>ionizationPotentialThird</key>
	<string>29.54</string>
	<key>magneticSusceptibility</key>
	<string>+115</string>
	<key>meltingPoint</key>
	<string>2157</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string></string>
	<key>molarVolume</key>
	<string>8.51</string>
	<key>name</key>
	<string>Technetium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Tc85</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.943</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Tc86</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Tc87</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.933</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo88</string>
			<key>halfLife</key>
			<string>6.4s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Tc88</string>
			<key>spin</key>
			<string>6, 7, 8</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo88</string>
			<key>halfLife</key>
			<string>5.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>2, 3</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.928</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.510</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo89</string>
			<key>halfLife</key>
			<string>12.8s</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Tc89</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.510</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo89</string>
			<key>halfLife</key>
			<string>12.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.924</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.100</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo90</string>
			<key>halfLife</key>
			<string>49.2s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Tc90</string>
			<key>spin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.500MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.600</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo90</string>
			<key>halfLife</key>
			<string>8.7s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.918</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.220</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo91</string>
			<key>halfLife</key>
			<string>3.14m</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Tc91</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.350MeV</string>
			<key>br</key>
			<string>&lt;1</string>
			<key>decayEnergy</key>
			<string>0.350</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Tc91</string>
			<key>halfLife</key>
			<string>3.3m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.570</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo91</string>
			<key>halfLife</key>
			<string>3.3m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9153</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.870</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo92</string>
			<key>halfLife</key>
			<string>4.23m</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Tc92</string>
			<key>spin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.9103</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.201</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo93</string>
			<key>halfLife</key>
			<string>2.75h</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Tc93</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.391MeV</string>
			<key>br</key>
			<string>76.6</string>
			<key>decayEnergy</key>
			<string>0.392</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>43.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>23.4</string>
			<key>decayEnergy</key>
			<string>3.593</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo93</string>
			<key>halfLife</key>
			<string>43.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>2.185MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.185</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>10.2us</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>17/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9097</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.256</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo94</string>
			<key>halfLife</key>
			<string>293m</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Tc94</string>
			<key>spin</key>
			<string>7+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.075MeV</string>
			<key>br</key>
			<string>&lt;0.1</string>
			<key>decayEnergy</key>
			<string>0.075</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Tc94</string>
			<key>halfLife</key>
			<string>52m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.331</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo94</string>
			<key>halfLife</key>
			<string>52m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9077</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.691</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo95</string>
			<key>halfLife</key>
			<string>20h</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Tc95</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.038MeV</string>
			<key>br</key>
			<string>6.12</string>
			<key>decayEnergy</key>
			<string>1.730</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo95	9</string>
			<key>halfLife</key>
			<string>61d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>2.88</string>
			<key>decayEnergy</key>
			<string>0.039</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>61d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.9079</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.973</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo96</string>
			<key>halfLife</key>
			<string>4.28d</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Tc96</string>
			<key>spin</key>
			<string>7+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.034MeV</string>
			<key>br</key>
			<string>98</string>
			<key>decayEnergy</key>
			<string>0.034</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>51.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>4+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string>3.007</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo96</string>
			<key>halfLife</key>
			<string>51.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9064</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.320</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo97</string>
			<key>halfLife</key>
			<string>2600000y</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Tc97</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.097MeV</string>
			<key>br</key>
			<string>&lt;0.34</string>
			<key>decayEnergy</key>
			<string>0.417</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo97</string>
			<key>halfLife</key>
			<string>90.1d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.097</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>90.1d</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9072</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.796</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru98</string>
			<key>halfLife</key>
			<string>4200000y</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Tc98</string>
			<key>spin</key>
			<string>6+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.9063</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.294</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru99</string>
			<key>halfLife</key>
			<string>211100y</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Tc99</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.143MeV</string>
			<key>br</key>
			<string>0.0037</string>
			<key>decayEnergy</key>
			<string>0.437</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru99</string>
			<key>halfLife</key>
			<string>6.01h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.143</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>6.01h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.9077</string>
			<key>br</key>
			<string>0.0018</string>
			<key>decayEnergy</key>
			<string>0.168</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Mo100</string>
			<key>halfLife</key>
			<string>15.8s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Tc100</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.202</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru100</string>
			<key>halfLife</key>
			<string>15.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.9073</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.614</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru101</string>
			<key>halfLife</key>
			<string>14.22m</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Tc101</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.9092</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.530</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru102</string>
			<key>halfLife</key>
			<string>5.28s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Tc102</string>
			<key>spin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>br</key>
			<string>98</string>
			<key>decayEnergy</key>
			<string>4.530</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru102</string>
			<key>halfLife</key>
			<string>4.35m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>4, 5</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>2</string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>4.35m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.9092</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.660</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru103</string>
			<key>halfLife</key>
			<string>54.2s</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Tc103</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.9114</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.600</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru104</string>
			<key>halfLife</key>
			<string>18.3m</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Tc104</string>
			<key>spin</key>
			<string>3+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.9117</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.640</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru105</string>
			<key>halfLife</key>
			<string>7.6m</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclide</key>
			<string>Tc105</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.9144</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.547</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru106</string>
			<key>halfLife</key>
			<string>35.6s</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclide</key>
			<string>Tc106</string>
			<key>spin</key>
			<string>1, 2</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>106.915</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.820</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru107</string>
			<key>halfLife</key>
			<string>21.2s</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclide</key>
			<string>Tc107</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>107.918</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.720</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru108</string>
			<key>halfLife</key>
			<string>5.17s</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclide</key>
			<string>Tc108</string>
			<key>spin</key>
			<string>2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>108.92</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.990</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru109</string>
			<key>halfLife</key>
			<string>0.87s</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclide</key>
			<string>Tc109</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>109.923</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.800</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru110</string>
			<key>halfLife</key>
			<string>0.92s</string>
			<key>nn</key>
			<string>67</string>
			<key>nuclide</key>
			<string>Tc110</string>
			<key>spin</key>
			<string>1+, 2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>110.925</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.000</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru111</string>
			<key>halfLife</key>
			<string>0.3s</string>
			<key>nn</key>
			<string>68</string>
			<key>nuclide</key>
			<string>Tc111</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>111.929</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>10.000</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru112</string>
			<key>halfLife</key>
			<string>0.28s</string>
			<key>nn</key>
			<string>69</string>
			<key>nuclide</key>
			<string>Tc112</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>112.931</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.200</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ru113</string>
			<key>halfLife</key>
			<string>130ms</string>
			<key>nn</key>
			<string>70</string>
			<key>nuclide</key>
			<string>Tc113</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>113.936</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>71</string>
			<key>nuclide</key>
			<string>Tc114</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>114.938</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>72</string>
			<key>nuclide</key>
			<string>Tc115</string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>43</string>
	<key>numberOfNeutrons</key>
	<string>55</string>
	<key>numberOfProtons</key>
	<string>43</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>7</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string></string>
	<key>standardCondition</key>
	<string>Synthetic</string>
	<key>symbol</key>
	<string>Tc</string>
	<key>valenceElectronPotential</key>
	<string>180</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>6</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>1</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2454</string>
		<key>pa10</key>
		<string>2725</string>
		<key>pa100</key>
		<string>3051</string>
		<key>pa100Footnote</key>
		<string>e</string>
		<key>pa100k</key>
		<string>4621</string>
		<key>pa100kFootnote</key>
		<string>e</string>
		<key>pa10Footnote</key>
		<string>e</string>
		<key>pa10k</key>
		<string>3961</string>
		<key>pa10kFootnote</key>
		<string>e</string>
		<key>pa1Footnote</key>
		<string>e</string>
		<key>pa1k</key>
		<string>3453</string>
		<key>pa1kFootnote</key>
		<string>e</string>
	</dict>
</dict>
</plist>
