<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>-38</string>
	<key>abundanceCrust</key>
	<string>1x10⁻³</string>
	<key>abundanceSea</key>
	<string></string>
	<key>atomicMass</key>
	<string>127.60</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>52</integer>
	<key>atomicRadius</key>
	<string>1.42</string>
	<key>atomicVolume</key>
	<string>20.5</string>
	<key>boilingPoint</key>
	<string>988</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>13494-80-9</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00001675</string>
	<key>conductivityElectrical</key>
	<string>0.000002</string>
	<key>conductivityThermal</key>
	<string>0.0235</string>
	<key>covalentRadius</key>
	<string>1.36</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>4.7</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>6.24</string>
	<key>descr</key>
	<string>Tasteless, colorless, odorless and extremely flammable gas.</string>
	<key>discoverer</key>
	<string>Franz Müller von Reichenstein</string>
	<key>discoveryLocation</key>
	<string>Romania</string>
	<key>discoveryYear</key>
	<string>1782</string>
	<key>elasticModulusBulk</key>
	<string>65</string>
	<key>elasticModulusRigidity</key>
	<string>16</string>
	<key>elasticModulusYoungs</key>
	<string>43</string>
	<key>electroChemicalEquivalent</key>
	<string>1.1902</string>
	<key>electroNegativity</key>
	<string>2.1</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>4</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.95</string>
	<key>enthalpyOfAtomization</key>
	<string>190.4</string>
	<key>enthalpyOfFusion</key>
	<string>17.49</string>
	<key>enthalpyOfVaporization</key>
	<string>50.6</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5p</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustible Solid</string>
	<key>group</key>
	<string>16</string>
	<key>hardnessScaleBrinell</key>
	<string>180</string>
	<key>hardnessScaleMohs</key>
	<string>2.25</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>17.49</string>
	<key>heatOfVaporization</key>
	<string>52.55</string>
	<key>incompatibilities</key>
	<string>Oxidizers, chlorine, cadmium</string>
	<key>ionicRadius</key>
	<string>0.97</string>
	<key>ionizationPotentialFirst</key>
	<string>9.009</string>
	<key>ionizationPotentialSecond</key>
	<string>18.6</string>
	<key>ionizationPotentialThird</key>
	<string>27.96</string>
	<key>meltingPoint</key>
	<string>449.51</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.73</string>
	<key>molarVolume</key>
	<string>20.42</string>
	<key>name</key>
	<string>Tellurium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>52</string>
	<key>numberOfNeutrons</key>
	<string>76</string>
	<key>numberOfProtons</key>
	<string>52</string>
	<key>opticalReflectivity</key>
	<string>50</string>
	<key>opticalRefractiveIndex</key>
	<string>1.000991</string>
	<key>oxidationStates</key>
	<string>±2, 4, 6</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>insoluble in H₂0, benzene, CS₂</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Non Metal</string>
	<key>specificHeat</key>
	<string>0.202</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Te</string>
	<key>valenceElectronPotential</key>
	<string>59</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
		<dict>
			<key>5p</key>
			<string>4</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>502</string>
		<key>pa100Footnote</key>
		<string>e</string>
		<key>pa1k</key>
		<string>615</string>
		<key>pa1kFootnote</key>
		<string>e</string>
		<key>pa10k</key>
		<string>768.8</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>992.4</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
