<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+97</string>
	<key>abundanceCrust</key>
	<string>9.6</string>
	<key>abundanceSea</key>
	<string>1x10⁻⁶</string>
	<key>atomicMass</key>
	<string>232.0381</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>90</integer>
	<key>atomicRadius</key>
	<string></string>
	<key>atomicVolume</key>
	<string>19.9</string>
	<key>boilingPoint</key>
	<string>4788</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-29-1</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000125</string>
	<key>conductivityElectrical</key>
	<string>0.0653</string>
	<key>conductivityThermal</key>
	<string>0.54</string>
	<key>covalentRadius</key>
	<string>1.65</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>74</string>
	<key>crystalStructure</key>
	<string>CubicFace</string>
	<key>density</key>
	<string>11.7</string>
	<key>descr</key>
	<string>Soft silvery radioactive metal.</string>
	<key>discoverer</key>
	<string>Jöns Jakob Berzelius</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1828</string>
	<key>elasticModulusBulk</key>
	<string>54</string>
	<key>elasticModulusRigidity</key>
	<string>31</string>
	<key>elasticModulusYoungs</key>
	<string>79</string>
	<key>electroChemicalEquivalent</key>
	<string>2.1643</string>
	<key>electroNegativity</key>
	<string>1.3</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6d</key>
		<string>2</string>
		<key>6p</key>
		<string>6</string>
		<key>6s</key>
		<string>2</string>
		<key>7s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.41</string>
	<key>enthalpyOfAtomization</key>
	<string>565</string>
	<key>enthalpyOfFusion</key>
	<string>15.65</string>
	<key>enthalpyOfVaporization</key>
	<string>543.9</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>6d</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>400</string>
	<key>hardnessScaleMohs</key>
	<string>3</string>
	<key>hardnessScaleVickers</key>
	<string>350</string>
	<key>heatOfFusion</key>
	<string>16.1</string>
	<key>heatOfVaporization</key>
	<string>514.4</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.972</string>
	<key>ionizationPotentialFirst</key>
	<string>6.08</string>
	<key>ionizationPotentialSecond</key>
	<string>11.504</string>
	<key>ionizationPotentialThird</key>
	<string>20.003</string>
	<key>meltingPoint</key>
	<string>1750</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.230</string>
	<key>molarVolume</key>
	<string>19.8</string>
	<key>name</key>
	<string>Thorium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>90</string>
	<key>numberOfNeutrons</key>
	<string>142</string>
	<key>numberOfProtons</key>
	<string>90</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4</string>
	<key>period</key>
	<string>7</string>
	<key>qualitativeSolubility</key>
	<string>soluble in acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Actinide</string>
	<key>specificHeat</key>
	<string>0.113</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Th</string>
	<key>valenceElectronPotential</key>
	<string>59.3</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>6d</key>
			<string>2</string>
		</dict>
		<dict>
			<key>7s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2360</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>2634</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>2975</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>3410</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3986</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4782</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
