<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>5.65x10³</string>
	<key>abundanceSea</key>
	<string>1x10⁻³</string>
	<key>atomicMass</key>
	<string>47.867</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>22</integer>
	<key>atomicRadius</key>
	<string>2.0</string>
	<key>atomicVolume</key>
	<string>10.64</string>
	<key>boilingPoint</key>
	<string>3287</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-32-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000841</string>
	<key>conductivityElectrical</key>
	<string>0.0234</string>
	<key>conductivityThermal</key>
	<string>0.219</string>
	<key>covalentRadius</key>
	<string>1.32</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>6.1</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>4.506</string>
	<key>descr</key>
	<string>Pure titanium is a lustrous white metal, as strong as steel, 45% lighter, 60%heavieer than aluminum, and twice as strong as aluminum.</string>
	<key>discoverer</key>
	<string>William Gregor</string>
	<key>discoveryLocation</key>
	<string>England</string>
	<key>discoveryYear</key>
	<string>1791</string>
	<key>elasticModulusBulk</key>
	<string>110</string>
	<key>elasticModulusRigidity</key>
	<string>44</string>
	<key>elasticModulusYoungs</key>
	<string>116</string>
	<key>electroChemicalEquivalent</key>
	<string>0.4468</string>
	<key>electroNegativity</key>
	<string>1.54</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>2</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.33</string>
	<key>enthalpyOfAtomization</key>
	<string>468.6</string>
	<key>enthalpyOfFusion</key>
	<string>15.48</string>
	<key>enthalpyOfVaporization</key>
	<string>429</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>4</string>
	<key>hardnessScaleBrinell</key>
	<string>716</string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string>970</string>
	<key>heatOfFusion</key>
	<string>15.4</string>
	<key>heatOfVaporization</key>
	<string>421</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.605</string>
	<key>ionizationPotentialFirst</key>
	<string>6.82</string>
	<key>ionizationPotentialSecond</key>
	<string>13.58</string>
	<key>ionizationPotentialThird</key>
	<string>27.491</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4024.5710</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4030.5110</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4055.0110</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4060.2620</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4064.2090</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4065.0950</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4078.4700</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4082.4550</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4112.7080</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4186.1170</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4263.1330</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4274.5880</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4282.6980</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4286.0030</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4287.4020</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4289.0700</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4290.9290</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4295.7480</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4298.6650</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4299.2020</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4299.6290</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4300.5540</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4301.0790</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4305.9070</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4314.8000</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4318.6290</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4325.1260</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4393.9220</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4395.0040</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4417.2730</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4427.0980</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4449.1430</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4450.8940</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4453.3120</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4453.6980</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4455.3170</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4457.4260</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4465.8050</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4471.2360</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4481.2580</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4489.0870</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4496.1450</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4512.7330</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4518.0210</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4522.7960</string>
			<key>intensity</key>
			<string>130</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4527.3050</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4533.2390</string>
			<key>intensity</key>
			<string>800</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4534.7750</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4535.5670</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4535.9180</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4536.0390</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4544.6870</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4548.7630</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4549.8400</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ti III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4552.4530</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4555.4830</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4572.2000</string>
			<key>intensity</key>
			<string>15</string>
			<key>spectrum</key>
			<string>Ti III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4617.2680</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4623.0970</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4629.3360</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4639.3600</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4639.6600</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4639.9390</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4656.4680</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4667.5840</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4681.9080</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4691.3310</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4698.7600</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4758.1180</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4759.2690</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4820.4100</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4840.8730</string>
			<key>intensity</key>
			<string>60</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4856.0100</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4868.2590</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4870.1270</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4885.0810</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4899.9080</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4913.6150</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4981.7300</string>
			<key>intensity</key>
			<string>700</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4991.0660</string>
			<key>intensity</key>
			<string>600</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4999.5010</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5000.9880</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5007.2060</string>
			<key>intensity</key>
			<string>500</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5013.2810</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5014.1860</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5014.2750</string>
			<key>intensity</key>
			<string>300</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5016.1600</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5020.0240</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5022.8660</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5024.8430</string>
			<key>intensity</key>
			<string>70</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5025.5690</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5035.9020</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5036.4630</string>
			<key>intensity</key>
			<string>110</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5038.3960</string>
			<key>intensity</key>
			<string>90</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5039.9550</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5064.6510</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5113.4390</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5120.4150</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5145.4590</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5147.4770</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5152.1840</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5173.7400</string>
			<key>intensity</key>
			<string>140</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5192.9690</string>
			<key>intensity</key>
			<string>150</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5210.3840</string>
			<key>intensity</key>
			<string>200</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5224.3040</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5224.9330</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5278.1200</string>
			<key>intensity</key>
			<string>17</string>
			<key>spectrum</key>
			<string>Ti III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5398.9300</string>
			<key>intensity</key>
			<string>20</string>
			<key>spectrum</key>
			<string>Ti IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5512.5230</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5514.3430</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5514.5310</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5644.1320</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5662.1470</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5866.4480</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5899.2910</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5953.1560</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5965.8240</string>
			<key>intensity</key>
			<string>25</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5978.5380</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5999.0080</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6246.6500</string>
			<key>intensity</key>
			<string>17</string>
			<key>spectrum</key>
			<string>Ti IV</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6258.0990</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6258.7050</string>
			<key>intensity</key>
			<string>50</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6261.0960</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Ti I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6621.5800</string>
			<key>intensity</key>
			<string>18</string>
			<key>spectrum</key>
			<string>Ti III</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6667.9900</string>
			<key>intensity</key>
			<string>18</string>
			<key>spectrum</key>
			<string>Ti III</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+151</string>
	<key>meltingPoint</key>
	<string>1668</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.060</string>
	<key>molarVolume</key>
	<string>10.64</string>
	<key>name</key>
	<string>Titanium</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>38.01</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>16</string>
			<key>nuclideSymbol</key>
			<string>Ti38</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>39.001</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>26ms</string>
			<key>nn</key>
			<string>17</string>
			<key>nuclideSymbol</key>
			<string>Ti39</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>39.99</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.680</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc40</string>
			<key>halfLife</key>
			<string>50ms</string>
			<key>nn</key>
			<string>18</string>
			<key>nuclideSymbol</key>
			<string>Ti40</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.140</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Ca39</string>
			<key>halfLife</key>
			<string>50ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>40.9831</string>
			<key>zp</key>
			<string>~100</string>
			<key>decayEnergy</key>
			<string>11.840</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Ca40</string>
			<key>halfLife</key>
			<string>80ms</string>
			<key>nn</key>
			<string>19</string>
			<key>nuclideSymbol</key>
			<string>Ti41</string>
			<key>nuclearSpin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>12.930</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc41</string>
			<key>halfLife</key>
			<string>80ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>41.973</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.000</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc42</string>
			<key>halfLife</key>
			<string>199ms</string>
			<key>nn</key>
			<string>20</string>
			<key>nuclideSymbol</key>
			<string>Ti42</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>42.9685</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.867</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc43</string>
			<key>halfLife</key>
			<string>509ms</string>
			<key>nn</key>
			<string>21</string>
			<key>nuclideSymbol</key>
			<string>Ti43</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>43.9597</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.268</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc44</string>
			<key>halfLife</key>
			<string>63y</string>
			<key>nn</key>
			<string>22</string>
			<key>nuclideSymbol</key>
			<string>Ti44</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>44.9581</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.062</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sc45</string>
			<key>halfLife</key>
			<string>184.8m</string>
			<key>nn</key>
			<string>23</string>
			<key>nuclideSymbol</key>
			<string>Ti45</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>8</string>
			<key>atomicMass</key>
			<string>45.9526</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>24</string>
			<key>nuclideSymbol</key>
			<string>Ti46</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>7.3</string>
			<key>atomicMass</key>
			<string>46.9518</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>25</string>
			<key>nuclideSymbol</key>
			<string>Ti47</string>
			<key>nuclearSpin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>73.8</string>
			<key>atomicMass</key>
			<string>47.948</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>26</string>
			<key>nuclideSymbol</key>
			<string>Ti48</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>5.5</string>
			<key>atomicMass</key>
			<string>48.9479</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclideSymbol</key>
			<string>Ti49</string>
			<key>nuclearSpin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>5.4</string>
			<key>atomicMass</key>
			<string>49.9448</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclideSymbol</key>
			<string>Ti50</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>50.9466</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.471</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>V51</string>
			<key>halfLife</key>
			<string>5.76m</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclideSymbol</key>
			<string>Ti51</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>51.9469</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.973</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>V52</string>
			<key>halfLife</key>
			<string>1.7m</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclideSymbol</key>
			<string>Ti52</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>52.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.020</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>V53</string>
			<key>halfLife</key>
			<string>32.7s</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclideSymbol</key>
			<string>Ti53</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.951</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.120</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>V54</string>
			<key>halfLife</key>
			<string>&gt;1us</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclideSymbol</key>
			<string>Ti54</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.955</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>320ms</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclideSymbol</key>
			<string>Ti55</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.958</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>160ms</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclideSymbol</key>
			<string>Ti56</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.96</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>180ms</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclideSymbol</key>
			<string>Ti57</string>
			<key>nuclearSpin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.966</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.800</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>V58</string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclideSymbol</key>
			<string>Ti58</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.972</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>37</string>
			<key>nuclideSymbol</key>
			<string>Ti59</string>
			<key>nuclearSpin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.976</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Ti60</string>
			<key>nuclearSpin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.982</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Ti61</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>22</string>
	<key>numberOfNeutrons</key>
	<string>26</string>
	<key>numberOfProtons</key>
	<string>22</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.523</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Ti</string>
	<key>valenceElectronPotential</key>
	<string>95.2</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>3d</key>
			<string>2</string>
		</dict>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1709</string>
		<key>pa10</key>
		<string>1898</string>
		<key>pa100</key>
		<string>2130</string>
		<key>pa100Footnote</key>
		<string>e</string>
		<key>pa100k</key>
		<string>3285</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2791</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2419</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
