<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+24700</string>
	<key>abundanceCrust</key>
	<string>5.2x10⁻¹</string>
	<key>abundanceSea</key>
	<string>1.7x10⁻⁷</string>
	<key>atomicMass</key>
	<string>168.93421</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>69</integer>
	<key>atomicRadius</key>
	<string>2.42</string>
	<key>atomicVolume</key>
	<string>18.1</string>
	<key>boilingPoint</key>
	<string>1950</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-30-4</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000116</string>
	<key>conductivityElectrical</key>
	<string>0.015</string>
	<key>conductivityThermal</key>
	<string>0.168</string>
	<key>covalentRadius</key>
	<string>1.56</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>115</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>9.32</string>
	<key>descr</key>
	<string>Silver colored rare earth metal.</string>
	<key>discoverer</key>
	<string>Per Theodor Cleve</string>
	<key>discoveryLocation</key>
	<string>Sweden</string>
	<key>discoveryYear</key>
	<string>1879</string>
	<key>elasticModulusBulk</key>
	<string>45</string>
	<key>elasticModulusRigidity</key>
	<string>31</string>
	<key>elasticModulusYoungs</key>
	<string>74</string>
	<key>electroChemicalEquivalent</key>
	<string>2.101</string>
	<key>electroNegativity</key>
	<string>1.25</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>13</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string></string>
	<key>enthalpyOfAtomization</key>
	<string>247</string>
	<key>enthalpyOfFusion</key>
	<string>16.8</string>
	<key>enthalpyOfVaporization</key>
	<string>191</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4f</key>
			<string>13</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>471</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string>520</string>
	<key>heatOfFusion</key>
	<string>16.84</string>
	<key>heatOfVaporization</key>
	<string></string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.869</string>
	<key>ionizationPotentialFirst</key>
	<string>6.184</string>
	<key>ionizationPotentialSecond</key>
	<string>12.054</string>
	<key>ionizationPotentialThird</key>
	<string>26.367</string>
	<key>meltingPoint</key>
	<string>1545</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>27.03</string>
	<key>molarVolume</key>
	<string>18.12</string>
	<key>name</key>
	<string>Thulium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>69</string>
	<key>numberOfNeutrons</key>
	<string>100</string>
	<key>numberOfProtons</key>
	<string>69</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3, 2</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string>soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Lanthanide</string>
	<key>specificHeat</key>
	<string>0.160</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Tm</string>
	<key>valenceElectronPotential</key>
	<string>49.7</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4f</key>
			<string>13</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>844</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>962</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa100</key>
		<string>1108</string>
		<key>pa100Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>1297</string>
		<key>pa1kFootnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>1548</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>1944</string>
		<key>pa100kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
