<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+409</string>
	<key>abundanceCrust</key>
	<string>2.7</string>
	<key>abundanceSea</key>
	<string>3.2x10⁻³</string>
	<key>atomicMass</key>
	<string>238.02891</string>
	<key>atomicMassFootnote</key>
	<string>g m</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>3</integer>
	<key>atomicNumber</key>
	<integer>92</integer>
	<key>atomicRadius</key>
	<string></string>
	<key>atomicVolume</key>
	<string>12.59</string>
	<key>boilingPoint</key>
	<string>4131</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-61-1</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000134</string>
	<key>conductivityElectrical</key>
	<string>0.038</string>
	<key>conductivityThermal</key>
	<string>0.276</string>
	<key>covalentRadius</key>
	<string>1.42</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>7.595</string>
	<key>crystalStructure</key>
	<string>Cubic</string>
	<key>density</key>
	<string>19.1</string>
	<key>descr</key>
	<string>A very heavy silvery-white radioactive metal.</string>
	<key>discoverer</key>
	<string>Martin Klaproth</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1789</string>
	<key>elasticModulusBulk</key>
	<string>100</string>
	<key>elasticModulusRigidity</key>
	<string>111</string>
	<key>elasticModulusYoungs</key>
	<string>208</string>
	<key>electroChemicalEquivalent</key>
	<string>1.4801</string>
	<key>electroNegativity</key>
	<string>1.38</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>10</string>
		<key>5f</key>
		<string>3</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6d</key>
		<string>1</string>
		<key>6p</key>
		<string>6</string>
		<key>6s</key>
		<string>2</string>
		<key>7s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.63</string>
	<key>enthalpyOfAtomization</key>
	<string>489.5</string>
	<key>enthalpyOfFusion</key>
	<string>15.48</string>
	<key>enthalpyOfVaporization</key>
	<string>477</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5f</key>
			<string>3</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustible Solid</string>
	<key>group</key>
	<string></string>
	<key>hardnessScaleBrinell</key>
	<string>2400</string>
	<key>hardnessScaleMohs</key>
	<string>6</string>
	<key>hardnessScaleVickers</key>
	<string>1960</string>
	<key>heatOfFusion</key>
	<string>8.52</string>
	<key>heatOfVaporization</key>
	<string>477</string>
	<key>incompatibilities</key>
	<string>Carbon dioxide, carbon tetrachloride, nitric acid, fluorine</string>
	<key>ionicRadius</key>
	<string>0.52</string>
	<key>ionizationPotentialFirst</key>
	<string>6.05</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>1135</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>27.665</string>
	<key>molarVolume</key>
	<string>12.49</string>
	<key>name</key>
	<string>Uranium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>92</string>
	<key>numberOfNeutrons</key>
	<string>146</string>
	<key>numberOfProtons</key>
	<string>92</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>6, 5, 4, 3</string>
	<key>period</key>
	<string>7</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Actinide</string>
	<key>specificHeat</key>
	<string>0.116</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>U</string>
	<key>valenceElectronPotential</key>
	<string>170</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5f</key>
			<string>3</string>
		</dict>
		<dict>
			<key>6d</key>
			<string>1</string>
		</dict>
		<dict>
			<key>7s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2052</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa10</key>
		<string>2291</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>2586</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2961</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3454</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4129</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
