<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magneticSusceptibility</key>
	<string>+53</string>
	<key>abundanceCrust</key>
	<string>1.25</string>
	<key>abundanceSea</key>
	<string>1x10⁻⁴</string>
	<key>atomicMass</key>
	<string>183.84</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>1</integer>
	<key>atomicNumber</key>
	<integer>74</integer>
	<key>atomicRadius</key>
	<string>2.02</string>
	<key>atomicVolume</key>
	<string>9.53</string>
	<key>boilingPoint</key>
	<string>5555</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-33-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000046</string>
	<key>conductivityElectrical</key>
	<string>0.189</string>
	<key>conductivityThermal</key>
	<string>1.74</string>
	<key>covalentRadius</key>
	<string>1.3</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>18.5</string>
	<key>crystalStructure</key>
	<string>CubicBody</string>
	<key>density</key>
	<string>19.3</string>
	<key>descr</key>
	<string>Hard silver-white metal.</string>
	<key>discoverer</key>
	<string>Fausto and Juan José de Elhuyar</string>
	<key>discoveryLocation</key>
	<string>Spain</string>
	<key>discoveryYear</key>
	<string>1783</string>
	<key>elasticModulusBulk</key>
	<string>310</string>
	<key>elasticModulusRigidity</key>
	<string>161</string>
	<key>elasticModulusYoungs</key>
	<string>411</string>
	<key>electroChemicalEquivalent</key>
	<string>1.1432</string>
	<key>electroNegativity</key>
	<string>2.36</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>10</string>
		<key>4f</key>
		<string>14</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5d</key>
		<string>4</string>
		<key>5p</key>
		<string>6</string>
		<key>5s</key>
		<string>2</string>
		<key>6s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.55</string>
	<key>enthalpyOfAtomization</key>
	<string>837</string>
	<key>enthalpyOfFusion</key>
	<string>35.23</string>
	<key>enthalpyOfVaporization</key>
	<string>799.1</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>5d</key>
			<string>4</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustable</string>
	<key>group</key>
	<string>6</string>
	<key>hardnessScaleBrinell</key>
	<string>2570</string>
	<key>hardnessScaleMohs</key>
	<string>7.5</string>
	<key>hardnessScaleVickers</key>
	<string>3430</string>
	<key>heatOfFusion</key>
	<string>35.4</string>
	<key>heatOfVaporization</key>
	<string>824</string>
	<key>incompatibilities</key>
	<string>Bromine trifluoride, chlorine trifluoride, fluorine, iodine pentafluoride</string>
	<key>ionicRadius</key>
	<string>0.62</string>
	<key>ionizationPotentialFirst</key>
	<string>7.98</string>
	<key>ionizationPotentialSecond</key>
	<string></string>
	<key>ionizationPotentialThird</key>
	<string></string>
	<key>meltingPoint</key>
	<string>3422</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>24.27</string>
	<key>molarVolume</key>
	<string>9.5</string>
	<key>name</key>
	<string>Tungsten</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>74</string>
	<key>numberOfNeutrons</key>
	<string>110</string>
	<key>numberOfProtons</key>
	<string>74</string>
	<key>opticalReflectivity</key>
	<string>62</string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>6, 5, 4, 3, 2</string>
	<key>period</key>
	<string>6</string>
	<key>qualitativeSolubility</key>
	<string></string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.132</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>W</string>
	<key>valenceElectronPotential</key>
	<string>140</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>5d</key>
			<string>4</string>
		</dict>
		<dict>
			<key>6s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>3204</string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa10</key>
		<string>3500</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa100</key>
		<string>3864</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>4306</string>
		<key>pa1kFootnote</key>
		<string></string>
		<key>pa10k</key>
		<string>4854</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa100k</key>
		<string>5550</string>
		<key>pa100kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
