<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>3.3x10¹</string>
	<key>abundanceSea</key>
	<string>1.3x10⁻⁵</string>
	<key>atomicMass</key>
	<string>88.90585</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>39</integer>
	<key>atomicRadius</key>
	<string>2.27</string>
	<key>atomicVolume</key>
	<string>19.8</string>
	<key>boilingPoint</key>
	<string>3345</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-65-5</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000108</string>
	<key>conductivityElectrical</key>
	<string>0.0166</string>
	<key>conductivityThermal</key>
	<string>0.172</string>
	<key>covalentRadius</key>
	<string>1.62</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>1.3</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>4.47</string>
	<key>descr</key>
	<string>Silvery metal.</string>
	<key>discoverer</key>
	<string>Johann Gadolin</string>
	<key>discoveryLocation</key>
	<string>Finland</string>
	<key>discoveryYear</key>
	<string>1794</string>
	<key>elasticModulusBulk</key>
	<string>41</string>
	<key>elasticModulusRigidity</key>
	<string>26</string>
	<key>elasticModulusYoungs</key>
	<string>64</string>
	<key>electroChemicalEquivalent</key>
	<string>1.1057</string>
	<key>electroNegativity</key>
	<string>1.22</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>1</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>3.1</string>
	<key>enthalpyOfAtomization</key>
	<string>418</string>
	<key>enthalpyOfFusion</key>
	<string>17.15</string>
	<key>enthalpyOfVaporization</key>
	<string>393</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>1</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Non-combustible solid (except as dust)</string>
	<key>group</key>
	<string>3</string>
	<key>hardnessScaleBrinell</key>
	<string>589</string>
	<key>hardnessScaleMohs</key>
	<string></string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>11.4</string>
	<key>heatOfVaporization</key>
	<string>363</string>
	<key>incompatibilities</key>
	<string>Oxidizers</string>
	<key>ionicRadius</key>
	<string>0.9</string>
	<key>ionizationPotentialFirst</key>
	<string>6.38</string>
	<key>ionizationPotentialSecond</key>
	<string>12.24</string>
	<key>ionizationPotentialThird</key>
	<string>20.54</string>
	<key>magneticSusceptibility</key>
	<string>+187.7</string>
	<key>meltingPoint</key>
	<string>1522</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>26.53</string>
	<key>molarVolume</key>
	<string>19.89</string>
	<key>name</key>
	<string>Yttrium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.000</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr77</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>38</string>
			<key>nuclideSymbol</key>
			<string>Y77</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.300</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Rb76</string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.944</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclideSymbol</key>
			<string>Y78</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.937</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.100</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr79</string>
			<key>halfLife</key>
			<string>14.8s</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclideSymbol</key>
			<string>Y79</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.300</string>
			<key>decayModes</key>
			<string>ξ + P</string>
			<key>daughterIsotopes</key>
			<string>Rb78</string>
			<key>halfLife</key>
			<string>14.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.934</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.100</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr80</string>
			<key>halfLife</key>
			<string>35s</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclideSymbol</key>
			<string>Y80</string>
			<key>nuclearSpin</key>
			<string>3, 4, 5</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.9291</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.510</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr81</string>
			<key>halfLife</key>
			<string>70.4s</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclideSymbol</key>
			<string>Y81</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.927</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.820</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr82</string>
			<key>halfLife</key>
			<string>9.5s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclideSymbol</key>
			<string>Y82</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.9224</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.470</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr83</string>
			<key>halfLife</key>
			<string>7.08m</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclideSymbol</key>
			<string>Y83</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.062MeV</string>
			<key>zp</key>
			<string>60</string>
			<key>decayEnergy</key>
			<string>4.532</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr83</string>
			<key>halfLife</key>
			<string>2.85m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>40</string>
			<key>decayEnergy</key>
			<string>0.062</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Y83</string>
			<key>halfLife</key>
			<string>2.85m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.9204</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.490</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr84</string>
			<key>halfLife</key>
			<string>4.6s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclideSymbol</key>
			<string>Y84</string>
			<key>nuclearSpin</key>
			<string>1+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.490</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr84</string>
			<key>halfLife</key>
			<string>39.5m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.9164</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.250</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr85</string>
			<key>halfLife</key>
			<string>2.68h</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclideSymbol</key>
			<string>Y85</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.020MeV</string>
			<key>zp</key>
			<string>&lt;0.002</string>
			<key>decayEnergy</key>
			<string>0.020</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Y85</string>
			<key>halfLife</key>
			<string>4.86h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.270</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr85</string>
			<key>halfLife</key>
			<string>4.86h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.9149</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.240</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr86</string>
			<key>halfLife</key>
			<string>14.74h</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclideSymbol</key>
			<string>Y86</string>
			<key>nuclearSpin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.218MeV</string>
			<key>zp</key>
			<string>99.31</string>
			<key>decayEnergy</key>
			<string>0.218</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>48m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>0.7</string>
			<key>decayEnergy</key>
			<string>5.458</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr86</string>
			<key>halfLife</key>
			<string>48m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9109</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.862</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr87</string>
			<key>halfLife</key>
			<string>79.8h</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclideSymbol</key>
			<string>Y87</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.380MeV</string>
			<key>zp</key>
			<string>98.43</string>
			<key>decayEnergy</key>
			<string>0.381</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>13.37h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>1.57</string>
			<key>decayEnergy</key>
			<string>2.243</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr87</string>
			<key>halfLife</key>
			<string>13.37h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9095</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.623</string>
			<key>decayModes</key>
			<string>ξ</string>
			<key>daughterIsotopes</key>
			<string>Sr88</string>
			<key>halfLife</key>
			<string>106.65d</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclideSymbol</key>
			<string>Y88</string>
			<key>nuclearSpin</key>
			<string>4-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>13.9ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>100</string>
			<key>atomicMass</key>
			<string>88.9059</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclideSymbol</key>
			<string>Y89</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.909MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.909</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>16.06s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>89.9072</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.282</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr90</string>
			<key>halfLife</key>
			<string>64h</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclideSymbol</key>
			<string>Y90</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.682MeV</string>
			<key>zp</key>
			<string>0.0018</string>
			<key>decayEnergy</key>
			<string>2.964</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr90</string>
			<key>halfLife</key>
			<string>3.19h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>7+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.682</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>3.19h</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>90.907</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>58.51d</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclideSymbol</key>
			<string>Y91</string>
			<key>nuclearSpin</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>49.71m</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>91.9089</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.639</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr92</string>
			<key>halfLife</key>
			<string>3.54h</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclideSymbol</key>
			<string>Y92</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.9096</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.893</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr93</string>
			<key>halfLife</key>
			<string>10.18h</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclideSymbol</key>
			<string>Y93</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.758MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.759</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>0.82s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>93.9116</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.919</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr94</string>
			<key>halfLife</key>
			<string>18.7m</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclideSymbol</key>
			<string>Y94</string>
			<key>nuclearSpin</key>
			<string>2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.9128</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.420</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr95</string>
			<key>halfLife</key>
			<string>10.3m</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclideSymbol</key>
			<string>Y95</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>95.9159</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.087</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr96</string>
			<key>halfLife</key>
			<string>5.34s</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclideSymbol</key>
			<string>Y96</string>
			<key>nuclearSpin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.087</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr96</string>
			<key>halfLife</key>
			<string>9.6s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>8+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.9181</string>
			<key>zp</key>
			<string>0.05</string>
			<key>decayEnergy</key>
			<string>1.108</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr96</string>
			<key>halfLife</key>
			<string>3.75s</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclideSymbol</key>
			<string>Y97</string>
			<key>nuclearSpin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.688</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr97</string>
			<key>halfLife</key>
			<string>3.75s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.668MeV</string>
			<key>zp</key>
			<string>&gt;99.3</string>
			<key>decayEnergy</key>
			<string>7.356</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr97</string>
			<key>halfLife</key>
			<string>1.17s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;0.7</string>
			<key>decayEnergy</key>
			<string>0.668</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>1.17s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;0.08</string>
			<key>decayEnergy</key>
			<string>1.776</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr96</string>
			<key>halfLife</key>
			<string>1.17s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>3.523MeV</string>
			<key>zp</key>
			<string>&gt;80</string>
			<key>decayEnergy</key>
			<string>3.523</string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>142ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>27/2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;20</string>
			<key>decayEnergy</key>
			<string>10.211</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr97</string>
			<key>halfLife</key>
			<string>142ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9222</string>
			<key>zp</key>
			<string>0.33</string>
			<key>decayEnergy</key>
			<string>2.443</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr97</string>
			<key>halfLife</key>
			<string>0.548s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclideSymbol</key>
			<string>Y98</string>
			<key>nuclearSpin</key>
			<string>0-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.830</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr98</string>
			<key>halfLife</key>
			<string>0.548s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string>90</string>
			<key>decayEnergy</key>
			<string>8.830</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr98</string>
			<key>halfLife</key>
			<string>2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>4, 5</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>&lt;20</string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string>IT</string>
			<key>daughterIsotopes</key>
			<string>Y98</string>
			<key>halfLife</key>
			<string>2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string>3.4</string>
			<key>decayEnergy</key>
			<string>2.443</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr97</string>
			<key>halfLife</key>
			<string>2s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.9246</string>
			<key>zp</key>
			<string>1.9</string>
			<key>decayEnergy</key>
			<string>2.990</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr98</string>
			<key>halfLife</key>
			<string>1.470s</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclideSymbol</key>
			<string>Y99</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.567</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr99</string>
			<key>halfLife</key>
			<string>1.470s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.9278</string>
			<key>zp</key>
			<string>0.92</string>
			<key>decayEnergy</key>
			<string>2.400</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr99</string>
			<key>halfLife</key>
			<string>735ms</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclideSymbol</key>
			<string>Y100</string>
			<key>nuclearSpin</key>
			<string>1-, 2-</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.310</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr100</string>
			<key>halfLife</key>
			<string>735ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.310</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr100</string>
			<key>halfLife</key>
			<string>0.94s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>3, 4, 5</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.93</string>
			<key>zp</key>
			<string>1.94</string>
			<key>decayEnergy</key>
			<string>3.620</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr100</string>
			<key>halfLife</key>
			<string>0.45s</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclideSymbol</key>
			<string>Y101</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.550</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr101</string>
			<key>halfLife</key>
			<string>0.45s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.9336</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.850</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr102</string>
			<key>halfLife</key>
			<string>0.36s</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclideSymbol</key>
			<string>Y102</string>
			<key>nuclearSpin</key>
			<string>low</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.000MeV</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.850</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr102</string>
			<key>halfLife</key>
			<string>0.3s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string>MS</string>
			<key>nuclearSpin</key>
			<string>high</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.937</string>
			<key>zp</key>
			<string>8</string>
			<key>decayEnergy</key>
			<string>4.900</string>
			<key>decayModes</key>
			<string>β- + N</string>
			<key>daughterIsotopes</key>
			<string>Zr102</string>
			<key>halfLife</key>
			<string>0.23s</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclideSymbol</key>
			<string>Y103</string>
			<key>nuclearSpin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.600</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr103</string>
			<key>halfLife</key>
			<string>0.23s</string>
			<key>nn</key>
			<string></string>
			<key>nuclideSymbol</key>
			<string></string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.941</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.800</string>
			<key>decayModes</key>
			<string>β-</string>
			<key>daughterIsotopes</key>
			<string>Zr104</string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclideSymbol</key>
			<string>Y104</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.945</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclideSymbol</key>
			<string>Y105</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
		<dict>
			<key>isotopicComposition</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.95</string>
			<key>zp</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>decayModes</key>
			<string></string>
			<key>daughterIsotopes</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>67</string>
			<key>nuclideSymbol</key>
			<string>Y106</string>
			<key>nuclearSpin</key>
			<string></string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>39</string>
	<key>numberOfNeutrons</key>
	<string>50</string>
	<key>numberOfProtons</key>
	<string>39</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>3</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>reacts with H₂0; soluble in diluted acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.298</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Y</string>
	<key>valenceElectronPotential</key>
	<string>48</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>1</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>1610.1</string>
		<key>pa10</key>
		<string>1802.3</string>
		<key>pa100</key>
		<string>2047</string>
		<key>pa100Footnote</key>
		<string>i</string>
		<key>pa100k</key>
		<string>3334</string>
		<key>pa100kFootnote</key>
		<string>i</string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>2763</string>
		<key>pa10kFootnote</key>
		<string>i</string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>2354</string>
		<key>pa1kFootnote</key>
		<string>i</string>
	</dict>
</dict>
</plist>
