<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>7x10¹</string>
	<key>abundanceSea</key>
	<string>4.9x10⁻³</string>
	<key>atomicMass</key>
	<string>65.409</string>
	<key>atomicMassFootnote</key>
	<string></string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>4</integer>
	<key>atomicNumber</key>
	<integer>30</integer>
	<key>atomicRadius</key>
	<string>1.53</string>
	<key>atomicVolume</key>
	<string>9.2</string>
	<key>boilingPoint</key>
	<string>907</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-66-6</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.0000397</string>
	<key>conductivityElectrical</key>
	<string>0.166</string>
	<key>conductivityThermal</key>
	<string>1.16</string>
	<key>covalentRadius</key>
	<string>1.25</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>1.1</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>7.14</string>
	<key>descr</key>
	<string>Hard brittle shiny bluish-white transition metal.</string>
	<key>discoverer</key>
	<string>Andreas Marggraf</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1746</string>
	<key>elasticModulusBulk</key>
	<string>70</string>
	<key>elasticModulusRigidity</key>
	<string>43</string>
	<key>elasticModulusYoungs</key>
	<string>108</string>
	<key>electroChemicalEquivalent</key>
	<string>1.22</string>
	<key>electroNegativity</key>
	<string>1.65</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.33</string>
	<key>enthalpyOfAtomization</key>
	<string>129.7</string>
	<key>enthalpyOfFusion</key>
	<string>7.32</string>
	<key>enthalpyOfVaporization</key>
	<string>115.5</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>3d</key>
			<string>10</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string></string>
	<key>group</key>
	<string>12</string>
	<key>hardnessScaleBrinell</key>
	<string>412</string>
	<key>hardnessScaleMohs</key>
	<string>2.5</string>
	<key>hardnessScaleVickers</key>
	<string></string>
	<key>heatOfFusion</key>
	<string>7.322</string>
	<key>heatOfVaporization</key>
	<string>115.3</string>
	<key>incompatibilities</key>
	<string></string>
	<key>ionicRadius</key>
	<string>0.74</string>
	<key>ionizationPotentialFirst</key>
	<string>9.394</string>
	<key>ionizationPotentialSecond</key>
	<string>16.964</string>
	<key>ionizationPotentialThird</key>
	<string>39.722</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>4680.1359</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Zn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4722.1569</string>
			<key>intensity</key>
			<string>250</string>
			<key>spectrum</key>
			<string>Zn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4810.5321</string>
			<key>intensity</key>
			<string>400</string>
			<key>spectrum</key>
			<string>Zn I</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4911.6269</string>
			<key>intensity</key>
			<string>80</string>
			<key>spectrum</key>
			<string>Zn II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>4924.0132</string>
			<key>intensity</key>
			<string>120</string>
			<key>spectrum</key>
			<string>Zn II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>5894.3607</string>
			<key>intensity</key>
			<string>100</string>
			<key>spectrum</key>
			<string>Zn II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6214.5778</string>
			<key>intensity</key>
			<string>40</string>
			<key>spectrum</key>
			<string>Zn II</string>
		</dict>
		<dict>
			<key>airWavelength</key>
			<string>6362.3458</string>
			<key>intensity</key>
			<string>30</string>
			<key>spectrum</key>
			<string>Zn I</string>
		</dict>
	</array>
	<key>magneticSusceptibility</key>
	<string>+9.15</string>
	<key>meltingPoint</key>
	<string>419.53</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.390</string>
	<key>molarVolume</key>
	<string>9.16</string>
	<key>name</key>
	<string>Zinc</string>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>53.993</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>24</string>
			<key>nuclide</key>
			<string>Zn54</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>54.984</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>25</string>
			<key>nuclide</key>
			<string>Zn55</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>55.972</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>26</string>
			<key>nuclide</key>
			<string>Zn56</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>56.965</string>
			<key>br</key>
			<string>&gt;=65</string>
			<key>decayEnergy</key>
			<string>13.930</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ni56</string>
			<key>halfLife</key>
			<string>40ms</string>
			<key>nn</key>
			<string>27</string>
			<key>nuclide</key>
			<string>Zn57</string>
			<key>spin</key>
			<string>7/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>14.620</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu57</string>
			<key>halfLife</key>
			<string>40ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>57.9546</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.370</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu58</string>
			<key>halfLife</key>
			<string>65ms</string>
			<key>nn</key>
			<string>28</string>
			<key>nuclide</key>
			<string>Zn58</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>58.9493</string>
			<key>br</key>
			<string>0.1</string>
			<key>decayEnergy</key>
			<string>5.680</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Ni58</string>
			<key>halfLife</key>
			<string>182ms</string>
			<key>nn</key>
			<string>29</string>
			<key>nuclide</key>
			<string>Zn59</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.090</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu59</string>
			<key>halfLife</key>
			<string>182ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>59.9418</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.158</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu60</string>
			<key>halfLife</key>
			<string>2.38m</string>
			<key>nn</key>
			<string>30</string>
			<key>nuclide</key>
			<string>Zn60</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>60.9395</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.637</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu61</string>
			<key>halfLife</key>
			<string>89.1s</string>
			<key>nn</key>
			<string>31</string>
			<key>nuclide</key>
			<string>Zn61</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>61.9343</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.627</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu62</string>
			<key>halfLife</key>
			<string>9.186h</string>
			<key>nn</key>
			<string>32</string>
			<key>nuclide</key>
			<string>Zn62</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>62.9332</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.367</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu63</string>
			<key>halfLife</key>
			<string>38.47m</string>
			<key>nn</key>
			<string>33</string>
			<key>nuclide</key>
			<string>Zn63</string>
			<key>spin</key>
			<string>3/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>48.6</string>
			<key>atomicMass</key>
			<string>63.9292</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>34</string>
			<key>nuclide</key>
			<string>Zn64</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>64.9293</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.352</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Cu65</string>
			<key>halfLife</key>
			<string>244.26d</string>
			<key>nn</key>
			<string>35</string>
			<key>nuclide</key>
			<string>Zn65</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>27.9</string>
			<key>atomicMass</key>
			<string>65.926</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>36</string>
			<key>nuclide</key>
			<string>Zn66</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>4.1</string>
			<key>atomicMass</key>
			<string>66.9271</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>37</string>
			<key>nuclide</key>
			<string>Zn67</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>18.8</string>
			<key>atomicMass</key>
			<string>67.9249</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>38</string>
			<key>nuclide</key>
			<string>Zn68</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>68.9266</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.906</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga69</string>
			<key>halfLife</key>
			<string>56.4m</string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Zn69</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.439MeV</string>
			<key>br</key>
			<string>99.97</string>
			<key>decayEnergy</key>
			<string>0.439</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>13.76h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>0.03</string>
			<key>decayEnergy</key>
			<string>1.345</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga69</string>
			<key>halfLife</key>
			<string>13.76h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>0.6</string>
			<key>atomicMass</key>
			<string>69.9253</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;5E¹⁴y</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Zn70</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>70.9277</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.813</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga71</string>
			<key>halfLife</key>
			<string>2.45m</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Zn71</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.158MeV</string>
			<key>br</key>
			<string>&lt;=0.05</string>
			<key>decayEnergy</key>
			<string>0.158</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>3.96h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.971</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga71</string>
			<key>halfLife</key>
			<string>3.96h</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>71.9269</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.458</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga72</string>
			<key>halfLife</key>
			<string>46.5h</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Zn72</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>72.9298</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.290</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga73</string>
			<key>halfLife</key>
			<string>23.5s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Zn73</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.196MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.486</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga73</string>
			<key>halfLife</key>
			<string>5.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.196</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>5.8s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>73.9295</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.340</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga74</string>
			<key>halfLife</key>
			<string>95.6s</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Zn74</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>74.9329</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.000</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga75</string>
			<key>halfLife</key>
			<string>10.2s</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Zn75</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>75.933</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.160</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga76</string>
			<key>halfLife</key>
			<string>5.7s</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Zn76</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>76.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.270</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga77</string>
			<key>halfLife</key>
			<string>2.08s</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Zn77</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.772MeV</string>
			<key>br</key>
			<string>&lt;50</string>
			<key>decayEnergy</key>
			<string>8.042</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga77</string>
			<key>halfLife</key>
			<string>1.05s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>&gt;50</string>
			<key>decayEnergy</key>
			<string>0.772</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>1.05s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>77.939</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.440</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga78</string>
			<key>halfLife</key>
			<string>1.47s</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Zn78</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.943</string>
			<key>br</key>
			<string>1.3</string>
			<key>decayEnergy</key>
			<string>2.200</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ga78</string>
			<key>halfLife</key>
			<string>995ms</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Zn79</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>9.090</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga79</string>
			<key>halfLife</key>
			<string>995ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.944</string>
			<key>br</key>
			<string>1</string>
			<key>decayEnergy</key>
			<string>2.640</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ga79</string>
			<key>halfLife</key>
			<string>0.545s</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Zn80</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.290</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga80</string>
			<key>halfLife</key>
			<string>0.545s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.95</string>
			<key>br</key>
			<string>7.5</string>
			<key>decayEnergy</key>
			<string>4.900</string>
			<key>dm</key>
			<string>β- + N</string>
			<key>dt</key>
			<string>Ga80</string>
			<key>halfLife</key>
			<string>0.29s</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Zn81</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>11.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Ga81</string>
			<key>halfLife</key>
			<string>0.29s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.955</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Zn82</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Zn83</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>30</string>
	<key>numberOfNeutrons</key>
	<string>35</string>
	<key>numberOfProtons</key>
	<string>30</string>
	<key>opticalReflectivity</key>
	<string>80</string>
	<key>opticalRefractiveIndex</key>
	<string>1.00205</string>
	<key>oxidationStates</key>
	<string>2</string>
	<key>period</key>
	<string>4</string>
	<key>qualitativeSolubility</key>
	<string>soluble in acid, alkaline solutions</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.388</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Zn</string>
	<key>valenceElectronPotential</key>
	<string>38.9</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>377</string>
		<key>pa10</key>
		<string>397</string>
		<key>pa100</key>
		<string>477</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>912</string>
		<key>pa100kFootnote</key>
		<string>e</string>
		<key>pa10Footnote</key>
		<string>s</string>
		<key>pa10k</key>
		<string>717</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string>s</string>
		<key>pa1k</key>
		<string>579</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
