<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abundanceCrust</key>
	<string>1.65x10²</string>
	<key>abundanceSea</key>
	<string>3x10⁻⁵</string>
	<key>atomicMass</key>
	<string>91.224</string>
	<key>atomicMassFootnote</key>
	<string>g</string>
	<key>atomicMassKnownAccurately</key>
	<true/>
	<key>atomicMassUncertainty</key>
	<integer>2</integer>
	<key>atomicNumber</key>
	<integer>40</integer>
	<key>atomicRadius</key>
	<string>2.16</string>
	<key>atomicVolume</key>
	<string>14.1</string>
	<key>boilingPoint</key>
	<string>4409</string>
	<key>boilingPointFootnote</key>
	<string></string>
	<key>casRegistryNumber</key>
	<string>7440-67-7</string>
	<key>coefficientOfLinealThermalExpansion</key>
	<string>0.00000585</string>
	<key>conductivityElectrical</key>
	<string>0.0236</string>
	<key>conductivityThermal</key>
	<string>0.227</string>
	<key>covalentRadius</key>
	<string>1.45</string>
	<key>criticalTemperature</key>
	<string></string>
	<key>crossSection</key>
	<string>0.182</string>
	<key>crystalStructure</key>
	<string>Hexagonal</string>
	<key>density</key>
	<string>6.52</string>
	<key>descr</key>
	<string>Rare grayish-white metal.</string>
	<key>discoverer</key>
	<string>Martin Klaproth</string>
	<key>discoveryLocation</key>
	<string>Germany</string>
	<key>discoveryYear</key>
	<string>1789</string>
	<key>elasticModulusBulk</key>
	<string></string>
	<key>elasticModulusRigidity</key>
	<string>33</string>
	<key>elasticModulusYoungs</key>
	<string>68</string>
	<key>electroChemicalEquivalent</key>
	<string>0.8509</string>
	<key>electroNegativity</key>
	<string>1.33</string>
	<key>electronConfiguration</key>
	<dict>
		<key>1s</key>
		<string>2</string>
		<key>2p</key>
		<string>6</string>
		<key>2s</key>
		<string>2</string>
		<key>3d</key>
		<string>10</string>
		<key>3p</key>
		<string>6</string>
		<key>3s</key>
		<string>2</string>
		<key>4d</key>
		<string>2</string>
		<key>4p</key>
		<string>6</string>
		<key>4s</key>
		<string>2</string>
		<key>5s</key>
		<string>2</string>
	</dict>
	<key>electronWorkFunction</key>
	<string>4.05</string>
	<key>enthalpyOfAtomization</key>
	<string>598</string>
	<key>enthalpyOfFusion</key>
	<string>20.9</string>
	<key>enthalpyOfVaporization</key>
	<string>581.6</string>
	<key>fillingOrbital</key>
	<array>
		<dict>
			<key>4d</key>
			<string>2</string>
		</dict>
	</array>
	<key>flammabilityClass</key>
	<string>Combustible</string>
	<key>group</key>
	<string>4</string>
	<key>hardnessScaleBrinell</key>
	<string>650</string>
	<key>hardnessScaleMohs</key>
	<string>3</string>
	<key>hardnessScaleVickers</key>
	<string>903</string>
	<key>heatOfFusion</key>
	<string>16.9</string>
	<key>heatOfVaporization</key>
	<string>58.2</string>
	<key>incompatibilities</key>
	<string>Potassium nitrate, oxidizers.</string>
	<key>ionicRadius</key>
	<string>0.72</string>
	<key>ionizationPotentialFirst</key>
	<string>6.84</string>
	<key>ionizationPotentialSecond</key>
	<string>13.13</string>
	<key>ionizationPotentialThird</key>
	<string>22.99</string>
	<key>magneticSusceptibility</key>
	<string>+120</string>
	<key>meltingPoint</key>
	<string>1855</string>
	<key>meltingPointFootnote</key>
	<string></string>
	<key>molarHeatCapacity</key>
	<string>25.36</string>
	<key>molarVolume</key>
	<string>14.06</string>
	<key>name</key>
	<string>Zirconium</string>
	<key>lineSpectra</key>
	<array>
		<dict>
			<key>airWavelength</key>
			<string>0</string>
			<key>intensity</key>
			<string>0</string>
			<key>spectrum</key>
			<string>TBD</string>
		</dict>
	</array>
	<key>nuclidesAndIsotopes</key>
	<array>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>78.949</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>39</string>
			<key>nuclide</key>
			<string>Zr79</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>79.941</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>40</string>
			<key>nuclide</key>
			<string>Zr80</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>80.937</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>7.200</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y81</string>
			<key>halfLife</key>
			<string>15s</string>
			<key>nn</key>
			<string>41</string>
			<key>nuclide</key>
			<string>Zr81</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.200</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Sr80</string>
			<key>halfLife</key>
			<string>15s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>81.931</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.000</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y82</string>
			<key>halfLife</key>
			<string>32s</string>
			<key>nn</key>
			<string>42</string>
			<key>nuclide</key>
			<string>Zr82</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>82.929</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.870</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y83</string>
			<key>halfLife</key>
			<string>44s</string>
			<key>nn</key>
			<string>43</string>
			<key>nuclide</key>
			<string>Zr83</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.260</string>
			<key>dm</key>
			<string>ξ + P</string>
			<key>dt</key>
			<string>Sr82</string>
			<key>halfLife</key>
			<string>44s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>83.923</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>25.9m</string>
			<key>nn</key>
			<string>44</string>
			<key>nuclide</key>
			<string>Zr84</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>84.921</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.690</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y85</string>
			<key>halfLife</key>
			<string>7.86m</string>
			<key>nn</key>
			<string>45</string>
			<key>nuclide</key>
			<string>Zr85</string>
			<key>spin</key>
			<string>7/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.292MeV</string>
			<key>br</key>
			<string>&lt;=92</string>
			<key>decayEnergy</key>
			<string>0.292</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>10.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>&gt;8</string>
			<key>decayEnergy</key>
			<string>4.982</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y85</string>
			<key>halfLife</key>
			<string>10.9s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>85.9165</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.480</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y86</string>
			<key>halfLife</key>
			<string>16.5h</string>
			<key>nn</key>
			<string>46</string>
			<key>nuclide</key>
			<string>Zr86</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>86.9148</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.665</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y87</string>
			<key>halfLife</key>
			<string>1.68h</string>
			<key>nn</key>
			<string>47</string>
			<key>nuclide</key>
			<string>Zr87</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.336MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.336</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>14s</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>87.9102</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.670</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y88</string>
			<key>halfLife</key>
			<string>83.4d</string>
			<key>nn</key>
			<string>48</string>
			<key>nuclide</key>
			<string>Zr88</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>88.9089</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.832</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y89</string>
			<key>halfLife</key>
			<string>78.41h</string>
			<key>nn</key>
			<string>49</string>
			<key>nuclide</key>
			<string>Zr89</string>
			<key>spin</key>
			<string>9/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>0.588MeV</string>
			<key>br</key>
			<string>93.77</string>
			<key>decayEnergy</key>
			<string>0.588</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>4.18m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>1/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string></string>
			<key>atomicMass</key>
			<string></string>
			<key>br</key>
			<string>6.23</string>
			<key>decayEnergy</key>
			<string>3.420</string>
			<key>dm</key>
			<string>ξ</string>
			<key>dt</key>
			<string>Y89</string>
			<key>halfLife</key>
			<string>4.18m</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string></string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>51.45</string>
			<key>atomicMass</key>
			<string>89.9047</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>50</string>
			<key>nuclide</key>
			<string>Zr90</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>2.319MeV</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.319</string>
			<key>dm</key>
			<string>IT</string>
			<key>dt</key>
			<string>Zr90</string>
			<key>halfLife</key>
			<string>809.2ms</string>
			<key>nn</key>
			<string></string>
			<key>nuclide</key>
			<string>MS</string>
			<key>spin</key>
			<string>5-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>11.22</string>
			<key>atomicMass</key>
			<string>90.9057</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>51</string>
			<key>nuclide</key>
			<string>Zr91</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>17.15</string>
			<key>atomicMass</key>
			<string>91.905</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>52</string>
			<key>nuclide</key>
			<string>Zr92</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>92.9065</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>0.091</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb93</string>
			<key>halfLife</key>
			<string>1530000y</string>
			<key>nn</key>
			<string>53</string>
			<key>nuclide</key>
			<string>Zr93</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>17.38</string>
			<key>atomicMass</key>
			<string>93.9063</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>Stable</string>
			<key>nn</key>
			<string>54</string>
			<key>nuclide</key>
			<string>Zr94</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>94.908</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>1.125</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb95</string>
			<key>halfLife</key>
			<string>64.02d</string>
			<key>nn</key>
			<string>55</string>
			<key>nuclide</key>
			<string>Zr95</string>
			<key>spin</key>
			<string>5/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>2.8</string>
			<key>atomicMass</key>
			<string>95.9083</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.350</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Mo96</string>
			<key>halfLife</key>
			<string>&gt;3.8E¹⁹y</string>
			<key>nn</key>
			<string>56</string>
			<key>nuclide</key>
			<string>Zr96</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>96.911</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.658</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb97</string>
			<key>halfLife</key>
			<string>16.91h</string>
			<key>nn</key>
			<string>57</string>
			<key>nuclide</key>
			<string>Zr97</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>97.9127</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>2.261</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb98</string>
			<key>halfLife</key>
			<string>30.7s</string>
			<key>nn</key>
			<string>58</string>
			<key>nuclide</key>
			<string>Zr98</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>98.9165</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.558</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb99</string>
			<key>halfLife</key>
			<string>2.1s</string>
			<key>nn</key>
			<string>59</string>
			<key>nuclide</key>
			<string>Zr99</string>
			<key>spin</key>
			<string>1/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>99.9178</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>3.340</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb100</string>
			<key>halfLife</key>
			<string>7.1s</string>
			<key>nn</key>
			<string>60</string>
			<key>nuclide</key>
			<string>Zr100</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>100.9211</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.490</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb101</string>
			<key>halfLife</key>
			<string>2.3s</string>
			<key>nn</key>
			<string>61</string>
			<key>nuclide</key>
			<string>Zr101</string>
			<key>spin</key>
			<string>3/2+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>101.923</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>4.610</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb102</string>
			<key>halfLife</key>
			<string>2.9s</string>
			<key>nn</key>
			<string>62</string>
			<key>nuclide</key>
			<string>Zr102</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>102.927</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>6.950</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb103</string>
			<key>halfLife</key>
			<string>1.3s</string>
			<key>nn</key>
			<string>63</string>
			<key>nuclide</key>
			<string>Zr103</string>
			<key>spin</key>
			<string>5/2-</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>103.929</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>5.900</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb104</string>
			<key>halfLife</key>
			<string>1.2s</string>
			<key>nn</key>
			<string>64</string>
			<key>nuclide</key>
			<string>Zr104</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>104.933</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string>8.500</string>
			<key>dm</key>
			<string>β-</string>
			<key>dt</key>
			<string>Nb105</string>
			<key>halfLife</key>
			<string>0.6s</string>
			<key>nn</key>
			<string>65</string>
			<key>nuclide</key>
			<string>Zr105</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>105.936</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>66</string>
			<key>nuclide</key>
			<string>Zr106</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>106.941</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string>&gt;150ns</string>
			<key>nn</key>
			<string>67</string>
			<key>nuclide</key>
			<string>Zr107</string>
			<key>spin</key>
			<string></string>
		</dict>
		<dict>
			<key>abun</key>
			<string>Syn</string>
			<key>atomicMass</key>
			<string>107.944</string>
			<key>br</key>
			<string></string>
			<key>decayEnergy</key>
			<string></string>
			<key>dm</key>
			<string></string>
			<key>dt</key>
			<string></string>
			<key>halfLife</key>
			<string></string>
			<key>nn</key>
			<string>68</string>
			<key>nuclide</key>
			<string>Zr108</string>
			<key>spin</key>
			<string>0+</string>
		</dict>
	</array>
	<key>numberOfElectrons</key>
	<string>40</string>
	<key>numberOfNeutrons</key>
	<string>51</string>
	<key>numberOfProtons</key>
	<string>40</string>
	<key>opticalReflectivity</key>
	<string></string>
	<key>opticalRefractiveIndex</key>
	<string></string>
	<key>oxidationStates</key>
	<string>4</string>
	<key>period</key>
	<string>5</string>
	<key>qualitativeSolubility</key>
	<string>soluble in hot concentrated acid</string>
	<key>relativeGasDensity</key>
	<string></string>
	<key>series</key>
	<string>Transition Metal</string>
	<key>specificHeat</key>
	<string>0.278</string>
	<key>standardCondition</key>
	<string>Solid</string>
	<key>symbol</key>
	<string>Zr</string>
	<key>valenceElectronPotential</key>
	<string>80</string>
	<key>valenceElectrons</key>
	<array>
		<dict>
			<key>4d</key>
			<string>2</string>
		</dict>
		<dict>
			<key>5s</key>
			<string>2</string>
		</dict>
	</array>
	<key>vaporPressure</key>
	<dict>
		<key>pa1</key>
		<string>2366</string>
		<key>pa10</key>
		<string>2618</string>
		<key>pa100</key>
		<string>2924</string>
		<key>pa100Footnote</key>
		<string></string>
		<key>pa100k</key>
		<string>4405</string>
		<key>pa100kFootnote</key>
		<string></string>
		<key>pa10Footnote</key>
		<string></string>
		<key>pa10k</key>
		<string>3780</string>
		<key>pa10kFootnote</key>
		<string></string>
		<key>pa1Footnote</key>
		<string></string>
		<key>pa1k</key>
		<string>3302</string>
		<key>pa1kFootnote</key>
		<string></string>
	</dict>
</dict>
</plist>
